




<script id="no-destinations-tmp" type="text/x-handlebars-template">
    <div class="no-dests">
        <div class="ln1">You havent's set any destinations yet or no results were found</div>
        <div class="tbl">
            
            <div class="cell">
                
                <div class="ico-all ico-map">
                    <div class="txt">Click out your destinations</div>
                    <div class="ico">
                        <span class="icon-earth"></span>
                    </div>
                </div>

            </div>

            <div class="cell">
                <span class="or">OR</span>
            </div>

            <div class="cell">
                <div class="ico-all ico-search">
                    <div class="txt">Search for your destinations</div>
                    <div class="ico">
                        <span class="icon-search"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>

<script id="loc-dlg-tmp" type="text/x-handlebars-template">
    
    <div class="location-dialog">

        <div>
            <div class="input-block">
                <div class="title">@Model.W("WhereDoYouLive")</div>
                <div id="currentCity" class="dropdown place-combo">
                    <input class="inputed" type="text" placeholder="@Model.W("CityNamePlaceholder")" value="@Model.InitCurrentLocation">
                    <img class="loader" src="/images/loader-gray.gif" style="display: none" />
                    <span class="icon-logo-pin"></span>
                    <ul></ul>
                </div>
            </div>

            <div id="rangeBlock" class="input-block @(string.IsNullOrEmpty(Model.InitCurrentLocation) ? "hidden" : string.Empty)">
                <div class="title">@Model.W("SelectAirportsInRange")</div>
                <div id="airportsRange" class="dropdown">
                    <span class="selected">200 km</span>
                    <ul>
                        <li data-value="100">100 km</li>
                        <li data-value="200">200 km</li>
                        <li data-value="300">300 km</li>
                        <li data-value="400">400 km</li>
                        <li data-value="500">500 km</li>
                    </ul>
                    <input type="hidden">
                </div>
                <a id="addAirsRange" class="lbtn2 yellow-green add-btn" href="#">@Model.W("SelectBtn")</a>
            </div>
        </div>

        <div class="bottom-line">
            <div class="title">@Model.W("CustomizeYourAirports")</div>
            <div id="airportsCont" class="airports-cont">
            </div>


            <div id="airportCombo" class="dropdown">
                <input class="inputed" type="text" placeholder="@Model.W("SearchForAirportsPlaceholder")">
                <ul></ul>
            </div>
        </div>

        <div class="refresh-line hidden">
            <a id="refreshResults" class="lbtn2 refresh-results" href="#">@Model.W("RefreshResultsBtn")</a>
        </div>


    </div>

</script>

<script id="homeAirportItem-template" type="text/x-handlebars-template">
    <div id="{{id}}" data-code="{{airCode}}" class="airport">
        <span class="name" title="{{airName}}">{{city}} ({{airCode}})</span>
        <a class="icon-cross-small delete" href="#"></a>
    </div>
</script>


<script id="grouping-itm-tmp" type="text/x-handlebars-template">
    <span class="item" data-id="{{id}}">
        <span class="icon icon-{{icon}}"></span>
        <span class="txt">{{txt}}</span>
    </span>
</script>

<script id="custom-bar-icons-tmp" type="text/x-handlebars-template">
    
    <div class="ico-wrap delete">
        <div class="ico-part">
            <span class="icon-bin"></span>
        </div>
        <div class="desc-part">Delete search</div>
    </div>
    
    <div class="ico-wrap settings">
        <div class="ico-part">
            <span class="icon-gear"></span>
        </div>
        <div class="desc-part">Search settings</div>
    </div>

</script>



<script id="category-block-template" type="text/x-handlebars-template">

        <div class="cat-all" id="{{catId}}">

            <div class="cat-bar">

                <div class="wrapper">

                    <div class="tbl">

                        <div class="cb-c cb-l">


                            <div class="block-item">

                                <span class="title-name">{{titleName}}</span>

                                <span class="icon-edit-pencil name-edit-btn hidden"></span>
                                <span class="name-edit hidden">
                                    <input type="text" class="input" value="{{titleName}}" />
                                    <a href="#" class="lbtn2 green-orange save">Save</a>
                                </span>

                                <span class="icon-info info-btn"></span>

                            </div>

                            <div class="block-item">

                                <div class="order-combo">

                                    <div class="cmb-tbl">
                                        <div class="c l">
                                            <span class="icon-city sel-ico"></span>
                                        </div>
                                        <div class="c m">
                                            <span class="txt">By city</span>
                                        </div>
                                        <div class="c r">
                                            <span class="icon-dropdown-arrow arrow"></span>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>

                        <div class="cb-c cb-r">

                            <div class="block-item custom-icons">

                            </div>

                            <div class="block-item">

                                <div class="ico-wrap edit-map">
                                    <div class="ico-part">
                                        <span class="icon-everybody-data"></span>
                                    </div>
                                    <div class="desc-part">Edit on map</div>
                                </div>

                                <div class="ico-wrap edit-list">
                                    <div class="ico-part">
                                        <span class="icon-search"></span>
                                    </div>
                                    <div class="desc-part">Edit as list</div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="wrapper">

                <div class="cat-drop-cont" style="display: none;">

                    <span class="icon-cross-small form-close"></span>
                    <div class="cont">

                    </div>

                </div>

                <div class="cat-filter">

                </div>

                <div class="cat-set">

                    <div class="cat-set-win places-tag-sel hidden">

                        <span class="icon-cross-small form-close"></span>

                        <div class="places-tagger">

                            <div class="places-cont">

                            </div>

                            <div class="place-search">
                                <input class="inputed" type="text" placeholder="Place name">
                                <img class="loader" src="/images/loader-gray.gif" style="display: none" />

                                <div class="place-search-results hidden">

                                    <span class="icon-cross-small close"></span>

                                    <div class="section sect-cities hidden">
                                        <div class="title">Cities</div>
                                        <div class="content"></div>
                                    </div>

                                    <div id="sectCountries" class="section sect-countries hidden">
                                        <div class="title">Countries</div>
                                        <div class="content"></div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="cat-set-win places-map-sel hidden">

                        <span class="icon-cross-small form-close"></span>

                        <div class="map-cont">
                            <div class="map" id="mapCountries_{{catId}}"></div>
                            <div class="map hidden" id="mapCities_{{catId}}"></div>

                            <div class="map-type-switch">
                                <div class="items-tbl">
                                    <div class="country btn active">@Model.W("ViewSwitchCountries")</div>
                                    <div class="city btn">@Model.W("ViewSwitchCities")</div>
                                </div>
                            </div>

                            <div class="map-disabler"></div>
                        </div>
                    </div>


                </div>

                <div class="cat-queue">
                    <span class="preloader">
                        <img src="/images/n/Plane_icon.svg">
                    </span>
                    <div class="cont">

                    </div>
                </div>

                <div class="cat-res">

                </div>

            </div>

        </div>

    </script>

    <script id="wiz-air-item" type="text/x-handlebars-template">
        <span data-code="{{airCode}}" class="wiz-air">
            <span class="name" title="{{airName}}">{{city}} ({{airCode}})</span>
            <a class="icon-cross-small delete" href="#"></a>
        </span>
    </script>


    <script id="map-place-item" type="text/x-handlebars-template">
        <span data-t="{{type}}" data-id="{{id}}" class="place-tag">
            <span class="txt">{{name}}</span><span class="icon-cross-small close"></span>
        </span>
    </script>



    <script id="flights-empty-template" type="text/x-handlebars-template">

        <div class="other-flights-empty">

            <div class="info">
                <span class="smile">:(</span>
                @Model.W("NoResultsFound")
            </div>
        </div>

    </script>

<script id="stops-filter-item-tmp" type="text/x-handlebars-template">
    
    <span class="dir-item"><input id="sfcb_{{order}}" type="checkbox" checked /><label for="sfcb_{{order}}"><span class="bold">{{txt}}</span> ({{cnt}} flights) from <span class="bold">€{{from}}</span></label></span>
    
</script>

<script id="deals-srch-template" type="text/x-handlebars-template">
        <div class="other-flights-filter">

            <div class="multi-conn-cont" style="display: none">
                <div class="title">@Model.W("WhatConnectionsInterested")</div>
                <div class="airpairs-filter"></div>
            </div>

            <div class="title">@Model.W("HowManyDayInDestination")</div>
            <div class="days-range"></div>

            <div class="title">@Model.W("WhichMonth")</div>
            <div class="months"></div>

        </div>
    </script>

    <script id="classics-srch-template" type="text/x-handlebars-template">
        <div class="other-flights-filter">

            <div class="multi-conn-cont" style="display: none">
                <div class="tit">@Model.W("WhatConnectionsInterested")</div>
                <div class="airpairs-filter"></div>
            </div>

            <div class="ltbl">

                <div class="block">
                    <div class="dep-arr dep">
                        <div class="tit">@Model.W("Deparature")</div>

                        <div class="middle">

                            <div id="depDate"></div>

                        </div>
                        <div class="bottom">
                            <div class="time"></div>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="dep-arr arr">
                        <div class="tit">@Model.W("Arrival")</div>

                        <div class="date-cont-all">

                            <div id="arrDate"></div>

                        </div>
                        <div class="time-cont">
                            <div class="time"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="srvc">
                <a id="search" class="lbtn" href="#">@Model.W("SearchBtn")</a>
            </div>

        </div>
    </script>

    <script id="city-deals-weekend-template" type="text/x-handlebars-template">

        <div class="city-deal" data-gid="{{gid}}">

            <span class="icon-cross-small form-close close"></span>

            <div class="title-top">
                {{title}}
            </div>

            <div class="title-deal">

                <div class="deals-ordering">

                    <div class="items-table">

                        <div class="cell">
                            <span data-b="price" data-o="asc" class="item l">@Model.W("OrderPriceBtn")</span>
                        </div>

                        <div class="cell">
                            <span data-b="score" data-o="desc" class="item r">@Model.W("OrderScoreBtn")</span>
                        </div>

                    </div>

                </div>
            </div>


            <div class="splitter">
                <div></div>
            </div>

            <div class="flights">

            </div>

        </div>

    </script>

    <script id="city-deals-template" type="text/x-handlebars-template">

        <div class="city-deal" data-gid="{{gid}}">

            <span class="icon-cross-small form-close close"></span>

            <div class="title-top">
                {{title}}
            </div>

            <div class="splitter">
                <div></div>
            </div>

            <div class="title-deal">
                <span class="txt">@Model.W("OurBestDealsTitle")</span>

                <div class="deals-ordering">

                    <div class="items-table">

                        <div class="cell">
                            <span data-b="price" data-o="asc" class="item l">@Model.W("OrderPriceBtn")</span>
                        </div>

                        <div class="cell">
                            <span data-b="score" data-o="desc" class="item r">@Model.W("OrderScoreBtn")</span>
                        </div>

                    </div>

                </div>
            </div>

            <div class="flights">

            </div>

            <div class="title">
                @Model.W("NotFlexible")
            </div>

            <div class="search-tabs">
                <div class="tab active" data-t="deals">
                    @Model.W("BestDealSearch")
                </div>
                <div class="tab" data-t="classic">
                    @Model.W("ClassicSearch")
                </div>
            </div>

            <div class="tabs-cont">

            </div>

            <div class="splitter">
                <div></div>
            </div>

            <div class="other-flights-preloader">
                <div class="center">
                    <div class="top">
                        <div class="plane-preloader">
                            <img src="/images/n/Plane_icon.svg" />
                        </div>
                    </div>
                    <div class="bottom">
                        <span class="txt">@Model.W("WeAreSearchingAnotherFlights")</span>
                    </div>
                </div>
            </div>

            <div class="other-flights-cont">

            </div>

        </div>

    </script>

    <script id="air-pair-item-template" type="text/x-handlebars-template">

        <div class="pair" data-f="{{from}}" data-t="{{to}}">{{from}} - {{to}}</div>

    </script>

    <script id="month-item-filter-template" type="text/x-handlebars-template">

        <div class="month" data-m="{{month}}" data-y="{{year}}"><span>{{txt}}</span></div>

    </script>

    <script id="filtering-weekend-template" type="text/x-handlebars-template">

        <div class="weekend-deals-filter">

            <div class="all-deals">
                <div id="cbUseDaysFilter" class="checkbox-all">
                    <div class="checker-all">
                        <div class="checker icon-checkmark2"></div>
                    </div>
                    <div class="label">
                        @Model.W("UseDaysFilter")
                    </div>
                </div>
            </div>

            <div class="days-filter">
                <div class="ftbl">

                </div>
            </div>

        </div>


    </script>

<script id="classic-search-filter-tmp" type="text/x-handlebars-template">
    <div class="filter-bar hidden">

        <div class="wrapper">

            <div class="line first-line">
                <div id="stopsCont" class="stops-cont"></div>                
            </div>

            <div class="line">
                
                <div class="air-filter-all hidden">
                    <div class="capt">Connections filter</div>
                    <div class="air-filter-cont"></div>
                </div>

            </div>




            <div class="one-line">
                <div class="cell">
                    <div>Depart time filter</div>
                    <div class="dep-time-filter"></div>
                </div>
                <div class="cell">
                    <div>Return time filter</div>
                    <div class="arr-time-filter"></div>
                </div>
            </div>

        </div>

    </div>
</script>

<script id="weekend-day-selector-template" type="text/x-handlebars-template">
        <div class="cell">
            <div class="day {{c}}" data-i="{{ni}}">{{name}}</div>
        </div>
    </script>

    <script id="range-slider-template" type="text/x-handlebars-template">

        <div class="slider-cont">

            <div class="tbl">
                <div class="left">
                    <input id="{{id}}_from" type="number" />
                </div>
                <div class="center">
                    <div class="inner-cont-slider">
                        <div id="{{id}}"></div>
                    </div>
                </div>
                <div class="right">
                    <input id="{{id}}_to" type="number" />
                </div>
            </div>

        </div>

    </script>

    <script id="time-slider-template" type="text/x-handlebars-template">

        <div class="slider-cont">

            <div class="tbl">
                <div class="left">
                    <span class="value" id="{{id}}_from"></span>
                </div>
                <div class="center">
                    <div class="inner-cont-slider">
                        <div id="{{id}}"></div>
                    </div>
                </div>
                <div class="right">
                    <span class="value" id="{{id}}_to"></span>
                </div>
            </div>

        </div>

    </script>

    <script id="connection-single-flight-template" type="text/x-handlebars-template">

        <div class="flight-bck-cont {{customClass}}">

            <div class="flight">
                <div class="top-line">
                    {{airName}}
                </div>

                <div class="data-tbl">

                    <div class="di logo-cont">
                        <img class="air-logo" src="{{logoLink}}" />
                    </div>

                    <div class="di flight-dir">
                        <div class="from-to">{{codeFrom}} → {{codeTo}}</div>
                        <div class="flight-no">{{flightNo}}</div>
                    </div>

                    <div class="di">
                        <div class="date">{{date}}</div>
                    </div>

                    <div class="di time-cont">
                        <div class="time">{{timeFrom}} - {{timeTo}}</div>
                        <div class="duration">({{durHours}}h {{durMins}}min)</div>
                    </div>

                    <div class="di direct-cont">

                        {{#ifCond stops 0}}
                        <div class="direct">@Model.W("DirectFlight")</div>
                        {{else}}
                        <div class="stops">
                            <a class="stops-btn" href="#"><span class="txt">{{stops}} @Model.W("StopsCnt") </span><span class="icon-dropdown-arrow"></span></a>
                        </div>
                        {{/ifCond}}

                    </div>

                </div>

            </div>

            <div class="flights-sub"></div>
        </div>

    </script>


<script id="connection-flight-template" type="text/x-handlebars-template">

        <div class="conn">

            <div class="layout-tbl">
                <div class="left">

                </div>
                <div class="right">

                    <div class="book-zone">
                        
                        {{#if scoreOk}}
                            <div class="score">
                                <div class="txt-score">
                                    {{#ifCond scoreText "E"}}@Model.W("Score5"){{/ifCond}}
                                    {{#ifCond scoreText "G"}}@Model.W("Score3"){{/ifCond}}
                                    {{#ifCond scoreText "S"}}@Model.W("Score1"){{/ifCond}}
                                </div>
                                <div class="stars-score">

                                    {{#for 0 scoreStars 1}}
                                    <span class="icon-star-full"></span>
                                    {{/for}}

                                </div>
                                <div class="cap">
                                    @Model.W("FlightScore")
                                </div>
                            </div>
                        {{/if}}
                        

                        <div class="price-all">
                            <span class="currency">€</span><span class="price">{{price}}</span>
                        </div>

                        <div class="btn-cont">
                            <a href="{{bookLink}}" target="_blank">@Model.W("BookNow")</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </script>


    <script id="offers-expander-template" type="text/x-handlebars-template">
        <tr class="expander">
            <td colspan="4">
                <a class="btn" href="#">@Model.W("MoreBtn")</a>
            </td>
        </tr>
    </script>

    <script id="offers-collapser-template" type="text/x-handlebars-template">
        <tr class="collapser">
            <td colspan="4">
                <a class="btn" href="#">@Model.W("LessBtn")</a>
            </td>
        </tr>
    </script>

    <script id="continent-group-template" type="text/x-handlebars-template">
        <div class="continent-all">
            <div class="title">
                <span class="txt">{{name}}</span>

                <a href="#" data-v="true" class="visi">@Model.W("CollapseBtn")</a>
            </div>
            <div class="cont">

            </div>
        </div>
    </script>

    <script id="resultGroupItemCountry-template" type="text/x-handlebars-template">
        <div class="flight-result" data-cc="{{cc}}">
            <div class="img-cont">

                <div class="img-wrap">
                    <img src="/images/n/flags-square/{{cc}}.svg" />
                </div>

                <div class="txt-cont darker">{{title}}</div>
                <div class="price-cont">
                    <div class="wrap">
                        <span class="from">@Model.W("FromPrice")</span>
                        <br />
                        <span class="price-all">
                            <span class="currency">€</span><span class="price">{{price}}</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">

                <table></table>

            </div>
        </div>
    </script>


    <script id="resultGroupItem-template" type="text/x-handlebars-template">
        <div class="flight-result" data-gid="{{gid}}" data-name="{{title}}">
            <div class="img-cont">

                <img src="/picd/{{gid}}/f" />
                <div class="txt-cont">{{title}}</div>
                <div class="price-cont">
                    <div class="wrap">
                        <span class="from">@Model.W("FromPrice")</span>
                        <br />
                        <span class="price-all">
                            <span class="currency">€</span><span class="price">{{price}}</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">

                <table></table>

            </div>
        </div>
    </script>


    <script id="resultGroup-priceItem-template" type="text/x-handlebars-template">
        <tr data-f="{{from}}" data-t="{{to}}">
            <td><strong>{{from}} → {{to}}</strong></td>
            <td>@Model.W("FromPrice")</td>
            <td><strong>€{{price}}</strong></td>
            <td><a class="btn" href="#">@Model.W("SeeOffersBtn")</a></td>
        </tr>
    </script>

    <script id="grouped-country-city-template" type="text/x-handlebars-template">
        <tr data-gid="{{gid}}">
            <td><strong>{{name}}</strong></td>
            <td>@Model.W("FromPrice")</td>
            <td><strong>€{{price}}</strong></td>
            <td><a class="btn" href="#">@Model.W("SeeOffersBtn")</a></td>
        </tr>
    </script>


    <script id="weekend-week-template" type="text/x-handlebars-template">
        <div class="weekend-item" data-w="{{week}}" data-t="{{year}}">

            <div class="title">
                <span class="week">{{week}}. @Model.W("WeekendNo")</span> - <span class="date">{{dateFrom}} - {{dateTo}}</span>
            </div>

            <div class="cont"></div>
        </div>

    </script>


    <script id="freq-item-template" type="text/x-handlebars-template">

        <div class="cell">
            <div class="item" data-d="{{days}}">{{text}}</div>
        </div>

    </script>


    <script id="queue-item-tmp" type="text/x-handlebars-template">
        <div class="item">{{text}}</div>
    </script>

    <script id="flights-list-more-tmp" type="text/x-handlebars-template">
        <div class="more-less-btn-cont expander">
            <a href="#" class="more lbtn2 bold more-less-btn">more...</a>
        </div>
    </script>

    <script id="flights-list-less-tmp" type="text/x-handlebars-template">
        <div class="more-less-btn-cont collapser">
            <a href="#" class="less lbtn2 bold more-less-btn">...less</a>
        </div>
    </script>



    <script id="custom-setting-2-template" type="text/x-handlebars-template">

        <div class="custom-form">

            <div class="block">

                <div class="title">@Model.W("DatesSelectionInfo")</div>
                <div>
                    <span class="cap">@Model.W("EarliestDeparatureLatestArrival")</span>
                    <span class="earliest-dep bold val">02/19/2017</span>
                    <span> - </span>
                    <span class="latest-arr bold val">02/19/2017</span>

                    <span class="cap">@Model.W("EarliestDeparatureLatestArrival")</span>

                    <span class="bold">
                        <span> @Model.W("MinForDays") </span>
                        <span class="days-from val">8</span>
                        <span> @Model.W("MaxForDays") </span>
                        <span class="days-to val">12</span>
                        <span> @Model.W("DaysSentenceEnd")</span>
                    </span>
                </div>

            </div>

            <div class="block">

                <div class="title">@Model.W("DepartingAirports")</div>
                <div class="airports-cont">
                    <div class="sta-air-cont">
                        <label><input class="cb-standard" type="checkbox" /> <span>@Model.W("MyStandardAirsOption")</span></label>
                    </div>
                    <div class="tagger-cont" id="airTagger_{{customId}}"></div>
                </div>

            </div>

            <div class="block">

                <div class="title">@Model.W("NewsletterFrequency")</div>
                <div class="freq-cont">
                    <div class="itbl">

                    </div>
                </div>
            </div>

        </div>




    </script>

    <script id="custom-setting-1-template" type="text/x-handlebars-template">

        <div class="custom-form">

            <div class="block">
                <div class="title">@Model.W("HowManyDaysInDestination")</div>
                <div class="days-range-cont"></div>
            </div>

            <div class="block">
                <div class="title">@Model.W("EarliestDepLatestArrivalQuestion")</div>

                <div class="dp-dep-cont"></div>
                <div class="dp-arr-cont"></div>
            </div>

            <div class="block">
                <a class="lbtn2 finish-dates-btn" href="#">@Model.W("DoneWithDatesEditingBtn")</a>
            </div>

        </div>

    </script>
