@{		
    ViewBag.BodyClass = "fly-tickets";
    ViewBag.MenuGroup = "Deals";
    ViewData["Title"] = "gloobster.com - travel deals";
}

@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@using Microsoft.AspNet.Mvc.Rendering
@model Gloobster.Portal.ViewModels.ViewModelDeals

@Html.Partial("Scripts")

@{
    var infoBlock = Model.InfoBlock("info-deals");
}

@if (!Model.HasAirports)
{

    <div class="deals-block-all">

        <div class="wrapper">

            <p class="txt-block">
                @Model.W("InfoBlock1")
            </p>

            <p class="txt-block">
                @Model.W("InfoBlock2")
            </p>

            <div class="icons">
                <div class="ico">
                    <img class="svg-img" src="/images/n/fly-pin.svg"/>
                </div>
                <div class="ico">
                    <img class="svg-img" src="/images/n/fly-plane.svg"/>
                </div>
                <div class="ico">
                    <img class="svg-img" src="/images/n/fly-comp.svg"/>
                </div>
            </div>

            <div class="labels">
                <div class="label label-one">1. Set your home city</div>
                <div class="label label-two">2. Customize your home airports</div>
                <div class="label label-three">3. Choose places you'd like to visit</div>
            </div>

            <div class="step step-one hidden">
                <div id="wizCurrentCity" class="dropdown">
                    <input class="inputed" type="text" placeholder="Set your home city">
                    <img class="loader" src="/images/loader-gray.gif" style="display: none" />
                    <ul></ul>
                </div>
            </div>

            <div class="step step-two hidden">
                <div id="wizAirCont" class="wiz-airs-cont">
                </div>


                <div id="wizAirCombo" class="dropdown">
                    <input class="inputed" type="text" placeholder="@Model.W("SearchForAirportsPlaceholder")">
                    <ul></ul>
                </div>
                
                <div class="next-btn-cont">
                    <a href="#" id="stepTwoNext" class="lbtn2 yellow-orange bold next-btn">Finished with airports, proceed to the next step</a>
                </div>
            </div>

            <div class="step step-three">
                <div class="next-btn-cont">
                    <a href="#" id="stepThreeClose" class="lbtn2 yellow-orange bold next-btn">Close this dialog</a>
                </div>
            </div>
        </div>

    </div>

}
    
<div class="top-all wrapper">
    
    <div class="top-tbl">
        <div class="ic l">
            
            <div class="l1">
                <div class="top-ribbon">
                    <span class="icon-home"></span>

                    @if (string.IsNullOrEmpty(Model.CityName))
                    {
                    <span class="home-location-name">@Model.W("CityNotSet")</span>
                    }
                    else
                    {
                    <span class="home-location-name">
                        <strong>@Model.CityName</strong>, @Model.CountryName
                    </span>
                    }

                    <div class="airports"></div>

                    <a href="#" class="edit">@Model.W("EditBtn")</a>
                </div>
            </div>
            
            <div class="l2">
                <div id="categoryNavi" class="navi-cont"></div>
            </div>
            
        </div>
        <div class="ic r">
            
            <div class="rating-filter">
                <div class="levels">

                    <div class="itm">
                        <div class="level lev5 active" data-s="5">
                            <div id="delasEx" class="num">0</div>
                            <div class="stars">
                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>
                            </div>
                            <div class="txt">@Model.W("Star5Deals")</div>
                        </div>
                    </div>

                    <div class="itm">
                        <div class="level lev3" data-s="3">
                            <div id="delasGo" class="num">0</div>
                            <div class="stars">
                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>
                            </div>
                            <div class="txt">@Model.W("Star3Deals")</div>
                        </div>
                    </div>

                    <div class="itm">
                        <div class="level lev1" data-s="1">
                            <div id="delasSt" class="num">0</div>
                            <div class="stars">
                                <span class="icon-star-full"></span>
                            </div>
                            <div class="txt">@Model.W("Star1Deals")</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>


<div id="topContDeals" class="wrapper">
    
    @Html.Partial("LocationSettingsDialog")

    

    <div id="categoryCont"></div>

</div>

<div class="deals-search-all" >

    <div id="catsCont" class="wrapper">

    </div>
    
    <div class="add-custom-cont">
        <a href="#" id="addCustom" class="add-btn"><span class="icon-plus"></span><span class="txt">Add custom search</span></a>
    </div>

</div>

<div class="classic-search-all hidden">

    <div class="classic-search">

        <div class="search-bar">
            <div class="wrapper">
                <div class="search-form">

                    <div class="search-group">

                        <div class="search-field">
                            <div class="capt">From</div>
                            <div class="ctrl">
                                <div id="searchFrom"></div>
                            </div>
                        </div>

                        <div class="search-field">
                            <div class="capt">To</div>
                            <div class="ctrl">
                                <div id="searchTo"></div>
                            </div>
                        </div>

                    </div>

                    <div class="search-group">

                        <div class="search-field">
                            <div class="capt">Depart</div>
                            <div class="ctrl">
                                <div id="dateFrom"></div>
                            </div>
                        </div>

                        <div class="search-field">
                            <div class="capt">Return</div>
                            <div class="ctrl">
                                <div id="dateTo"></div>
                            </div>
                        </div>

                        <div class="search-field one-line">
                            <div class="ctrl">
                                <a href="#" id="btnSearch" class="lbtn2 green-orange">Search</a>
                            </div>
                        </div>



                    </div>


                    @*<div class="search-field">
                            <div class="capt">Seats</div>
                            <div class="ctrl">
                                <div id="passangersCnt"></div>
                            </div>
                        </div>

                        <input type="checkbox" id="directFlights" /><label for="directFlights">Just direct flights</label>
                    *@
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="search-results">

            </div>
        </div>

    </div>

</div>


    @Html.Partial("DestinationTemplates")
    @Html.Partial("_DestPlaceCombo")

    <script>
        function onBodyLoad() {
            currentView = new Views.DealsView();
            currentView.hasCity = @Model.HasCity.ToString().ToLower();
            currentView.hasAirs = @Model.HasAirports.ToString().ToLower();
            currentView.init();
        }                            

    </script>
