@{		
    ViewBag.BodyClass = "fly-tickets";
    ViewBag.MenuGroup = "Deals";
    ViewData["Title"] = "gloobster.com - travel deals";
}

@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@using Microsoft.AspNet.Mvc.Rendering
@model Gloobster.Portal.ViewModels.ViewModelDeals

@Html.Partial("Scripts")

@*@{
    var infoBlock = Model.InfoBlock("info-deals");
}*@

<div class="classic-search">
    
    <div class="search-bar">
        <div class="wrapper">
            <div class="search-form">

                <div class="search-group">

                    <div class="search-field">
                        <div class="capt">From</div>
                        <div class="ctrl">
                            <div id="searchFrom"></div>
                        </div>
                    </div>

                    <div class="search-field">
                        <div class="capt">To</div>
                        <div class="ctrl">
                            <div id="searchTo"></div>
                        </div>
                    </div>

                </div>

                <div class="search-group">

                    <div class="search-field">
                        <div class="capt">Depart</div>
                        <div class="ctrl">
                            <div id="dateFrom"></div>
                        </div>
                    </div>

                    <div class="search-field">
                        <div class="capt">Return</div>
                        <div class="ctrl">
                            <div id="dateTo"></div>
                        </div>
                    </div>
                    
                    <div class="search-field one-line">                        
                        <div class="ctrl">
                            <a href="#" id="btnSearch" class="lbtn2 green-orange">Search</a>
                        </div>
                    </div>

                    

                </div>

                
                @*<div class="search-field">
                    <div class="capt">Seats</div>
                    <div class="ctrl">
                        <div id="passangersCnt"></div>
                    </div>
                </div>

                <input type="checkbox" id="directFlights" /><label for="directFlights">Just direct flights</label>
                *@
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="search-results">

        </div>
    </div>

</div>

<div class="deals-block-all">

    <div class="wrapper">
        <h1 class="motto">Are you fexible on time? Try our new best deals search!</h1>

        <div class="icons">
            <div class="ico">
                <img class="svg-img" src="/images/n/fly-pin.svg" />
            </div>
            <div class="ico">
                <img class="svg-img" src="/images/n/fly-comp.svg" />
            </div>
            <div class="ico">
                <img class="svg-img" src="/images/n/fly-plane.svg" />
            </div>
        </div>

        <div class="labels">
            <div class="label">1. Set your home city</div>
            <div class="label">2. Customize your dashboard</div>
            <div class="label">3. Get the best deals</div>
        </div>

        <div class="loc">
            <div id="currentCity" class="dropdown">
                <input class="inputed" type="text" placeholder="Set your home city">
                <ul></ul>
            </div>
        </div>
    </div>

</div>


@*<div class="info-block-bck @infoBlock.Class" id="info-deals">

    <div class="wrapper">
        
        @Html.Partial("TitleBlock", infoBlock)

        <div class="info-block info-block2" style="@infoBlock.Css">
            
            <div class="info-inner-table">
                
                <div class="block">
                    <img class="svg-img" src="/images/n/fly-pin.svg">
                    <p class="txt">
                        @Model.W("InfoBlock1")
                    </p>
                </div>
                
                <div class="block">
                    <img class="svg-img" src="/images/n/fly-plane.svg">
                    <p class="txt">
                        @Model.W("InfoBlock2")
                    </p>
                </div>

            </div>
            
        </div>

    </div>
</div>*@

<div>
        
    @*@Html.Partial("LocationSettingsDialog")*@
    
    <div id="categoryNavi" class="navi-cont"></div>
    
    <div id="categoryCont"></div>
  
</div>

@Html.Partial("DestinationTemplates")
@Html.Partial("_DestPlaceCombo")

<script>
	function onBodyLoad() {
	    currentView = new Views.DealsView();
	}

</script>