@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model ViewModelPlanning

@if (!Model.HasAirports)
{
    <div class="no-airs-info">
        <span class="icon-bell icon"></span> <span class="txt">To be able to use this service, you have to first select your home location and home airports</span>
    </div>
}

    <div class="top-ribbon">
        <span class="icon-home"></span>
            
        @if (string.IsNullOrEmpty(Model.CityName))
        {
            <span class="home-location-name">City not set</span>
        }
        else
        {
            <span class="home-location-name">
                <strong>@Model.CityName</strong>, @Model.CountryName
            </span>
        }

        <div class="airports"></div>

        <a href="#" class="edit">edit</a>
    </div>


<div class="location-dialog @(Model.HasAirports ? "hidden" : string.Empty)">
    
    <span id="airClose" class="icon-cross form-close"></span>

    <div>
        <div class="input-block">
            <div class="title">Where do you live?</div>
            <div id="currentCity" class="dropdown">
                <input class="inputed" type="text" placeholder="City name" value="@Model.InitCurrentLocation">
                <ul></ul>
            </div>
        </div>
        
        <div id="rangeBlock" class="input-block @(string.IsNullOrEmpty(Model.InitCurrentLocation) ? "hidden" : string.Empty)">
            <div class="title">Select airports in range of</div>
            <div id="airportsRange" class="dropdown">
                <span class="selected">200 km</span>
                <ul>
                    <li data-value="100">100 km</li>
                    <li data-value="200">200 km</li>
                    <li data-value="300">300 km</li>
                    <li data-value="400">400 km</li>
                    <li data-value="500">500 km</li>
                </ul>
                <input type="hidden">
            </div>
            <a id="addAirsRange" class="lbtn2 add-btn" href="#">Select</a>
        </div>    
    </div>
    
    <div class="bottom-line">
        <div class="title">Customize your airports</div>
        <div id="airportsCont" class="airports-cont">
        </div>


        <div id="airportCombo" class="dropdown">
            <input class="inputed" type="text" placeholder="+ Search for airports">
            <ul></ul>
        </div>
    </div>
    
    <div class="refresh-line hidden">
        <a id="refreshResults" class="lbtn2 refresh-results" href="#">Refresh results</a>
    </div>
    

</div>


<script id="homeAirportItem-template" type="text/x-handlebars-template">
    <div id="{{id}}" data-code="{{airCode}}" class="airport">
        <span class="name" title="{{airName}}">{{city}} ({{airCode}})</span>
        <a class="icon-cross delete" href="#"></a>
    </div>    
</script>