@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model ViewModelDeals


@if (!Model.HasAirports)
{
    <div class="no-airs-info">
        <span class="icon-bell icon"></span> <span class="txt">@Model.W("FirstHomeLocationAndAirports")</span>
    </div>
}

    <div class="top-ribbon">
        <span class="icon-home"></span>
            
        @if (string.IsNullOrEmpty(Model.CityName))
        {
            <span class="home-location-name">@Model.W("CityNotSet")</span>
        }
        else
        {
            <span class="home-location-name">
                <strong>@Model.CityName</strong>, @Model.CountryName
            </span>
        }

        <div class="airports"></div>

        <a href="#" class="edit">@Model.W("EditBtn")</a>
    </div>


<div class="location-dialog @(Model.HasAirports ? "hidden" : string.Empty)">
    
    <span id="airClose" class="icon-cross form-close"></span>

    <div>
        <div class="input-block">
            <div class="title">@Model.W("WhereDoYouLive")</div>
            <div id="currentCity" class="dropdown place-combo">
                <input class="inputed" type="text" placeholder="@Model.W("CityNamePlaceholder")" value="@Model.InitCurrentLocation">
                <img class="loader" src="/images/loader-gray.gif" style="display: none" />
                <span class="icon-logo-pin"></span>
                <ul></ul>
            </div>
        </div>
        
        <div id="rangeBlock" class="input-block @(string.IsNullOrEmpty(Model.InitCurrentLocation) ? "hidden" : string.Empty)">
            <div class="title">@Model.W("SelectAirportsInRange")</div>
            <div id="airportsRange" class="dropdown">
                <span class="selected">200 km</span>
                <ul>
                    <li data-value="100">100 km</li>
                    <li data-value="200">200 km</li>
                    <li data-value="300">300 km</li>
                    <li data-value="400">400 km</li>
                    <li data-value="500">500 km</li>
                </ul>
                <input type="hidden">
            </div>
            <a id="addAirsRange" class="lbtn2 add-btn" href="#">@Model.W("SelectBtn")</a>
        </div>    
    </div>
    
    <div class="bottom-line">
        <div class="title">@Model.W("CustomizeYourAirports")</div>
        <div id="airportsCont" class="airports-cont">
        </div>


        <div id="airportCombo" class="dropdown">
            <input class="inputed" type="text" placeholder="@Model.W("SearchForAirportsPlaceholder")">
            <ul></ul>
        </div>
    </div>
    
    <div class="refresh-line hidden">
        <a id="refreshResults" class="lbtn2 refresh-results" href="#">@Model.W("RefreshResultsBtn")</a>
    </div>
    

</div>


<script id="homeAirportItem-template" type="text/x-handlebars-template">
    <div id="{{id}}" data-code="{{airCode}}" class="airport">
        <span class="name" title="{{airName}}">{{city}} ({{airCode}})</span>
        <a class="icon-cross delete" href="#"></a>
    </div>    
</script>