@{	
		ViewBag.MenuGroup = "Trip";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelTripDetail

<script type="text/javascript" src="@Url.Content("~/js/Views/TripDetailView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/TripMenu.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/common/ShareButtons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Comments.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Files.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Trip/Planner.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/DialogManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/PlaceDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/AirportCombo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/TravelDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Utils.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/PlacesManager.js")"></script>

<style>  
    .noFiles {
        word-spacing: 0;
    }

    .menuItemContent {
      
    }
</style>


<div class="blue-line margin2"></div>

<section class="line margin padding">
    <div class="wrapper">

        @*<div class="table margin width100">
            <div class="cell middle">
                <input id="nameInput" class="heading middle" type="text" placeholder="Edit this" value="@Model.Name">
            </div>
            <div class="cell middle tright">
                <a data-tmp="menuPrivacy-template" class="button border tripMenuButton" href="#">Set privacy</a>
                <a data-tmp="participants-template" class="button border tripMenuButton" href="#">Participants</a>

                <a class="button border" href="/Trip/Overview/@Model.TripId">Switch to preview</a>
            </div>
        </div>*@

        <div class="table margin width100">
            <div class="cell middle">
                <input id="nameInput" class="heading middle" type="text" placeholder="Give it a name" value="@Model.Name">
                @*<a class="button border" href="#">
                    <span class="icon-photo middle">Add photo</span>
                </a>*@
            </div>
            <div class="cell middle tright">                
                <a data-tmp="menuPrivacy-template" class="button blue-trans tripMenuButton popup2-target" data-target="#popup-privacy" href="#">
                    <span class="icon-globe middle mright5"></span>
                    Privacy
                </a>
                <a data-tmp="participants-template" class="button blue-trans tripMenuButton popup2-target" data-target="#popup-participants" href="#">
                    <span class="icon-people middle mright5"></span>
                    Participants
                </a>               
                <a class="button blue-trans" href="/Trip/Overview/@Model.TripId">
                    <span class="icon-preview middle mright5"></span>
                    Preview
                </a>                
            </div>
        </div>


        <div class="menuItemContent" style="display: none;">

        </div>

	    <textarea class="color1" style="width: 900px;" id="description" placeholder="write trip description...">@Model.Description</textarea>

		<h3>Day by Day Plan</h3>
		<div id="plannerCont1" class="daybyday table margin">		
		</div>

	</div>
</section>

@Html.Partial("Files")

<section class="wrapper margin3">
	<div class="table row margin">
		<div class="cell">
			<h3 class="margin0">Notes</h3>
		</div>
		<div class="cell bottom">
			<input id="public" type="checkbox" @(Model.NotesPublic ? "checked='checked'" : string.Empty)>
			<label class="color1" for="public">Public</label>
		</div>
	</div>
	<textarea class="color1" style="width: 900px;" id="notes" placeholder="write your simple notes...">@Model.Notes</textarea>
	@*<p class="color1">My Own Personal trip Description that I can write and edit anytime. This text would be used as default copy for sharing and for any other off site interaction so be careful. In the future it could have a feature allowing theme photo being pre-generated and possibly replaced by my photo of choice.</p>*@
</section>


@Html.Partial("ConfirmDeleteDialog")

@Html.Partial("Templates")
@Html.Partial("MenuTemplates")
@Html.Partial("PlannerTemplates")




<script>
	function onBodyLoad() {
		currentView = new Views.TripDetailView();
		var urlParams = window.location.pathname.split("/");
		var id = urlParams[urlParams.length - 1];

		currentView.initialize(id);
	}

</script>