@{
    ViewBag.MenuGroup = "Trip";
    ViewBag.BodyClass = "trip-detail";
    Layout = "_LayoutNew";
}

@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model ViewModelTripDetail

@Html.Partial("GAnalytics")

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/tripDetail.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/js/Trip/TripResizer.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/Views/TripDetailView.js"></script>
    <script type="text/javascript" src="/js/Views/TripMenu.js"></script>
    <script type="text/javascript" src="/js/common/ShareButtons.js"></script>
    <script type="text/javascript" src="/js/Trip/Comments.js"></script>
    <script type="text/javascript" src="/js/Trip/Files.js"></script>

    <script type="text/javascript" src="/js/Trip/Planner.js"></script>
    <script type="text/javascript" src="/js/Trip/PlaceTravelTime.js"></script>
    <script type="text/javascript" src="/js/Trip/DialogManager.js"></script>
    <script type="text/javascript" src="/js/Trip/PlaceDialog.js"></script>
    <script type="text/javascript" src="/js/Trip/AirportCombo.js"></script>
    <script type="text/javascript" src="/js/Trip/TravelDialog.js"></script>
    <script type="text/javascript" src="/js/Trip/Utils.js"></script>
    <script type="text/javascript" src="/js/Trip/PlacesManager.js"></script>
}

@{
    var showText = "show info";
    var hideText = "hide info";
    var infoCss = Model.InfoBlockVisible("info-tripdetail");
    var infoBtnTxt = infoCss == string.Empty ? hideText : showText;
}

<div class="info-block-bck" id="info-tripdetail">

    <div class="wrapper">

        <div class="title-table">
            <div class="left">
                <a href="/@RoutingConsts.PlannerMenuName/grid">Travel organizer</a> &gt; 
                <h1>Edit mode</h1>
            </div>

            <div class="right">
                <a class="showHide" data-ts="@showText" data-th="@hideText" href="#">@infoBtnTxt</a> 
            </div>

        </div>

        <div class="info-block" style="@infoCss">
            Organize your travel documents and notes day by day. Invite your friend or let know to the people about your trip over social networks.

        </div>

    </div>
</div>

<div class="service-menu wrapper">

    <div class="name">
        <input id="nameInput" type="text" value="@Model.Name"/>
        <span class="icon-edit-pencil"></span>
    </div>

    <div class="items">
        <a class="lbtn menu-btn icon-earth" data-t="menuPrivacy-template" href="#">
            <span class="lato">@Model.W("Privacy")</span>            
        </a>
        <a class="lbtn menu-btn icon-users" data-t="participants-template" href="#">
            <span class="lato">@Model.W("Participants")</span>            
        </a>
        <a class="lbtn icon-eye" href="/trip/@Model.TripId">
            <span class="lato">@Model.W("Preview")</span>            
        </a>
    </div>

</div>

<div id="menuItemContent" class="wrapper menu-cont" style="display: none;">
    <div class="bar"></div>
    <div class="wrap">
        <div class="desc">
            <div class="title"></div>
            <div class="txt"></div>
        </div>
        <div class="cont"></div>
        <a class="close icon-cross" href="#"></a>
    </div>
</div>

<div class="wrapper">
    <textarea id="description" placeholder="@Model.W("TripDescription")">@Model.Description</textarea>

    <h3>@Model.W("DayByDay")</h3>
</div>

<div class="wrapper">
    <div id="dataCont" class="scheduler"></div>    
</div>


@Html.Partial("Files")

<div class="wrapper">
	
	<h3>@Model.W("Notes")</h3>
	
	<input id="public" type="checkbox" @(Model.NotesPublic ? "checked='checked'" : string.Empty)>
	<label for="public">@Model.W("Public")</label>
	
	<textarea id="notes" placeholder="@Model.W("SimpleNotes")">@Model.Notes</textarea>	
</div>

@Html.Partial("Templates")
@Html.Partial("MenuTemplates")
@Html.Partial("PlannerTemplates")

<script>
	function onBodyLoad() {
		currentView = new Views.TripDetailView();
		var urlParams = window.location.pathname.split("/");
		var id = urlParams[urlParams.length - 1];

		currentView.initialize(id);
	}

</script>