@{	
		ViewBag.MenuGroup = "Trip";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelTripDetail

<script type="text/javascript" src="@Url.Content("~/js/Views/TripDetailView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/common/ShareButtons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Comments.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Files.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Trip/Planner.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/DialogManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/PlaceDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/AirportCombo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/TravelDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Utils.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/PlacesManager.js")"></script>

<style>
    .photoButton input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .photoButton label {
        cursor: pointer;
    }
</style>


<div class="blue-line margin2"></div>

<section class="line margin padding">
	<div class="wrapper">
		<div class="table margin width100">
			<div class="cell middle">
				<input id="nameInput" class="heading middle" type="text" placeholder="Edit this" value="@Model.Name">
					@*http://markusslima.github.io/jquery-filestyle/*@
			    <a class="button border mleft10 photoButton" href="#">
			        <input id="photoInput" type="file" />

                    <label for="photoInput" >
                        Add photo
                    </label>			        
			    </a>
					
			</div>
			<div class="cell middle tright">
				<a class="button border popup-target" data-target="#popup-share" href="#">Share trip</a>
					<a class="button border" href="/Trip/Overview/@Model.TripId">See view</a>
				@*<a class="icon-wheel blue middle mleft20" href="#">Settings</a>*@
			</div>
		</div>

		@*<p class="color1">My Own Personal trip Description that I can write and edit anytime. This text would be used as default copy for sharing and for any other off site interaction so be careful. In the future it could have a feature allowing theme photo being pre-generated and possibly replaced by my photo of choice.</p>*@
		<textarea class="color1" style="width: 900px;" id="description" placeholder="write trip description...">@Model.Description</textarea>

		<h3>Day by Day Plan</h3>
		<div id="plannerCont1" class="daybyday table margin">		
		</div>

	</div>
</section>

@Html.Partial("Files")

<section class="wrapper margin3">
	<div class="table row margin">
		<div class="cell">
			<h3 class="margin0">Notes</h3>
		</div>
		<div class="cell bottom">
			<input id="public" type="checkbox" @(Model.NotesPublic ? "checked='checked'" : string.Empty)>
			<label class="color1" for="public">Public</label>
		</div>
	</div>
	<textarea class="color1" style="width: 900px;" id="notes" placeholder="write your simple notes...">@Model.Notes</textarea>
	@*<p class="color1">My Own Personal trip Description that I can write and edit anytime. This text would be used as default copy for sharing and for any other off site interaction so be careful. In the future it could have a feature allowing theme photo being pre-generated and possibly replaced by my photo of choice.</p>*@
</section>


@Html.Partial("ShareDialog")
@Html.Partial("InviteDialog")
@Html.Partial("ConfirmDeleteDialog")

@Html.Partial("Templates")
@Html.Partial("PlannerTemplates")




<script>
	function onBodyLoad() {
		currentView = new Views.TripDetailView();
		var urlParams = window.location.pathname.split("/");
		var id = urlParams[urlParams.length - 1];

		currentView.initialize(id);
	}

</script>