@using System.Threading.Tasks
@using Gloobster.Common
@using Microsoft.Data.Entity.Metadata.Internal
@{
		ViewBag.MenuGroup = "Trip";
}

@model Gloobster.Portal.ViewModels.ViewModelTrips

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/triplist.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/js/Views/TripListView.js" type="text/javascript"></script>
}


<style>
    .photoButton input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .photoButton label {
        cursor: pointer;
    }  
</style>

<div class="table row col2 margin">
    <div class="cell middle">
        <h2>@Model.W("Title")</h2>
    </div>
    <div class="cell middle tright">
        <div class="blue-holder">
            <a class="icon-grid @(Model.DisplayType ? "active" : string.Empty)" href="?id=grid"></a>
            <a class="icon-list @(!Model.DisplayType ? "active" : string.Empty)" href="?id=tile"></a>
        </div>
        @*<a class="disc-create mleft20 right" href="#"></a>*@
    </div>
</div>

@Html.Partial("ProgressBar", "progressBar")

@if (!Model.DisplayType)
    {
        <div class="trips list margin">
            <div class="row nohover">
                <div class="cell"></div>
                <div class="cell">@Model.W("Name")</div>
                <div class="cell">@Model.W("Term")</div>
                <div class="cell">@Model.W("Team")</div>
                <div class="cell">@Model.W("Owner")</div>
                <div class="cell"></div>
            </div>

            @foreach(var trip in Model.Trips)
            {
                await Html.RenderPartialAsync("TripItemRow", (object)trip);
            }

            <div class="row nohover">
                <div class="cell">
                    <div class="photo create"></div>
                </div>
                <div class="cell">
                    <textarea id="newTrip" placeholder="@Model.W("NewTripName")"></textarea>
                </div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell tright">
                    <a class="button white-blue" href="javascript:currentView.createNewTrip();">@Model.W("Create")</a>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="trips grid col3 margin">

            @foreach(var trip in Model.Trips)
                    {
                        await Html.RenderPartialAsync("TripItemBig", (object)trip);
                    }

            <div class="cell">
                <div class="trip new">
                    <textarea id = "newTrip" placeholder="@Model.W("NewTripName")..."></textarea>
                    <a class="create" href="javascript:currentView.createNewTrip();">@Model.W("Create")</a>
                </div>
            </div>

        </div>
    }

    @*<div class="tcenter margin">
        <a class="button" href="#">Show 3 Archived Trips</a>
    </div>*@

<script>
    function onBodyLoad() {
        currentView = new Views.TripListView();

        $(".editBtn").click((e) => {
            e.preventDefault();
            var $t = $(e.target);
            window.location.href = '/trip/detail/' + $t.data("id");
        });
    }
</script>