@using System.Threading.Tasks
@using Gloobster.Common
@using Microsoft.Data.Entity.Metadata.Internal
@using Gloobster.Portal;
@using Microsoft.AspNet.Mvc.Rendering
@model Gloobster.Portal.ViewModels.ViewModelTrips

@{
    ViewBag.MenuGroup = "Trip";
    ViewBag.BodyClass = "trip-root";
    ViewData["Title"] = "gloobster.com - travel planner";
}

@Html.Partial("GAnalytics")

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/triplist-@(ScriptsVersion.Version).js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/js/Views/TripListView.js" type="text/javascript"></script>
}

@{
    var infoBlock = Model.InfoBlock("info-triplist");
}

<div class="info-block-bck @infoBlock.Class" id="info-triplist">

    <div class="wrapper">

        @Html.Partial("TitleBlock", infoBlock)

        <div class="info-block info-block2" style="@infoBlock.Css">

            <div class="info-inner-table">

                <div class="block">
                    <img class="svg-img" src="/images/n/yellow-ico-calendar.svg">
                    <p class="txt">
                        @Model.W("InfoBlock1")
                    </p>
                </div>

                <div class="block">
                    <img class="svg-img" src="/images/n/guy.svg">
                    <p class="txt">
                        @Model.W("InfoBlock2")
                    </p>
                </div>

            </div>

        </div>

    </div>
</div>



<div class="wrapper">

    <div class="blue-holder-all">
        <div class="blue-holder">
            <a class="icon-table2 @(Model.DisplayType ? "active" : string.Empty)" href="/@RoutingConsts.PlannerMenuName/grid"></a>
            <a class="icon-paragraph-justify @(!Model.DisplayType ? "active" : string.Empty)" href="/@RoutingConsts.PlannerMenuName/table"></a>
        </div>
    </div>

    @if (!Model.DisplayType)
    {
        <div class="title">
            @Model.W("TitleCurrent")
        </div>

        <div class="trips-table">
            <div class="row headers">
                <div class="cell photo-cell"></div>
                <div class="cell">@Model.W("Name")</div>
                <div class="cell">@Model.W("Term")</div>
                <div class="cell">@Model.W("Team")</div>
                <div class="cell">@Model.W("Owner")</div>
                <div class="cell setting-cell"></div>
            </div>

            @foreach (var trip in Model.NewTrips)
            {
                await Html.RenderPartialAsync("TripItemRow", (object)trip);
            }

            <div class="row service-row">
                <div class="cell photo-cell">
                    <div class="plus-ico-all">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <div class="cell">
                    <textarea id="newTrip" placeholder="@Model.W("NewTripName")"></textarea>
                </div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell">
                    <a class="lbtn2 btn-create" href="javascript:currentView.createNewTrip();">@Model.W("Create")</a>
                </div>
            </div>

        </div>


        @if (Model.OldTrips.Count > 0)
        {
            <div class="title">
                @Model.W("TitleOld")
            </div>


            <div class="trips-table">
                <div class="row headers">
                    <div class="cell photo-cell"></div>
                    <div class="cell">@Model.W("Name")</div>
                    <div class="cell">@Model.W("Term")</div>
                    <div class="cell">@Model.W("Team")</div>
                    <div class="cell">@Model.W("Owner")</div>
                    <div class="cell setting-cell"></div>
                </div>


                @foreach (var trip in Model.OldTrips)
                {
                    await Html.RenderPartialAsync("TripItemRow", (object)trip);
                }


            </div>
        }

    }
    else
    {
        <div class="trips-big">

            <div class="title">
                @Model.W("TitleCurrent")
            </div>

            <div class="cont">

                @foreach (var trip in Model.NewTrips)
                {
                    await Html.RenderPartialAsync("TripItemBig", (object)trip);
                }

                <div class="trip-new">
                    <textarea id="newTrip" placeholder="@Model.W("NewTripName")..."></textarea>
                    <a class="create" href="javascript:currentView.createNewTrip();">@Model.W("Create")<span>   </span><span class="icon-plus"></span> </a>
                </div>

            </div>

        </div>


            <div class="trips-big">

                @if (Model.OldTrips.Count > 0)
                {
                    <div class="title">
                        @Model.W("TitleOld")
                    </div>
                }

                <div class="cont">

                    @foreach (var trip in Model.OldTrips)
                    {
                        await Html.RenderPartialAsync("TripItemBig", (object)trip);
                    }

                </div>

            </div>

    }

</div>


<script>
    function onBodyLoad() {
        currentView = new Views.TripListView();

        $(".editBtn").click((e) => {
            e.preventDefault();
            var $t = $(e.target);
            window.location.href = '/@RoutingConsts.TripEditMenuName/' + $t.data("id");
        });
    }
</script>