@using System.Threading.Tasks
@using Gloobster.Common
@using Microsoft.Data.Entity.Metadata.Internal
@using Gloobster.Portal;

@{
    ViewBag.MenuGroup = "Trip";
    ViewBag.BodyClass = "trip-root";
    Layout = "_LayoutNew";
}

@model Gloobster.Portal.ViewModels.ViewModelTrips

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/triplist.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/js/Views/TripListView.js" type="text/javascript"></script>
}


<div class="wrapper">
    <div class="htbl">
        <div class="left">
            <h1>@Model.W("Title")</h1>
        </div>
        <div class="right">
            <div class="blue-holder">
                <a class="icon-table2 @(Model.DisplayType ? "active" : string.Empty)" href="/@RoutingConsts.PlannerMenuName/grid"></a>
                <a class="icon-paragraph-justify @(!Model.DisplayType ? "active" : string.Empty)" href="/@RoutingConsts.PlannerMenuName/table"></a>
            </div>
        </div>
    </div>

    @Html.Partial("ProgressBar", "progressBar")

    @if (!Model.DisplayType)
    {
        <div class="trips-table">
            <div class="row">
                <div class="cell"></div>
                <div class="cell">@Model.W("Name")</div>
                <div class="cell">@Model.W("Term")</div>
                <div class="cell">@Model.W("Team")</div>
                <div class="cell">@Model.W("Owner")</div>
                <div class="cell"></div>
            </div>

            @foreach (var trip in Model.Trips)
            {
                await Html.RenderPartialAsync("TripItemRow", (object)trip);
            }

            <div class="row service-row">
                <div class="cell">
                    <div class="plus-ico-all">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <div class="cell">
                    <textarea id="newTrip" placeholder="@Model.W("NewTripName")"></textarea>
                </div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell">
                    <a class="lbtn btn-create" href="javascript:currentView.createNewTrip();">@Model.W("Create")</a>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="trips-big">

            @foreach (var trip in Model.Trips)
            {
                await Html.RenderPartialAsync("TripItemBig", (object)trip);
            }

            <div class="trip-new">
                <textarea id="newTrip" placeholder="@Model.W("NewTripName")..."></textarea>
                <a class="create" href="javascript:currentView.createNewTrip();">@Model.W("Create")<span>   </span><span class="icon-plus"></span> </a>
            </div>

        </div>
    }

</div>


<script>
    function onBodyLoad() {
        currentView = new Views.TripListView();

        $(".editBtn").click((e) => {
            e.preventDefault();
            var $t = $(e.target);
            window.location.href = '/@RoutingConsts.TripEditMenuName/' + $t.data("id");
        });
    }
</script>