

<script id="participants-template" type="text/x-handlebars-template">
          
    <div class="participants">        
        <table id="participantsTable">

            <tr>
                <td colspan="5">
                    <div id="friends" class="dropdown">
                        <input class="inputed" type="text" placeholder="@Model.W("FriendsName")">
                        <ul></ul>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    
</script>

<script id="participant-template" type="text/x-handlebars-template">
    
    <tr id="{{id}}">
        <td><div class="thumb"><img src="/PortalUser/ProfilePicture_s/{{id}}"/></div></td>
        <td>{{name}}</td>
        <td><input id="isAdmin{{id}}" class="isAdmin" data-id="{{id}}" type="checkbox" {{checked}}><label for="isAdmin{{id}}"><span>@Model.W("CanEdit")</span></label></td>
        <td>@Model.W("State"): {{state}}</td>
        <td><a class="delete icon-cross" data-id="{{id}}" href="#"></a></td>
    </tr>
    <tr>
        <td id="line_{{id}}" class="line" colspan="5"></td>
    </tr>

</script>

<script id="menuPrivacy-template" type="text/x-handlebars-template">
   
    <div class="privacy">
        <input type="checkbox" id="friendsPublic" checked>
        <label for="friendsPublic">@Model.W("FriendsPublicCheckbox")</label>
        <br>
        <input type="checkbox" id="allowRequestJoin">
        <label for="allowRequestJoin">@Model.W("AllowRequestJoinCheckbox")</label>
    </div>        
</script>

<script id="menuShare-template" type="text/x-handlebars-template">
    
    
        <div class="table width100">
           
            <div class="cell">
                <textarea id="message" class="margin" placeholder="@Model.W("MessagePlaceholder")"></textarea>
                <div class="table width100">
                    <div class="cell middle">
                        <div class="table">
                            
                            <div id="shareCont" class="cell middle">
                                
                            </div>
                        </div>
                    </div>
                    <div class="cell middle tright">
                        <a id="share" class="button" href="#">@Model.W("Share", "layout") <span></span></a>
                    </div>
                </div>
            </div>
        </div>
     
    
</script>

