@{
		ViewBag.BodyClass = "tripview";
		ViewBag.MenuGroup = "Trip";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelTripDetail

<script type="text/javascript" src="@Url.Content("~/js/Views/TripViewView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/TripMenu.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/common/ShareButtons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Comments.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Files.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Trip/AcceptCombo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Planner.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/DialogManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/PlaceDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/AirportCombo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/TravelDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Utils.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/PlacesManager.js")"></script>

<style>
    .photoButton input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .photoButton label {
        cursor: pointer;
    }

    .noFiles {
        word-spacing: 0;
    }

    .menuItemContent {
        /*position: absolute;
        top: -155px;
        right: 0;
        width: 980px;
        height: 150px;
        background: rgba(255, 255, 255, 0.9);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;*/
    }
</style>

<style>
     #bckPhoto {
         @if (Model.Photo != null)
        {
            @Html.Raw($"background: transparent url('../../Trip/TripPicture/{Model.TripId}') center top no-repeat")
        }
        else
        {
            @Html.Raw("background: transparent url('../../images/samples/sample13.jpg') center top no-repeat")
        }
     }
</style>


<section id="bckPhoto" class="adventure-background line margin padding">
    <div class="wrapper with-subnav">
        <div class="subnav-holder margin">
            <div class="table width100">
                <div class="cell">
                    @if (Model.IsUserAdmin) {
                        <a class="button blue-trans photoButton" href="#">
                            <input id="photoInput" type="file"/>
                            <label for="photoInput">
                                <span class="icon-photo middle mright5"></span>
                                Title Photo
                            </label>                            
                        </a>
                    }

                    
                </div>
                <div class="cell tright">
                    
                    @if (!Model.IsOwner) {
                        @Html.Partial("InviteCombo")
                    }

                    @if (Model.IsUserAdmin) {
                        <a data-tmp="menuPrivacy-template" class="button blue-trans popup2-target tripMenuButton" data-target="#popup-privacy" href="#">
                            <span class="icon-globe middle mright5"></span>
                            Privacy
                        </a>
                        <a data-tmp="participants-template"class="button blue-trans popup2-target tripMenuButton" data-target="#popup-participants" href="#">
                            <span class="icon-people middle mright5"></span>
                            Participants
                        </a>
                        <a data-tmp="menuShare-template" class="button blue-trans popup2-target tripMenuButton" data-target="#popup-share" href="#">
                            <span class="icon-share middle mright5"></span>
                            Share trip
                        </a>
                        <a class="button blue-trans" href="/Trip/Detail/@Model.TripId">
                            <span class="icon-edit middle mright5"></span>
                            Edit
                        </a>
                    }

                </div>
            </div>
        </div>


        <div class="menuItemContent" style="display: none;">

        </div>
    </div>
    <div class="wrapper with-bgwhite">
        <div class="table margin width100">
            <div class="cell middle">
                <h1 class="margin0">@Model.Name</h1>
            </div>
            <div class="cell middle tright">
                by @Model.OwnerDisplayName
                <span class="thumbnail disc60 middle mleft10">
                    <img src="/PortalUser/ProfilePicture_s/@Model.OwnerId">
                </span>
            </div>
        </div>
        <p class="h4">@Model.Description</p>
        <h3>Day by Day Plan</h3>
        <div id="plannerCont1" class="daybyday table margin">
        </div>
    </div>
</section>

@Html.Partial("Comments")

@if (Model.IsOwner || Model.ThisUserInvited)
{
    @Html.Partial("Files")
}

@Html.Partial("Participants")

@if (Model.NotesPublic)
{
	<section class="wrapper margin3 color1">
		<strong>Notes:</strong>
		@Model.Notes
	</section>
}

@Html.Partial("Templates")
@Html.Partial("MenuTemplates")
@Html.Partial("PlannerTemplates")

<script>
	

    function onBodyLoad() {			
        currentView = new Views.TripViewView();
        var urlParams = window.location.pathname.split("/");
        var id = urlParams[urlParams.length - 1];
						
        currentView.initialize(id);
    }

</script>
