@{
    ViewBag.MenuGroup = "Trip";
    ViewBag.BodyClass = "trip-detail";
    Layout = "_LayoutNew";
}

@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.ViewModels
@model ViewModelTripDetail


@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/tripoverview.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/js/Trip/TripResizer.js" type="text/javascript"></script>
    <script src="/js/Views/TripViewView.js" type="text/javascript"></script>
    <script src="/js/Views/TripMenu.js" type="text/javascript"></script>
    <script src="/js/common/ShareButtons.js" type="text/javascript"></script>
    <script src="/js/Trip/Comments.js" type="text/javascript"></script>
    <script src="/js/Trip/Files.js" type="text/javascript"></script>
    <script src="/js/Trip/AcceptCombo.js" type="text/javascript"></script>
    <script src="/js/Trip/Planner.js" type="text/javascript"></script>
    <script src="/js/Trip/DialogManager.js" type="text/javascript"></script>
    <script src="/js/Trip/PlaceDialog.js" type="text/javascript"></script>
    <script src="/js/Trip/AirportCombo.js" type="text/javascript"></script>
    <script src="/js/Trip/TravelDialog.js" type="text/javascript"></script>
    <script src="/js/Trip/Utils.js" type="text/javascript"></script>
    <script src="/js/Trip/PlacesManager.js" type="text/javascript"></script>
}

<style>
    
    .noFiles {
        word-spacing: 0;
    }

</style>


<style>
     #bckPhoto {
        @if (Model.HasBigPicture)
        {
            @Html.Raw($"background: transparent url('../../Trip/TripPicture/{Model.TripId}') center top no-repeat")
        }
        else
        {
            @Html.Raw("background: transparent url('../../images/samples/sample13.jpg') center top no-repeat")
        }
     }
</style>

@Html.Partial("ProgressBar", "progressBarTit")

<div id="bckPhoto" class="background-wrap">

    <div class="items wrapper">

        @if (Model.IsUserAdmin)
            {
            <a class="photo-button" href="#">
                <input id="photoInput" type="file" />
                <label for="photoInput">
                    <span class="icon-photo"></span>
                    @Model.W("TitlePhoto")
                </label>
            </a>

                <a class="lbtn menu-btn" data-t="menuPrivacy-template" href="#">
                    <span class="icon-earth"></span>
                    @Model.W("Privacy")
                </a>
                <a class="lbtn menu-btn" data-t="participants-template" href="#">
                    <span class="icon-users"></span>
                    @Model.W("Participants")
                </a>
                <a class="lbtn menu-btn" data-t="menuShare-template" href="#">
                    <span class="icon-share"></span>
                    @Model.W("ShareTrip")
                </a>
                <a class="lbtn" href="/@RoutingConsts.TripEditMenuName/@Model.TripId">
                    <span class="icon-edit-pencil"></span>
                    @Model.W("Edit")
                </a>                
        }

        @if (!Model.IsOwner)
        {
            @Html.Partial("InviteCombo")
        }

    </div>



    <div class="view wrapper">

        <span class="title-name">@Model.Name</span>

        <div class="by-user">
            <span>
                by <b>@(string.IsNullOrEmpty(Model.OwnerDisplayName) ? Model.W("Anonymous") : Model.OwnerDisplayName)</b>
            </span>
            <div class="thumb">
                <img src="/PortalUser/ProfilePicture_s/@Model.OwnerId">
            </div>
        </div>

        <p class="h4">@Model.Description</p>
            <h3>@Model.W("DayByDay")</h3>
            <div id="plannerCont1" class="">
        </div>

       
       <div id="dataCont" class="scheduler"></div>

    </div>

</div>

@Html.Partial("Comments")

@if (Model.IsOwner || Model.ThisUserInvited)
{
    @Html.Partial("Files")
}

@Html.Partial("Participants")

@if (Model.NotesPublic)
{
	<section class="wrapper margin3 color1">
		<strong>@Model.W("Notes")</strong>
		@Model.Notes
	</section>
}

@Html.Partial("Templates")
@Html.Partial("MenuTemplates")
@Html.Partial("PlannerTemplates")

<script>
	

    function onBodyLoad() {			
        currentView = new Views.TripViewView();
        var urlParams = window.location.pathname.split("/");
        var id = urlParams[urlParams.length - 1];
						
        currentView.initialize(id);
    }

</script>
