@{
    ViewBag.BodyClass = "tripview";
    ViewBag.MenuGroup = "Trip";
    ViewBag.StopLayoutGenerate = true;
}

@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.ViewModels
@model ViewModelTripDetail


@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/tripoverview.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/js/Views/TripViewView.js" type="text/javascript"></script>
    <script src="/js/Views/TripMenu.js" type="text/javascript"></script>
    <script src="/js/common/ShareButtons.js" type="text/javascript"></script>
    <script src="/js/Trip/Comments.js" type="text/javascript"></script>
    <script src="/js/Trip/Files.js" type="text/javascript"></script>
    <script src="/js/Trip/AcceptCombo.js" type="text/javascript"></script>
    <script src="/js/Trip/Planner.js" type="text/javascript"></script>
    <script src="/js/Trip/DialogManager.js" type="text/javascript"></script>
    <script src="/js/Trip/PlaceDialog.js" type="text/javascript"></script>
    <script src="/js/Trip/AirportCombo.js" type="text/javascript"></script>
    <script src="/js/Trip/TravelDialog.js" type="text/javascript"></script>
    <script src="/js/Trip/Utils.js" type="text/javascript"></script>
    <script src="/js/Trip/PlacesManager.js" type="text/javascript"></script>
}

<style>
    .photoButton input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .photoButton label {
        cursor: pointer;
    }

    .noFiles {
        word-spacing: 0;
    }

</style>


<style>
     #bckPhoto {
        @if (Model.HasBigPicture)
        {
            @Html.Raw($"background: transparent url('../../Trip/TripPicture/{Model.TripId}') center top no-repeat")
        }
        else
        {
            @Html.Raw("background: transparent url('../../images/samples/sample13.jpg') center top no-repeat")
        }
     }
</style>


<section class="wrapper">
    @if (!Model.SocialNetworks.Any())
    {
        @Html.Partial("_DialogJoinSoc")
        @Html.Partial("_DialogJoinEmail")
    }
</section>

@Html.Partial("ProgressBar", "progressBarTit")

<section id="bckPhoto" class="adventure-background line margin padding">
    
    <div class="wrapper with-subnav">
        <div class="subnav-holder margin">
            <div class="table width100">
                <div class="cell photo">
                    @if (Model.IsUserAdmin)
                    {
                        <a class="button blue-trans photoButton" href="#">
                            <input id="photoInput" type="file"/>
                            <label for="photoInput">
                                <span class="icon-photo middle mright5"></span>
                                @Model.W("TitlePhoto")
                            </label>
                        </a>
                    }


                </div>
                @*<div class="cell tright">*@
                <div class="cell mainHolder">

                    @if (!Model.IsOwner)
                    {
                        @Html.Partial("InviteCombo")
                    }

                    @if (Model.IsUserAdmin)
                    {
                        <a data-tmp="menuPrivacy-template" class="button blue-trans popup2-target tripMenuButton" data-target="#popup-privacy" href="#">
                            <span class="icon-globe middle mright5"></span>
                            @Model.W("Privacy")
                        </a>
                        <a data-tmp="participants-template" class="button blue-trans popup2-target tripMenuButton" data-target="#popup-participants" href="#">
                            <span class="icon-people middle mright5"></span>
                            @Model.W("Participants")
                        </a>
                        <a data-tmp="menuShare-template" class="button blue-trans popup2-target tripMenuButton" data-target="#popup-share" href="#">
                            <span class="icon-share middle mright5"></span>
                            @Model.W("ShareTrip")
                        </a>
                        <a class="button blue-trans" href="/Trip/Detail/@Model.TripId">
                            <span class="icon-edit middle mright5"></span>
                            @Model.W("Edit")
                        </a>
                    }

                </div>
            </div>
        </div>


        <div class="menuItemContent" style="display: none;">

        </div>
    </div>
    <div class="wrapper with-bgwhite">
        <div class="table margin width100">
            <div class="cell middle">
                <h1 class="margin0">@Model.Name</h1>
            </div>
            <div class="cell middle tright">
                by @(string.IsNullOrEmpty(Model.OwnerDisplayName) ? Model.W("Anonymous") : Model.OwnerDisplayName)

                <span class="thumbnail disc60 middle mleft10">                    
                    <img src="/PortalUser/ProfilePicture_s/@Model.OwnerId">                    
                </span>
            </div>
        </div>
        <p class="h4">@Model.Description</p>
        <h3>@Model.W("DayByDay")</h3>
        <div id="plannerCont1" class="daybyday table margin">
        </div>
    </div>
</section>

@Html.Partial("Comments")

@if (Model.IsOwner || Model.ThisUserInvited)
{
    @Html.Partial("Files")
}

@Html.Partial("Participants")

@if (Model.NotesPublic)
{
	<section class="wrapper margin3 color1">
		<strong>@Model.W("Notes")</strong>
		@Model.Notes
	</section>
}

@Html.Partial("Templates")
@Html.Partial("MenuTemplates")
@Html.Partial("PlannerTemplates")

<script>
	

    function onBodyLoad() {			
        currentView = new Views.TripViewView();
        var urlParams = window.location.pathname.split("/");
        var id = urlParams[urlParams.length - 1];
						
        currentView.initialize(id);
    }

</script>
