@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelTripDetail

<script type="text/javascript" src="@Url.Content("~/js/Views/TripViewView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Comments.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Files.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Trip/Planner.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/DialogManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/PlaceDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/AirportCombo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/TravelDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/Utils.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/PlacesManager.js")"></script>


<section class="adventure-background line margin padding">
	<div class="wrapper">
		<div class="table margin width100">
			<div class="cell middle">
				<h1 class="margin0">@Model.Name</h1>
			</div>
			<div class="cell middle tright">
				<strong>By</strong> @Model.OwnerDisplayName
				<span class="thumbnail disc60 middle mleft10">
										<img src="~/images/samples/sample12.jpg">
								</span>
			</div>
		</div>
		<p class="h4">@Model.Description</p>
		<h3>Day by Day Plan</h3>
		<div id="plannerCont1" class="daybyday table margin">
		</div>

		<div class="adventure-buttons">
			<a class="button accept" href="#"><span class="icon-visited middle mright5"></span> Accept invite</a>
			

		@if (Model.IsUserAdmin)
		{
			<a class="button share popup-target" data-target="#popup-share" href="#">Share trip</a>
			<a class="button share" href="/Trip/Detail/@Model.TripId">Edit trip</a>
		}
		</div>

	</div>
</section>

@Html.Partial("Comments")

@Html.Partial("Files")

@Html.Partial("Participants")

@if (Model.NotesPublic)
{
	<section class="wrapper margin3 color1">
		<strong>Notes:</strong>
		@Model.Notes
	</section>
}

@Html.Partial("Templates")
@Html.Partial("PlannerTemplates")
@Html.Partial("ShareDialog")

<script>
	

		function onBodyLoad() {
			$("body").addClass("tripview");
			currentView = new TripViewView();
			var urlParams = window.location.pathname.split("/");
			var id = urlParams[urlParams.length - 1];
						
			currentView.initialize(id);
	}

</script>
