

<script id="addPlace-template" type="text/x-handlebars-template">
		<div id="lastCell" class="cell">
				<a id="addPlace" class="disc-create" href="#"></a>
		</div>		    
</script>

<script id="travel-template" type="text/x-handlebars-template">
		<div id="{{id}}" class="cell travelCont">
				<div class="transport">
						<span class="{{icon}}"></span>
				</div>
				<div class="timeline falldown {{colorClass}}"></div>
		</div>
</script>


<script id="place-template" type="text/x-handlebars-template">
	
    <div id="{{id}}" data-row="{{rowNo}}" class="cell placeCont">
								
	{{#if isActive}}
			<div class="destination active">
	{{else}}
			<div class="destination">
	{{/if}}
			    <span class="name">{{name}}</span>
                
            {{#unless isFirstDay}}
                <span class="tab">@Model.W("Arrival") {{arrivalDateLong}}</span>
            {{/unless}}

			</div>
												
				{{#if isFirstDay}}
						<div class="timeline green" style="text-align: center"><a class="leavingDate" href="#">{{leavingDate}}</a></div>
				{{else}}
						<div class="timeline {{colorClassArriving}}"><a class="arrivingDate dateLink" href="#">{{arrivingDate}}</a></div>
						<div class="timeline {{colorClassLeaving}}"><a class="leavingDate dateLink" href="#">{{leavingDate}}</a></div>
				{{/if}}
				
	</div>

</script>


<script id="visitItem-template" type="text/x-handlebars-template">
		<div data-id="{{id}}" class="place">            
            <span class="{{icon}} left mright10"></span>
            
            <a href="javascript:window.open('{{link}}');">{{name}}</a>
            
            <a class="delete" href="#">@Model.W("Delete", "layout")</a>            
		</div>
</script>

<script id="fileItem-template" type="text/x-handlebars-template">
    <div class="cell">
        <div class="document table">
            <div class="cell middle">
                <a class="file {{fileType}}" href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}">
                    <span class="display-none">{{fileName}}</span>
                </a>
            </div>
            <div class="cell middle nowrap">
                
                {{#if canManipulate}}
                    <input class="filePublic filePublic{{id}}" id="filePublic{{id}}_a" data-id="{{id}}" type="checkbox" />
                    <label title="@Model.W("ShareTitle")" class="mleft10" for="filePublic{{id}}_a">@Model.W("Share")</label>
                {{/if}}

                <a href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}">{{fileName}}</a>
            </div>
            <div class="cell middle">
                <a class="delete popup-target" data-target="#popup-delete" data-id="{{id}}" href="#"></a>                
            </div>
        </div>
    </div>	
    
    
</script>

<script id="placeTravelTime-template" type="text/x-handlebars-template">
    <div class="table row margin dates">
        <div class="cell">
            <strong>{{infoTxt}}</strong>
            <br />
            <input id="timeVis" type="checkbox" />
            <label class="mleft10" for="timeVis">@Model.W("UseExactTime")</label>
        </div>
        <div class="cell">
            {{#if showLeft}}
            <input type="text" id="{{dir1}}Date" class="mdd" />
            <span class="time">&nbsp;</span>
            <input id="{{dir1}}Hours" class="mtd time" type="number" min="0" max="23" step="1" /><span class="time"> : </span><input id="{{dir1}}Minutes" class="mtd time" type="number" min="0" max="59" step="1" />
            {{/if}}
            
            {{#if showMiddle}} 
            <strong class="deli">→</strong>
            {{/if}}

            {{#if showRight}}
            <input type="text" id="{{dir2}}Date" class="mdd" />
            <span class="time">&nbsp;</span>
            <input id="{{dir2}}Hours" class="mtd time" type="number" min="0" max="23" step="1" /><span class="time"> : </span><input id="{{dir2}}Minutes" class="mtd time" type="number" min="0" max="59" step="1" />
            {{/if}}
        </div>

    </div>
</script>

<script id="placeDetail-template" type="text/x-handlebars-template">
		<div class="daybyday-form margin form">
			
            <div class="margin the-first">
                <div id="cities" class="dropdown">
                    <input class="inputed" type="text" placeholder="@Model.W("PlaceName")">
                    <img class="loader" src="/images/loader-gray.gif" style="display: none" />
                    <ul></ul>
                </div>		
            </div>

            
            
                @Html.Partial("DialogFilesUpload")
				
				<div class="table row">
						<div class="cell address">
								<h4>@Model.W("AddressStay")</h4>
								<div id="stayPlace" class="dropdown">
										<input class="inputed" type="text" placeholder="@Model.W("SearchForPlace")">
                                        <img class="loader" src="/images/loader-gray.gif" style="display: none" />
										<ul>											
										</ul>
								</div>
								<input id="stayAddress" class="inputed" type="text" placeholder="@Model.W("TextAddress")">								
						</div>
						<div class="cell places">
								<h4>@Model.W("PlacesToVisit")</h4>

								<div id="placeToVisit" class="dropdown">
										<input class="inputed" type="text" placeholder="@Model.W("PlacesToVisitPlaceholder")">
                                        <img class="loader" src="/images/loader-gray.gif" style="display: none" />
										<ul>												
										</ul>
								</div>								
						</div>
				</div>
				
				<a class="close" href="#">@Model.W("Close", "layout")</a>
		</div>

</script>

<script id="placeDetailView-template" type="text/x-handlebars-template">
		<div class="daybyday-view margin form">
				<div class="table row">
						<div class="cell baseline">
								<h3>{{name}}</h3>
						</div>						
				</div>
				<p>{{description}}</p>
				<div id="entityDocs" class="documents grid col3 margin">					
				</div>
				<div class="table row">
						<div class="cell places">
								<h4>@Model.W("GoingToVisit")</h4>
								{{#if hasNoWantVisit}}
								<div class="place">										
										@Model.W("NoPlans")
								</div>
								{{/if}}
								{{#each wantVisit}}
										<div class="place">
												<span class="{{icon}} left mright10"></span>												
												{{name}}
												<a class="more" href="javascript:window.open('{{link}}')">@Model.W("Link")</a>												
										</div>
								{{/each}}								
						</div>
						
                    {{#if hasAddress}}
                        <div class="cell places">
								<h4>@Model.W("AddressOfStay")</h4>
								<div class="place">
										<span class="{{stayIco}} left mright10"></span>
										{{stayName}}
										<a class="more" href="javascript:window.open('{{stayLink}}')">@Model.W("Link")</a>
								</div>
								<div class="place">										
										{{stayAddress}}
                                    
										<a class="more" href="javascript:window.open('https://www.google.com/maps?q={{stayAddress}}');">@Model.W("Map")</a>
								</div>
								
						</div>
                    {{/if}}
				</div>
				

				<a class="close" href="#">@Model.W("Close", "layout")</a>
		</div>
</script>

<script id="placeDetailViewFriends-template" type="text/x-handlebars-template">
    <div class="daybyday-view margin form">
        <div class="table row">
            <div class="cell baseline">
                <h3>{{name}}</h3>
            </div>            
        </div>        
        
        <div class="table row">
            <div class="cell places">
                <h4>@Model.W("GoingToVisit")</h4>
                {{#if hasNoWantVisit}}
                <div class="place">        
                    @Model.W("NoPlans")
                </div>
                {{/if}}
                {{#each wantVisit}}
                <div class="place">
                    <span class="{{icon}} left mright10"></span>
                    {{name}}
                    <a class="more" href="javascript:window.open('{{link}}')">@Model.W("Link")</a>
                </div>
                {{/each}}
            </div>
        </div>


        <a class="close" href="#">@Model.W("Close", "layout")</a>
    </div>
</script>

@*<div class="table row">
        <div class="cell baseline"><h3>PRG → VIE</h3></div>
        <div class="cell baseline color1">Delta Air Flight 2560 from Prague to Vienna • Distance 1200 km</div>
    </div>*@

<script id="travelDetail-template" type="text/x-handlebars-template">
		<div class="daybyday-form margin form">

            <div class="margin the-first">
                @Html.Partial("TravelType")
            </div>

            <div id="flightDetails" class="margin" style="display: none">
                <div id="airportFrom" class="dropdown">
                    <input class="inputed" type="text" placeholder="@Model.W("FromAirport")">
                    <ul></ul>
                </div>
                <div id="airportTo" class="dropdown">
                    <input class="inputed" type="text" placeholder="@Model.W("ToAirport")">
                    <ul></ul>
                </div>
            </div>
        
            @Html.Partial("DialogFilesUpload")
            
            <a class="close" href="#">@Model.W("Close", "layout")</a>            
		</div>

</script>

<script id="travelDetailView-template" type="text/x-handlebars-template">
		<div class="daybyday-view margin form">
				
{{#if isFlight}}
	<div class="table row">
		<div class="cell baseline"><h3>{{from}} → {{to}}</h3></div>		
	</div>
{{/if}}
    <p>{{arrivingDateTime}} - {{leavingDateTime}}</p>
				
    <p>{{description}}</p>
    <div id="entityDocs" class="documents grid col3 margin">
    </div>
    <div class="table row">
				
    </div>
			
    <a class="close" href="#">@Model.W("Close", "layout")</a>
		</div>
</script>


<script id="travelDetailViewFriends-template" type="text/x-handlebars-template">
    <div class="daybyday-view margin form">
        
        {{#if isFlight}}
        <div class="table row">
            <div class="cell baseline"><h3>{{from}} → {{to}}</h3></div>           
        </div>
        {{/if}}

        @*todo: format date time*@
        <p>{{arrivingDateTime}} - {{leavingDateTime}}</p>

        <a class="close" href="#">@Model.W("Close", "layout")</a>
    </div>
</script>
