

<script id="addPlace-template" type="text/x-handlebars-template">	
    <div id="lastCell" data-no="9999" class="block">
        <div class="adder-cont">
            <a id="addPlace" class="icon-plus adder" href="#"></a>
        </div>
    </div>	    
</script>

<script id="travel-template" type="text/x-handlebars-template">
		<div id="{{id}}" data-no="{{no}}" class="travelCont block">
                <div class="timeline falldown {{colorClass}}"></div>
				<div class="transport">
						<span class="ticon {{icon}}"></span>                    
				</div>				                                          
		</div>
</script>


<script id="place-template" type="text/x-handlebars-template">
	
    <div id="{{id}}" data-no="{{no}}" class="placeCont block">

        <div class="timeline-cont">
            {{#if isFirstDay}}
            <div class="timeline green"><a class="leavingDate dateLink" href="#">{{leavingDate}}</a></div>
            {{else}}
            <div class="timeline l {{colorClassArriving}}"><a class="arrivingDate dateLink" href="#">{{arrivingDate}}</a></div>
            <div class="timeline {{colorClassLeaving}}"><a class="leavingDate dateLink" href="#">{{leavingDate}}</a></div>
            {{/if}}
        </div>

        {{#if isActive}}
        <div class="destination active">
            <span class="name">{{name}}</span>
        </div>
        {{else}}
        <div class="destination">
            <span class="name">{{name}}</span>            
        </div>
        
        {{/if}}
        
        <div class="tab-cont">            
        </div>
        

    </div>

</script>


<script id="visitItem-template" type="text/x-handlebars-template">
		<div data-id="{{id}}" class="place">            
            <span class="icon {{icon}}"></span>
            
            <a class="name" href="javascript:window.open('{{link}}');">{{name}}</a>
            
            <a class="delete" href="#"><span class="icon-cross"></span></a>
		</div>
</script>

<script id="fileItem-template" type="text/x-handlebars-template">
    
    <div class="document-all">
        <div class="document">
            <div class="cell imgs">
                <a class="file {{fileType}}" href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}"></a>
            </div>
            <div class="cell serv">
                
                {{#if canManipulate}}
                    <input class="filePublic filePublic{{id}}" id="filePublic{{id}}_a" data-id="{{id}}" type="checkbox" />
                    <label title="@Model.W("ShareTitle")" for="filePublic{{id}}_a">@Model.W("Share")</label>
                    <br />
                {{/if}}

                <a href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}">{{fileName}}</a>
            </div>
            <div class="cell del">
                <a class="delete popup-target" data-target="#popup-delete" data-id="{{id}}" href="#"><span class="icon-cross"></span></a>                
            </div>
        </div>
    </div>	
    
    
</script>

<script id="placeTravelTime-template" type="text/x-handlebars-template">
    <div class="place-travel-dates">
        <div>
            <strong>{{infoTxt}}</strong>
            <br />
            <input id="timeVis" type="checkbox" />
            <label for="timeVis">@Model.W("UseExactTime")</label>
        </div>
        {{#if showLeft}}
        <div class="cell">            
            
            <div id="{{dir1}}Date"></div>

            @*<input type="text" id="{{dir1}}Date" class="mdd" />*@
            

            <span class="time">&nbsp;</span>
            <input id="{{dir1}}Hours" class="mtd time" type="number" min="0" max="23" step="1" /><span class="time"> : </span><input id="{{dir1}}Minutes" class="mtd time" type="number" min="0" max="59" step="1" />            
        </div>
        {{/if}}
       
        {{#if showRight}}
        <div class="cell last">            
            
            <div id="{{dir2}}Date"></div>

            @*<input type="text" id="{{dir2}}Date" class="mdd" />*@

            <span class="time">&nbsp;</span>
            <input id="{{dir2}}Hours" class="mtd time" type="number" min="0" max="23" step="1" /><span class="time"> : </span><input id="{{dir2}}Minutes" class="mtd time" type="number" min="0" max="59" step="1" />            
        </div>
        {{/if}}

    </div>
</script>

<script id="placeDetail-template" type="text/x-handlebars-template">
		<div class="place-detail details">
			
            <div class="the-first">
                <div id="cities" class="dropdown">
                    <input class="inputed" type="text" placeholder="@Model.W("PlaceName")">
                    <img class="loader" src="/images/loader-gray.gif" style="display: none" />
                    <ul></ul>
                </div>		
            </div>

                @Html.Partial("DialogFilesUpload")
				
				<div class="bottom-area">
                    
                    <div class="address">
                        <div class="title">@Model.W("AddressStay")</div>
                        
                        <div class="cont">
                            <div id="stayPlace" class="dropdown">
                                <input class="inputed" type="text" placeholder="@Model.W("SearchForPlace")">
                                <img class="loader" src="/images/loader-gray.gif" style="display: none" />
                                <ul></ul>
                            </div>
                            <input id="stayAddress" class="inputed text-address" type="text" placeholder="@Model.W("TextAddress")">
                        </div>
                    </div>

                    <div class="places">
                        <div class="title">@Model.W("PlacesToVisit")</div>
                        
                        <div class="cont">
                            <div id="placeToVisit" class="dropdown">
                                <input class="inputed" type="text" placeholder="@Model.W("PlacesToVisitPlaceholder")">
                                <img class="loader" src="/images/loader-gray.gif" style="display: none" />
                                <ul></ul>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            
            {{#if showDelButton}}
            <div>
                <button class="delete" style="background-color: #800000;">@Model.W("RemovePlace")</button>
            </div>
            {{/if}}
				
				<a class="close" href="#"><span class="icon-close-cross"></span></a>
		</div>

</script>

<script id="placeDetailView-template" type="text/x-handlebars-template">
		
    
    <div class="place-detail-view details">
        <div class="name-title">{{name}}</div>
        <div class="desc">{{description}}</div>
        
        <div class="documents-all">
            <div id="entityDocs" class="documents view-docs"></div>
        </div>
        
        <div class="bottom-area">
            {{#if hasAddress}}
            <div class="address">
                <div class="title">@Model.W("AddressOfStay")</div>
                
                
                <div class="cont">
                    
                    <div class="place">
                        <span class="icon {{stayIco}}"></span>                        
                        <a class="name" href="javascript:window.open('{{stayLink}}')">{{stayName}}</a>
                    </div>
                    <div class="place">
                        {{stayAddress}}
                        <a class="map" href="javascript:window.open('https://www.google.com/maps?q={{stayAddress}}');">@Model.W("Map")</a>
                    </div>

                </div>
                

            </div>
            {{/if}}

            <div class="places">
                <div class="title">@Model.W("GoingToVisit")</div>

                <div class="cont">
                    
                    {{#if hasNoWantVisit}}
                    <div class="place">
                        @Model.W("NoPlans")
                    </div>
                    {{/if}}
                    {{#each wantVisit}}
                    <div class="place">
                        <span class="icon {{icon}}"></span>                        
                        <a class="name" href="javascript:window.open('{{link}}')">{{name}}</a>
                    </div>
                    {{/each}}
                </div>

            </div>

        </div>

        
        <a class="close" href="#"><span class="icon-close-cross"></span></a>
    </div>
    
</script>

<script id="placeDetailViewFriends-template" type="text/x-handlebars-template">
    
    <div class="place-detail-view details">
        <div class="name-title">{{name}}</div>
      
        <div class="bottom-area">
            
            <div class="places">
                <div class="title">@Model.W("GoingToVisit")</div>

                <div class="cont">

                    {{#if hasNoWantVisit}}
                    <div class="place">
                        @Model.W("NoPlans")
                    </div>
                    {{/if}}
                    {{#each wantVisit}}
                    <div class="place">
                        <span class="icon {{icon}}"></span>
                        <a class="name" href="javascript:window.open('{{link}}')">{{name}}</a>
                    </div>
                    {{/each}}
                </div>

            </div>

        </div>


        <a class="close" href="#"><span class="icon-close-cross"></span></a>
    </div>
    
</script>

<script id="travelDetail-template" type="text/x-handlebars-template">
		<div class="travel-detail details">

            <div class="the-first">
                @Html.Partial("TravelType")
            </div>

            <div id="flightDetails" style="display: none">
                <div id="airportFrom" class="dropdown">
                    <input class="inputed" type="text" placeholder="@Model.W("FromAirport")">
                    <ul></ul>
                </div>
                <div id="airportTo" class="dropdown">
                    <input class="inputed" type="text" placeholder="@Model.W("ToAirport")">
                    <ul></ul>
                </div>
            </div>
        
            @Html.Partial("DialogFilesUpload")
            
            <a class="close" href="#"><span class="icon-close-cross"></span></a>         
		</div>

</script>

<script id="travelDetailView-template" type="text/x-handlebars-template">
	<div class="travel-detail-view details">
				
        {{#if isFlight}}	        
		    <div class="name-title">{{from}} → {{to}}</div>	        
        {{/if}}
            <div class="times">{{arrivingDateTime}} - {{leavingDateTime}}</div>
				
            <div class="desc">{{description}}</div>
            <div class="documents-all">
                <div id="entityDocs" class="documents view-docs"></div>
            </div>
			
            <a class="close" href="#"><span class="icon-close-cross"></span></a> 
	</div>
</script>


<script id="travelDetailViewFriends-template" type="text/x-handlebars-template">
    <div class="travel-detail-view details">
        
        {{#if isFlight}}
            <div class="name-title">{{from}} → {{to}}</div>
        {{/if}}

        <div class="times">{{arrivingDateTime}} - {{leavingDateTime}}</div>

        <a class="close" href="#"><span class="icon-close-cross"></span></a> 
    </div>
</script>
