@{
		ViewData["Title"] = "Home Page";
		Layout = "";
}

@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@using Microsoft.AspNet.Mvc.Rendering
@model Gloobster.Portal.ViewModels.ViewModelShareTrip

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Gloobster</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700">

    <link href="/lib/mapbox.js/mapbox.css" rel="stylesheet"/>
    <link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet"/>
    <link href="~/css/main.css" rel="stylesheet"/>

    @Html.Partial("_GlobalTemplates")
    @Html.Partial("_GlobalScripts")

    @Html.Partial("GAnalytics")

    @if (GloobsterConfig.UseMiniScripts)
    {
        <script src="/jsb/shareTrip.js" type="text/javascript" data-notbuild="true"></script>
    }
    else
    {
        <script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
        <script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>

        <script type="text/javascript" src="/js/Views/ShareTripView.js"></script>
        <script type="text/javascript" src="/js/Maps/MapsCreatorMapBox2D.js"></script>
    }


</head>

<body class="trip-share">

<div class="wrapper map-wrapper">

    <div class="map" id="map"></div>

    <div class="map-logo"></div>

    <div class="map-info">
        <div class="first-row">
            <div class="thumb-cont s border">
                <img src="/PortalUser/ProfilePicture_s/@Model.OwnerId">
            </div>
            <div>
                <span class="name">@Model.OwnerDisplayName</span>
                <div class="trip">@Model.W("PlannedTrip")</div>
                <div class="date">
                    @Model.DateRangeStr
                </div>
            </div>

        </div>
        <div class="name-cont">
            <span>@Model.Message</span>
        </div>

    </div>

    <div class="service">
        
        @if (!Model.TripIsPrivate)
        {
            <a class="lbtn" href="/trip/@Model.Id">@Model.W("DetailOfTheTripBtn")</a>
        }

        <a class="lbtn" href="/">@Model.W("JoinGloobsterBtn")</a>
        
    </div>

</div>



    <div class="wrapper">
        <h3>@Model.W("TravelersOnBoard")</h3>
        
            @foreach (var participant in Model.Participants)
            {
                await Html.RenderPartialAsync("Participant", (object) participant);
            }
  
    </div>


    <script id="cityPopup-template" type="text/x-handlebars-template">
        <strong>{{cityName}}</strong>
        <div>
            {{fromDate}}
            {{#if bothDates}}-{{/if}}
            {{toDate}}
        </div>
    </script>

    <script id="travelPopup-template" type="text/x-handlebars-template">
        <strong>{{number}}. {{fromCity}} - {{toCity}}</strong>        
    </script>

<script>
    currentView = new Views.ShareTripView('@Model.Id');
</script>

    

</body>

</html>





