
<div id="travelType" class="dropdown">
    <span class="selected">
    </span>
    <ul>
        <li data-value="6" data-cls="icon-bike" data-cap="Bike">
            <span class="icon-bike black left mright5"></span>
            @Model.W("Bike")
        </li>
        <li data-value="5" data-cls="icon-boat" data-cap="Ship">
            <span class="icon-boat black left mright5"></span>
            @Model.W("Ship")
        </li>
        <li data-value="2" data-cls="icon-car" data-cap="Car">
            <span class="icon-car black left mright5"></span>
            @Model.W("Car")
        </li>
        <li data-value="1" data-cls="icon-plane" data-cap="Plane">
            <span class="icon-plane black left mright5"></span>
            @Model.W("Plane")
        </li>
        <li data-value="4" data-cls="icon-train" data-cap="Train">
            <span class="icon-train black left mright5"></span>
            @Model.W("Train")
        </li>
        <li data-value="3" data-cls="icon-bus" data-cap="Bus">
            <span class="icon-bus black left mright5"></span>
            @Model.W("Bus")
        </li>
        <li data-value="0" data-cls="icon-walk" data-cap="Walk">
            <span class="icon-walk black left mright5"></span>
            @Model.W("Walk")
        </li>
    </ul>
    <input type="hidden">
</div>