
<div id="travelType" class="dropdown">
    <span class="selected">
    </span>
    <ul>
        <li data-value="6" data-cls="icon-bike" data-cap="Bike">
            <span class="ticon icon-bike black"></span>  @Model.W("Bike")
        </li>
        <li data-value="5" data-cls="icon-boat" data-cap="Ship">
            <span class="ticon icon-boat black"></span>  @Model.W("Ship")
        </li>
        <li data-value="2" data-cls="icon-car" data-cap="Car">
            <span class="ticon icon-car black"></span>  @Model.W("Car")
        </li>
        <li data-value="1" data-cls="icon-plane" data-cap="Plane">
            <span class="ticon icon-plane black"></span>  @Model.W("Plane")
        </li>
        <li data-value="4" data-cls="icon-train" data-cap="Train">
            <span class="ticon icon-train black"></span>  @Model.W("Train")
        </li>
        <li data-value="3" data-cls="icon-bus" data-cap="Bus">
            <span class="ticon icon-bus black"></span>  @Model.W("Bus")
        </li>
        <li data-value="0" data-cls="icon-walk" data-cap="Walk">
            <span class="ticon icon-walk black"></span>  @Model.W("Walk")
        </li>
    </ul>
    <input type="hidden">
</div>