@using System.Globalization
@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model TripItemViewModel

@{
    string imgLink = Model.HasSmallPicture ? $"/Trip/TripPictureSmall_xs/{Model.Id}" : "/images/placeholder-70.png";
}

<div class="row trip-holder" id="@Model.Id">
    <div class="cell">
        <div class="photo">            
            <img id="tripImg_@Model.Id" src="@imgLink">
        </div>
    </div>
    <div class="cell">
        <a href="/@RoutingConsts.TripEditMenuName/@Model.Id"><h3>@Model.Name</h3></a>
    </div>
    <div class="cell">        
        @Model.FromDate.ToString("dd. MMM yyyy", CultureInfo.GetCultureInfo(Model.B.Locale)) - @Model.ToDate.ToString("dd. MMM yyyy", CultureInfo.GetCultureInfo(Model.B.Locale))        
    </div>
    <div class="cell">
        @Model.Participants.Count friends
        <div>
            @foreach (var participant in Model.Participants)
            {
                <div class="thumb-cont xs border">
                    <img src="/PortalUser/ProfilePicture_xs/@participant.Id" alt="@participant.Name">
                </div>
            }
        </div>
    </div>
    <div class="cell">
        @if (Model.IsOwner)
        {
            <span class="you">@Model.B.W("You")</span>
        }
        else
        {
            <div class="thumb-cont xs border">
                <img src="/PortalUser/ProfilePicture_xs/@Model.OwnerId" alt="@Model.OwnerName">
            </div>
        }
    </div>
    <div class="cell">
        
        @if (Model.IsOwner)
        {
            <div class="setting-wrap">
                <span class="setting icon-gear"></span>
                @Html.Partial("TripsItemMenu")
            </div>
        }
        
    </div>

    
</div>