@using System.Globalization
@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model TripItemViewModel

@{
    string imgLink = Model.HasSmallPicture ? $"/Trip/TripPictureSmall_xs/{Model.Id}" : "/images/placeholder-70.png";
    
    string itemLink = $"/{RoutingConsts.TripEditMenuName}/{Model.Id}";
    if (!Model.IsOwner)
    {
        itemLink = $"/{RoutingConsts.TripMenuName}/{Model.Id}";
    }
}

<div class="row trip-holder" id="@Model.Id">
    <div class="cell">
        <div class="photo">            
            <img id="tripImg_@Model.Id" src="@imgLink">
        </div>
    </div>
    <div class="cell">
        <a href="@itemLink"><h3>@Model.Name</h3></a>
    </div>
    <div class="cell date-cell">        
        <div>@Model.FromDate.ToString("dd. MMM yyyy", CultureInfo.GetCultureInfo(Model.B.Locale))</div>
        
        <div>@Model.ToDate.ToString("dd. MMM yyyy", CultureInfo.GetCultureInfo(Model.B.Locale))</div>
    </div>
    <div class="cell">
        
        <div>
            @foreach (var participant in Model.Participants)
            {
                <div class="thumb-cont xs border">
                    <img src="/PortalUser/ProfilePicture_xs/@participant.Id" alt="@participant.Name">
                </div>
            }
        </div>
        <span class="nowrap">@Model.Participants.Count @Model.B.W("FriendsCount")</span>
    </div>
    <div class="cell">
        @if (Model.IsOwner)
        {
            <span class="you">@Model.B.W("You")</span>
        }
        else
        {
            <div class="thumb-cont xs border">
                <img src="/PortalUser/ProfilePicture_xs/@Model.OwnerId" alt="@Model.OwnerName">
            </div>
        }
    </div>
    <div class="cell">
        
        @if (Model.IsOwner)
        {
            <div class="setting-wrap">
                <span class="setting icon-gear"></span>
                @Html.Partial("TripsItemMenu")
            </div>
        }
        
    </div>

    
</div>