@using System.Globalization
@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model TripItemViewModel

@{
    string imgLink = Model.HasSmallPicture ? $"/Trip/TripPictureSmall_xs/{Model.Id}" : "/images/placeholder-70.png";
}

<div class="row" id="@Model.Id">
    <div class="cell">
        <div class="photo">            
            <img id="tripImg_@Model.Id" src="@imgLink">
        </div>
    </div>
    <div class="cell">
        <h3>@Model.Name</h3>
    </div>
    <div class="cell nowrap">        
        @Model.FromDate.ToString("dd. MMM yyyy", CultureInfo.InvariantCulture) - @Model.ToDate.ToString("dd. MMM yyyy", CultureInfo.InvariantCulture)        
    </div>
    <div class="cell nowrap">
        @Model.Participants.Count friends
        <div class="avatars">
            @foreach (var participant in Model.Participants)
            {
                <img src="/PortalUser/ProfilePicture_xs/@participant.Id" alt="@participant.Name">
            }
        </div>
    </div>
    <div class="cell">
        @if (Model.IsOwner)
        {
            <span class="incomplete">@Model.B.W("You")</span>
        }
        else
        {
            <div class="avatars">
                <img src="/PortalUser/ProfilePicture_xs/@Model.OwnerId" alt="@Model.OwnerName">
            </div>
        }
    </div>
    <div class="cell nowrap tright trip-holder">
        @if (Model.IsOwner)
        {
            <span data-tid="@Model.Id" class="icon-wheel blue middle mright10"></span>
        }
        <a class="button white-blue middle" asp-controller="Trip" asp-action="Overview" asp-route-id="@Model.Id">Detail</a>
        @Html.Partial("TripsItemMenu")
    </div>

    <div class="cell nowrap tright">
        
        
    </div>

    
</div>