@{		
    ViewBag.BodyClass = "fly-tickets";
    ViewBag.MenuGroup = "Planning";
    Layout = "_LayoutNew";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelPlanning


<link href="/lib/mapbox.js/mapbox.css" rel="stylesheet" />
<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet" />

<script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>

<script type="text/javascript" src="@Url.Content("~/js/Views/PlanningView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/AirportCombo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/LocationSettingsDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/TravelB/Tabs.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Planning/NamesList.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/CustomForm.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/TaggingField.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/CitiesManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/CountriesManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/Utils.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/WeekendForm.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/PlanningMap.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/ResultsManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/DisplayAndAgg.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/Tabs.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorMapBox2D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CountryShapes.js")"></script>

<div class="wrapper">
    <span class="icon-home"></span>
    <small>Current location</small>
    <strong>@Model.CityName</strong>, <span>@Model.CountryName</span>


    <small>Home Airport</small>
    
    <a class="icon-gear" data-target="#popup-future" href="#"></a> @Model.AirportsStr


    <div id="naviCont"></div>

    <div id="tabContent"></div>

    <div class="map" id="map"></div>

    <div id="tabsCont">

    </div>

    <div id="queue">

    </div>

    <div id="results2">

    </div>
</div>


@Html.Partial("LocationSettingsDialog", Model)
@Html.Partial("DestinationTemplates")

<script>
	function onBodyLoad() {
			currentView = new Views.PlanningView();
	}

</script>