@{		
    ViewBag.BodyClass = "fly-tickets";
    ViewBag.MenuGroup = "Planning";
    Layout = "_LayoutNew";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@using Microsoft.AspNet.Mvc.Rendering
@model Gloobster.Portal.ViewModels.ViewModelPlanning


<link href="/lib/mapbox.js/mapbox.css" rel="stylesheet" />
<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet"/>

<script src="/js/Common/nouislider/nouislider.js" type="text/javascript"></script>

<script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>


<script type="text/javascript" src="/js/Planning/Filtering.js"></script>

<script type="text/javascript" src="@Url.Content("~/js/Views/FlyView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/AirportCombo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/LocationSettingsDialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/TravelB/Tabs.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Planning/NamesList.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/CustomForm.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/TaggingField.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/CitiesManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/CountriesManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/Utils.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/PlanningMap.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/ResultsManager.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Planning/Tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/AirlineCodes.js")"></script>

<script src="/js/planning/WeekendDisplayer.js"></script>
<script src="/js/planning/WeekendPageSetter.js"></script>

<script src="/js/planning/AnytimeDisplayer.js"></script>
<script src="/js/planning/FlightDetails.js"></script>

<script src="/js/planning/AnytimePageSetter.js"></script>

<script type="text/javascript" src="/js/Common/CustomCheckbox.js"></script>


<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorMapBox2D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CountryShapes.js")"></script>




<div class="info-block-bck" id="info-travelb">

    <div class="wrapper">

        <div class="title-table">
            <div class="left">
                <h1>Fly tickets</h1>
            </div>

            @*<div class="right">
                <a class="showHide" data-ts="@showText" data-th="@hideText" href="#">@infoBtnTxt</a>
            </div>*@

        </div>

        @*<div class="info-block" style="@infoCss">
            <div class="block">

                <div class="block-inner">
                    <div class="img-all">
                        <img src="/images/n/checkin-now.svg" />
                    </div>

                    <div class="txt">
                        @Model.W("InfoNow")
                    </div>
                </div>

            </div>

            <div class="block">

                <div class="block-inner">
                    <div class="img-all">
                        <img src="/images/n/checkin-city.svg" />
                    </div>

                    <div class="txt">
                        @Model.W("InfoCity")
                    </div>
                </div>
            </div>

        </div>*@

    </div>
</div>

<div class="wrapper">

    @Html.Partial("LocationSettingsDialog")

    <div id="naviCont"></div>

    <div id="tabContent"></div>

    <div class="map" id="map"></div>

    <div id="filterCont">

    </div>

    <div id="queue">

    </div>

    <div class="flight-results" id="resultsCont">

    </div>
</div>



@Html.Partial("DestinationTemplates")

<script>
	function onBodyLoad() {
	    currentView = new Views.FlyView();
	}

</script>