@{		
		ViewBag.BodyClass = "future";
		ViewBag.MenuGroup = "Planning";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelPlanning


<link href="/lib/mapbox.js/mapbox.css" rel="stylesheet" />
<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet" />

<script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>

<script type="text/javascript" src="@Url.Content("~/js/Views/PlanningView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Trip/AirportCombo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/LocationSettingsDialog.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Planning/NamesList.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/CustomForm.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/TaggingField.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/CitiesManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/CountriesManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/Utils.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/WeekendForm.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/PlanningMap.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/ResultsManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Planning/DisplayAndAgg.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorMapBox2D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CountryShapes.js")"></script>

<section class="wrapper margin3">
	<div class="table right">
		<div class="cell bottom">
			<span class="icon-home mright5"></span>
		</div>
		<div id="currentLocation" class="cell h4 middle">
			<small class="display-block">Current location</small>
			<strong>@Model.CityName</strong>, <span>@Model.CountryName</span>
		</div>
		<div class="cell bottom">
			<span class="icon-plane2 mright5 mleft10"></span>
		</div>
		<div class="cell h4 middle">
			<small class="display-block">Home Airport</small>
			@Model.AirportsStr
		</div>
		<div class="cell bottom">
			<a class="icon-wheel blue mleft10 popup-target" data-target="#popup-future" href="#"></a>
		</div>
	</div>
	@*<h1 class="margin2">Planning</h1>*@

	@*<div class="hint orange margin">
		<span class="icon-amplion orange middle mright5"></span>
		Our search engine is now in beta. So bear with us until next release to be out in
		<strong>37 days, 5 hours and 32 minutes</strong>.
		<a class="close" href="#">Close</a>
	</div>*@

	<div class="table width100">
		<div class="cell">
			<div id="TimeTab" class="tabs table row">
				<div class="cell">
					<a class="tab active" data-type="0" href="#">Anytime</a>
				</div>
				<div class="cell">
					<a class="tab" data-type="1" href="#">Weekend</a>
				</div>
				<div class="cell">
					<a class="tab" data-type="2" href="#">Custom</a>
				</div>
			</div>
		</div>
		
	</div>

	<div id="tabContent"></div>

	<div class="map margin" id="map"></div>

    <div id="tabsCont">

    </div>

    <div id="queue">
        
    </div>

    <div id="results2">

    </div>

    @*<div id="results">

    </div>*@

</section>

@Html.Partial("LocationSettingsDialog", Model)
@Html.Partial("DestinationTemplates")

<script>
	function onBodyLoad() {
			currentView = new Views.PlanningView();
	}

</script>