@using Gloobster.Entities
@using Microsoft.Data.Entity.Metadata.Internal
@model  Gloobster.Portal.ViewModels.ViewModelQuiz

@{

    ViewData["Title"] = "Quiz - " + Model.Quiz.Title;
    ViewBag.BodyClass = "quiz";
}

<script type="text/javascript" src="/js/Views/QuizDetailView.js"></script>

<div class="wrapper">

    @*<div class="quiz-wrapper">
        
        
        
        <div class="top-tbl">
            
            <div class="l">
                <h1 class="title">@Model.Quiz.Title</h1>
            </div>
            
            <div class="r">
                
                <div class="buttons">
                    <span class="btn left">
                        <span class="icon-arrow-left2"></span>
                    </span>
                    <span class="displayer">
                        <span class="curr-page">1</span>/10
                    </span>
                    <span class="btn right">
                        <span class="icon-arrow-right2"></span>
                    </span>
                </div>

            </div>

        </div>

        

        @foreach (QuizItemSE item in Model.Quiz.Items)
        {
            <div class="quiz-item" style="@(item.No == 1? string.Empty : "display: none")" data-no="@item.No" data-c="@item.CorrectNo" >
                
                <div class="photo-cont">
                    <img src="/quiz/photo?quizNo=@(Model.Quiz.No)&itemNo=@(item.No)"/>
                </div>
                
                <div class="question">@item.Question ?</div>

                <div class="options">
                    @foreach (QuizOptionSE option in item.Options)
                    {
                        <div class="option-cont" data-no="@option.No">

                            <div class="itbl">
                                <div class="num">@(Model.GetLetterFromNumber(option.No))</div>
                                <div class="text">@option.Text</div>
                            </div>

                        </div>
                    }
                </div>

            </div>
        }

    </div>*@
</div>

<script id="quiz-result-tmp" type="text/x-handlebars-template">


</script>

<script>

    function onBodyLoad() {
        currentView = new Views.QuizDetailView();
        currentView.init();


    }
</script>