@using Gloobster.Entities
@using Microsoft.Data.Entity.Metadata.Internal
@model  Gloobster.Portal.ViewModels.ViewModelQuiz

@{

    ViewData["Title"] = "Quiz - " + Model.Quiz.Title;
    ViewBag.BodyClass = "quiz";
}

<script type="text/javascript" src="/js/Views/QuizDetailView.js"></script>

<input id="titleUrl" type="hidden" value="@Model.Quiz.TitleUrl" />

<div id="quizCont" class="wrapper">
    
    <div class="quiz-wrapper">



    <div class="top-tbl">

        <div class="l">
            <h1 class="title">@Model.Quiz.Title?</h1>
        </div>

        <div class="r">

            <div class="buttons">
                <span class="btn left">
                    <span class="icon-arrow-left2"></span>
                </span>
                <span class="displayer">
                    <span class="curr-page">1</span>/10
                </span>
                <span class="btn right">
                    <span class="icon-arrow-right2"></span>
                </span>
            </div>

        </div>

    </div>



    @foreach (QuizItemSE item in Model.Quiz.Items)
    {
        <div class="quiz-item" style="@(item.No == 1? string.Empty : "display: none")" data-no="@item.No" data-c="@item.CorrectNo" >

            <div class="photo-cont">
                <img src="/quiz/photo?quizNo=@(Model.Quiz.No)&itemNo=@(item.No)"/>
            </div>

            <div class="question">@item.Question ?</div>

            <div class="options">
                @foreach (QuizOptionSE option in item.Options)
                {
                    <div class="option-cont" data-no="@option.No">

                        <div class="itbl">
                            <div class="num">@(Model.GetLetterFromNumber(option.No))</div>
                            <div class="text">@option.Text</div>
                        </div>

                    </div>
                }
            </div>

        </div>
    }

</div>
</div>

<script id="quiz-result-tmp" type="text/x-handlebars-template">
    
    <div class="quiz-result">
        <div class="title-line">@Model.W("FinishCongrats")</div>
        <div class="trophy-line">
            <span class="icon-trophy trophy"></span>
        </div>
        <div class="score-line">
            @Model.W("FinishMsg1") <span class="score-all"><span class="score">{{score}}</span>/10</span> @Model.W("FinishMsg2")
        </div>
        <div class="share-line">
            
            @*https://www.facebook.com/dialog/feed?&app_id=527957123932456&link=http%3A%2F%2Fm.fnp.de%2Flokales%2Ffrankfurt%2FWie-gut-kennen-Sie-ihre-Stadt%253Bart675%252C2547046%3FGEPC%3Ds6%26pb_traffic_source%3Dfacebook&description=Frankfurt%20in%20Nahaufnahme%3A%20An%20welche%20Orte%20in%20der%20Stadt%20haben%20wir%20ganz%20nah%20rangezoomt%3F%20Kannst%20du%20sie%20erkennen%3F&name=Ich%20habe%3A%22Solide%20Leistung!%20Du%20kannst%20dich%20stolz%20einen%20Frankfurter%20nennen.%22%20(15%20von%2020!%20)%20-%20Wie%20gu...&picture=http%3A%2F%2Fcdn.playbuzz.com%2Fcdn%2F133ba90b-5925-4b35-86ec-b6b5a038dfa4%2F2db5e605-ddd9-4604-84d7-1011230dd7c2_560_420.jpg*@

            <a class="quiz-fb-share" href="https://facebook.com/sharer/sharer.php?u=https%3A//gloobster.com/quiz/{{titleUrl}}" target="_blank">
                <span class="icon-facebook fb-ico"></span><span class="text">@Model.W("FbShareBtn")</span>
            </a>

        </div>
    </div>

</script>

<script>

    function onBodyLoad() {
        currentView = new Views.QuizDetailView();
        currentView.init();
    }
</script>