@using System.Web.UI
@using Gloobster.Common
@using Gloobster.Entities.Trip
@using Gloobster.Portal.ViewModels
@using Microsoft.Data.Entity.Metadata.Internal
@using Newtonsoft.Json
@using System.Linq;

@model ViewModelDashboard

@{
    ViewData["Title"] = "Dashboard";
    ViewBag.MenuGroup = "Dashboard";
    ViewBag.BodyClass = "dashboard";
}

<link href="/lib/fullcalendar/dist/fullcalendar.css" rel="stylesheet">    


@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/dashboard.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/lib/fullcalendar/dist/fullcalendar.js" type="text/javascript"></script>
    <script src="/js/Dashboard/CalendarUtils.js" type="text/javascript"></script>
    <script src="/js/Views/AirLoc.js" type="text/javascript"></script>
    <script src="/js/Deals/ResultsManager.js" type="text/javascript"></script>
    <script src="/js/Deals/DelasEval.js" type="text/javascript"></script>
    <script src="/js/Deals/Aggregators/FlightsExtractor.js" type="text/javascript"></script>
    <script src="/js/Deals/Aggregators/AnytimeAggUtils.js" type="text/javascript"></script>
    <script src="/js/Views/DashboardView.js" type="text/javascript"></script>    
}




<div class="wrapper">

    <div id="menuCont" class="navi-cont"></div>

    <div class="topics">

    <div class="topic-block tb-friends hidden">
        <div class="title">Friend's feed</div>
        <div class="content">
            
            @if (!Model.HasFriends)
            {
                <div class="friends-item">
                    <div class="no-friends">
                        <div class="nof-txt">
                            You have no friends yet, go to Friends page and find a one
                        </div> 
                        <div class="nof-link">
                            <a href="/@RoutingConsts.FriendsMenuName">Go to Friends page</a>
                        </div>
                        
                    </div>
                </div>

            }
            else if (!Model.Logs.Any())
            {
                <div class="friends-item">
                    <div class="no-friends">
                        <div class="nof-txt">
                            There aren't any new notifications from your friends
                        </div>                        
                    </div>
                </div>

            }
            else
            {
                foreach (UserLogViewModel log in Model.Logs)
                {
                    <div class="friends-item">

                        <div class="f-tbl">
                            <div class="l">
                                <img src="/PortalUser/ProfilePicture_s/@log.UserId">
                            </div>
                            <div class="r">
                                <div class="name-cont">
                                    <a href="/@RoutingConsts.UserDetailMenuName/@log.UserId">@log.Name</a>
                                </div>
                                <div class="date-cont">@log.Created.ToShortDateString() @log.Created.ToShortTimeString()</div>
                                <div class="txt">@Html.Raw(log.Content)</div>

                            </div>
                        </div>

                    </div>
                }
            }

                    
                @*Just created his public trip "Holidays in Norway"
                                    
                Just met with John Keneddy over the Travel Buddy.
                                   
                Just made a recommendation to a Karl Benz. "He is such a nice guy, here really showed me how does it work in the city"*@
                           


                </div>
    </div>

    <div class="topic-block tb-portal hidden">            
        <div class="title">Portal feed</div>
        <div class="content">

                <div class="portal-item">                    
                    <h3><a href="#">How to travel South East Asia</a></h3>
                    <img src="images/n/temp/beach1.jpg" />
                    <p>Prague is one of the most beautiful historical cities in the world. Its large center, 866 hectares in size makes Prague unique history preservation. A medieval centre with narrow streets, cathedrals, towers and churches, one of the oldest and well preserved castle in Europe, the Vltava river with its swans and its magical bridges. This is Prague but not only this! Prague is a popular night-life destination, with thousands of bars, pubs and clubs.</p>
                </div>
                
                <div class="portal-item">
                    <h3><a href="#">Traveling budget over the Europe</a></h3>
                    <img src="images/n/temp/graph1.jpg" />
                    <p>A large part of the city, including the River Seine, is a UNESCO World Heritage Site.</p>
                </div>
                
                <div class="portal-item">
                    <h3><a href="#">TOP 10: beautiful cities</a></h3>
                    <img src="images/n/temp/city1.jpg" />
                    <p>Lisbon (in Portuguese: Lisboa) is the capital of Portugal. Like İstanbul, Rome and San Francisco, Lisbon is built on seven hills.</p>
                </div>

            </div>

        </div>


    <div class="topic-block tb-web hidden">       
        <div class="title">Web navigation</div>     
        <div class="content">
            
            <div class="web-item dark">
                <div class="web-title">Your travel deals</div>
                <div class="web-cont">
                    
                    
                    @if (!Model.HasAirs)
                    {
                        <div class="your-deals-all">

                            <div class="icos-tbl">

                                <div class="ico-block">
                                    <img class="svg-img" src="/images/n/fly-pin.svg"/>
                                    <div class="txt">Set your home city</div>
                                </div>

                                <div class="ico-block">
                                    <img class="svg-img" src="/images/n/fly-comp.svg"/>
                                    <div class="txt">Choose desired destinations</div>
                                </div>

                                <div class="ico-block">
                                    <img class="svg-img" src="/images/n/fly-plane.svg"/>
                                    <div class="txt">Receive the best deals</div>
                                </div>
                            </div>

                            <div class="loc">
                                <div id="currentCity" class="dropdown">
                                    <input class="inputed" type="text" placeholder="Set your home city">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                    }
                    else if (!Model.HasDests)
                    {
                        <div class="your-deals-all">

                            <div class="no-data-txt">You havent set any locations yet</div>

                        </div>

                        <div class="redir-btn-cont">
                            <a href="/@RoutingConsts.DealsMenuName" class="lbtn2 redir-btn">Set your destinations</a>
                        </div>
                    }
                    else
                    {
                        <div class="your-deals-result-all">
                            
                            <div class="preload-all">
                                <span class="preloader">
                                    <img src="/images/n/Plane_icon.svg">
                                </span>    
                                <span class="txt">Evaluating deals...</span>
                            </div>

                            <div class="cats">

                                <div class="category c5">
                                    <div id="res5" class="no">0</div>
                                    <div class="stars">
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                    </div>
                                    <div class="txt-level">Excellent</div>
                                </div>

                                <div class="category c3">
                                    <div id="res3" class="no">0</div>
                                    <div class="stars">
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                    </div>
                                    <div class="txt-level">Good</div>
                                </div>

                                <div class="category c1">
                                    <div id="res1" class="no">0</div>
                                    <div class="stars">
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                    </div>
                                    <div class="txt-level">Standard</div>
                                </div>

                            </div>

                            <div class="redir-btn-cont">
                                <a href="/@RoutingConsts.DealsMenuName" class="lbtn2 redir-btn">See your deals</a>
                            </div>
                        </div>
                        
                    }



                </div>
            </div>
            

            <div class="web-item">
                <div class="web-title">
                    <span class="txt">Your travel map</span>
                    <a href="/@RoutingConsts.PinsMenuName" class="lbtn2 go-btn">To the map</a>
                </div>
                    <div class="web-cont">

                        <div class="your-map-all">
                            <a href="/@RoutingConsts.PinsMenuName">@Html.Partial("MapSvg")</a>
                        </div>

                    </div>
                </div>

            <div class="web-item">                
                <div class="web-title">
                    <span class="txt">Your trips</span>
                    <a href="/@RoutingConsts.PlannerMenuName/grid" class="lbtn2 go-btn">To the planner</a>
                </div>
                <div class="web-cont">

                    <div class="your-trips-all">
                        
                        @*todo: invited trips*@

                        <div class="items">
                            
                            @foreach (TripEntity trip in Model.Trips.Take(5))
                            {
                                string imgLink = trip.HasSmallPicture ? $"/Trip/TripPictureSmall_xs/{trip.id}" : "/images/placeholder-70.png";

                                <div class="item">
                                    <a href="/@RoutingConsts.TripMenuName/@trip.id"><img src="@imgLink" /> <span class="txt">@trip.Name</span></a>
                                </div>
                            }

                        </div>

                    </div>

                </div>
            </div>
            
            <div class="web-item">
                <div class="web-title">
                    <span class="txt">Friend's calendar</span>
                    <a href="/@RoutingConsts.CalendarName" class="lbtn2 go-btn">To the calendar</a>
                </div>                
                <div class="web-cont">

                    <div id="calendar" class="f-calendar"></div>

                </div>
            </div>

            

            </div>
        </div>


    </div>


</div>


@*<script id="dash-deals-no-airs-template" type="text/x-handlebars-template">
    
</script>

<script id="dash-deals-no-dests-template" type="text/x-handlebars-template">

</script>

<script id="dash-deals-no-dests-template" type="text/x-handlebars-template">

</script>*@


<script>

    function onBodyLoad() {
        currentView = new Views.DashboardView();

        currentView.ccs = @Html.Raw(JsonConvert.SerializeObject(Model.CCs));

        currentView.canQueryResults = @Html.Raw((Model.HasAirs && Model.HasDests).ToString().ToLower());

        currentView.init();
    }

</script>
