@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.DomainModels.Wiki
@using Gloobster.Enums
@using Gloobster.Portal
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@using Microsoft.AspNet.Mvc.Rendering
@using Microsoft.Data.Entity.Metadata.Internal
@model NewWikiModelBase

@{    
    ViewBag.BodyClass = "wiki-page-new";
    ViewBag.MenuGroup = "Wiki";
    ViewData["Title"] = "gloobster.com - wiki - " + Model.Texts.Title;
}

@Html.Partial("GAnalytics")

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/wikipage-@(ScriptsVersion.Version).js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    //achtung, compilation just from the country page. If adding something, possibly need to split the js builds
    <script type="text/javascript" src="/js/Views/NewWikiPageView.js"></script>
}

<div class="wrapper">
    <img src="@Model.TitleLink" />
</div>

<div class="wrapper">
    
    <div class="htbl middle-bar">
        <div class="left">
            @Html.Partial("AABreadcrumb")        
        </div>
        <div class="right">
            @Html.Partial("Stars", Model.Texts.Rating)        
        </div>
    </div>
    
    @Html.Partial("AAPageAdmin")
    
    <div id="mainPageCont" class="">
        
        <div class="cont-left">
            
            @foreach (var block in Model.BigBlocks)
            {                
                @Html.Partial("AASection_" + block.Type, block)
            }

        </div>
        
        <div id="rightCont" class="cont-right hidden">
            
            @if (Model.Texts.Type == ArticleType.City)
            {
                @Html.Partial("AAInfoTableCity")
            }
             
            @if (Model.Texts.Type == ArticleType.Country)
            {
                @Html.Partial("AAInfoTableCountry")
            }
            
            @Html.Partial("AAPhotos")
            
            @Html.Partial("AATable1Block", Model.GetPricesByCategory("Restaurant"))
            @Html.Partial("AATable1Block", Model.GetPricesByCategory("Transport"))
            @Html.Partial("AATable1Block", Model.GetPricesByCategory("Accommodation"))
            @Html.Partial("AATable1Block", Model.GetPricesByCategory("Nightlife", "Pub"))
            @Html.Partial("AATable1Block", Model.GetPricesByCategory("Nightlife", "Bar"))
            @Html.Partial("AATable1Block", Model.GetPricesByCategory("Nightlife", "Club"))
            

        </div>

    </div>

    
    @Html.Partial("AAGeoLinks")
    
    @Html.Partial("AAPageScripts")
</div>

<script id="photo-upload-dlg-template" type="text/x-handlebars-template">

    <div class="photo-upload-dlg">
        
        <div class="button-box">

            <input id="addUserPhoto" type="file">
            <label for="addUserPhoto">
                <span class="lbtn2 green-orange">upload a photo</span>
            </label>

        </div>

        <div class="info-box">            
            <a target="_blank" href="/legal/TermsAndConds">Terms and conditions for adding photos</a>
        </div>
        
    </div>
     
</script>

<script id="block-report-tmp" type="text/x-handlebars-template">

    <div class="report-dlg">

        <div>
            <textarea class="txt-area" placeholder="@Model.W("TextPlaceholder")"></textarea>
        </div>

        <div>
            <a id="uploadSectionPhoto" href="#" class="lbtn2 green-orange">Upload section title photo</a>
        </div>

    </div>

</script>
