@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model WikiPageBlock

@{
    bool? liked = Model.Liked;

    var likedIsActive = false;
    var dislikeIsActive = false;
    if (liked.HasValue)
    {
        if (liked.Value)
        {
            likedIsActive = true;
        }
        else
        {
            dislikeIsActive = true;
        }
    }

    var ratingStr = Model.Rating.ToString();
    var ratingCls = "";
    if (Model.Rating > 0)
    {
        ratingStr = $"+{Model.Rating}";
        ratingCls = "plus";
    }
    if (Model.Rating < 0)
    {
        ratingCls = "minus";
    }

}

<div class="article-rating-all">
    <div class="article-rating" data-id="@Model.SectionId">

        <div class="wrap">
            <div class="frame">
                <div title="@Model.Base.W("RatingBalance")" class="score @ratingCls">@ratingStr</div>
            </div>
        </div>
        <div class="wrap">
            <div class="frame">
                <a href="#" title="@Model.Base.W("LikeSection")" data-like="true" class="icon-like ratingBtn @(likedIsActive ? "active" : string.Empty)"></a>
            </div>
        </div>
        <div class="wrap">
            <div class="frame">
                <a href="#" title="@Model.Base.W("DontLikeSection")" data-like="false" class="icon-dislike ratingBtn @(dislikeIsActive ? "active" : string.Empty)"></a>
            </div>
        </div>
        <div class="wrap">
            <div class="frame">
                <a href="#" title="@Model.Base.W("RecommendContent")" class="icon-edit-pencil report-btn"></a>
            </div>
        </div>

    </div>
</div>