@using System.Threading.Tasks
@using Gloobster.Entities
@using Gloobster.Portal.ViewModels
@model WikiPageBlock

@{
    var tModel = (DoDontsVM) Model.Data;
}

<div class="does-donts doDont">
    
    <div class="block">
        <h3>@Model.Base.W("TryThis")</h3>

        @if (!tModel.Dos.Any())
        {
            <div class="wrapper">@Html.Partial("Empty", new EmptyVM { B = Model.Base})</div>
        }
        else
        {
            foreach (DdVM item in tModel.Dos)
            {
                <div data-id="@item.Id" data-t="do" class="item">
                    @Html.Partial("PlusMinusDD", item)
                    <span>@item.Text</span>
                </div>
            }
        }

        <div class="admindo">
        </div>        
    </div>

    <div class="block">
        <h3>@Model.Base.W("DontTryThat")</h3>

        @if (!tModel.Dos.Any())
        {
            <div class="wrapper">@Html.Partial("Empty", new EmptyVM { B = Model.Base })</div>
        }
        else
        {
            foreach (DdVM item in tModel.Donts)
            {
                <div data-id="@item.Id" data-t="dont" class="item">
                    @Html.Partial("PlusMinusDD", item)
                    <span>@item.Text</span>
                </div>
            }
        }

        <div class="admindont">
        </div>
    </div>
</div>