@using System.Threading.Tasks
@using System.Linq
@using Gloobster.Common
@using Gloobster.Portal.ViewModels
@using Microsoft.Data.Entity.Metadata.Internal
@model PhotosVM

<div id="photos" class="gallery-photos">

    @if (Model.UserIsAdmin)
    {
        <div id="duCont" style="display: none">

            <a class="photo-button" href="#">
                <input id="galleryPhotoInput" type="file" />
                <label for="galleryPhotoInput">Direct upload</label>
            </a>

        </div>
    }

    @Html.Partial("ProgressBar", "galleryProgress")


    @foreach (var photo in Model.Photos)
    {        
        var thumbLink = $"/Wiki/ArticlePhotoThumb?photoId={photo.Id}&articleId={Model.ArticleId}";
        var link = $"/Wiki/ArticlePhoto?photoId={photo.Id}&articleId={Model.ArticleId}";

        <div id="@photo.Id" class="photo">

            @if (Model.Admin)
            {
                <a href="#" data-pi="@photo.Id" data-ai="@Model.ArticleId" class="delete">Delete</a>
                <span>   </span>

                if (!photo.Confirmed)
                {
                    <a href="#" data-pi="@photo.Id" data-ai="@Model.ArticleId" class="confirm">Confirm</a>
                }
            }

            <a href="@link" target="_blank"><img class="radius mhalf" src="@thumbLink"></a>
            <span>By </span><a href="/@RoutingConsts.UserDetailMenuName/@photo.OwnerId">@photo.OwnerName</a>
        </div>        
    }
        
    @if (!Model.Photos.Any())
    {    
        @Html.Partial("EmptyPhoto")
    }

    @if (!Model.UserIsAdmin)
    {
        <div class="recomm-photo">
            <a id="recommendPhoto" class="lbtn" href="#">@Model.B.W("RecommendPhoto")</a>
        </div>

        <div id="photosForm" class="photos-form" style="display: none">
            <input id="cid" class="isAdmin" type="checkbox" checked><label for="cid"><span>@Model.B.W("IUnderstand") </span></label>
            <a href="#">@Model.B.W("TermsAndCondsForPhotos")</a>
            <br />
            <a href="#" class="cancel">@Model.B.W("Cancel")</a>

            <a class="photo-button" href="#">
                <input id="galleryInput" class="inputs" type="file" />
                <label for="galleryInput">
                    <span class="">@Model.B.W("UploadPhoto")</span>
                </label>
            </a>

        </div>
    }

</div>