@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model BlockVM


<div class="blue-block wrapper adminBlock" data-at="standard" data-id="@Model.SectionId">
    
        <div class="about">
            <h3>@Model.B.W("About")</h3>
            <p>

                <table>
                    @Html.Partial("TableItem", Model.InfoByName("PopulationCity"))
                </table>

            </p>
        </div>
    
        @Html.Partial("NewArticleRating")
        <p id="text_@Model.SectionId" class="h3">@Model.Text</p>
        
</div>