@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model BlockVM

@{
    var area = Model.InfoByName("Area");
    area.AfterName = "(km²)";

    var mainLang = Model.InfoByName("Languages");
    var langs = mainLang.Value.Split(',').ToList();
    if (langs.Any())
    {
        mainLang.Value = langs[0];
    }    
}

<style>    
     .box.blue table {
         border: none;
         color: black;
     }

    .box.blue td {
        background-color: transparent;
        padding-bottom: 0;        
    }

    .box.blue td.value {
        text-align: right;
    }
</style>

<div class="table width100 adminBlock" data-at="standard" data-id="@Model.SectionId">
    <div class="cell">
        @*width240*@
        <div class="box blue mright20 adminInfo left" style="width: 300px">
            <h3>About</h3>

            <table>
                @Html.Partial("TableItem", Model.InfoByName("Population"))                
                @Html.Partial("TableItem", Model.InfoByName("CapitalName"))
                @Html.Partial("TableItem", area)
                @*@Html.Partial("TableItem", Model.InfoByName("HDI"))*@
                @*@Html.Partial("TableItem", Model.InfoByName("CallingCode"))*@
                @*@Html.Partial("TableItem", Model.InfoByName("DrivingRight"))*@
                @Html.Partial("TableItem", Model.InfoByName("CurrencyCode"))

                @Html.Partial("TableItem", mainLang)
                @{
                    var otherLangs = Model.InfoByName("Languages");
                    otherLangs.AfterName = " (Other)";
                    if (langs.Count() > 1)
                    {
                        langs.RemoveAt(0);
                        otherLangs.Value = string.Join(", ", langs);
                    }
                }

                
                @Html.Partial("TableItem", otherLangs)

            </table>

        </div>
 
        <p id="text_@Model.SectionId" class="h3">@Model.Text</p>
    </div>
    <div class="cell">
        @Html.Partial("Rating")
    </div>
</div>