@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.DomainModels.Wiki
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@using Microsoft.AspNet.Mvc.Rendering
@model WikiCityViewModel

@{    
    ViewBag.BodyClass = "wiki-page";
    ViewBag.MenuGroup = "Wiki";
    ViewData["Title"] = "gloobster.com - wiki - " + Model.Texts.Title;
}

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/wikipage.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    //achtung, compilation just from the country page. If adding something, possibly need to split the js builds
    <script type="text/javascript" src="/js/Views/WikiPageView.js"></script>
}
@Html.Partial("GAnalytics")

<div class="wrapper">

    @Html.Partial("PageAdmin")

    @Html.Partial("Breadcrumb")
    @Html.Partial("Languages")

    <div class="titlePhoto wrapper">
        <div class="h-cont">
            <h1 class="title-white">@Model.Texts.Title</h1>
        </div>

        <img src="@Model.TitleLink">
    </div>

    @Html.Partial("BaseDescriptionCity", Model.Base())

    @Html.Partial("StandardBlock", Model.Section("AboutPeople"))

    @Html.Partial("TagsBlock", Model.Sights())

    @Html.Partial("StandardBlock", Model.Section("NightLife"))

    @Html.Partial("Table3Block", Model.NightLifePrices())

    @Html.Partial("TagsBlock", Model.BarDistricts())

    @Html.Partial("Table1Block", Model.Restaurant())

    @Html.Partial("Table1Block", Model.Transport())

    @Html.Partial("Table1Block", Model.Accommodation())
    
    @Html.Partial("StandardBlock", Model.Section("Safety"))

    @Html.Partial("StandardBlock", Model.Section("MuseumsAndTheater"))

    @Html.Partial("StandardBlock", Model.Section("Sport"))
    
    @Html.Partial("DoDont", Model.DoDonts())

    @Html.Partial("ArticlePhotos", new PhotosVM
    {
        Photos = Model.Photos.Where(p => p.Confirmed).ToList(),
        ArticleId = Model.ArticleId,
        Admin = false,
        UserIsAdmin = Model.IsAdmin,
        B = Model
    })

    @Html.Partial("GeoLinks")

    @Html.Partial("PageScripts")

</div>