
@using Gloobster.Portal.ViewModels
@model WikiCityViewModel

@{
    ViewBag.BodyClass = "page";
    //ViewBag.MenuGroup = "Planning";
}

<div class="blue-line margin"></div>

<section class="wrapper margin3">
    @Html.Partial("Breadcrumb")
    <h2>@Model.Title</h2>
    @Html.Partial("Languages")
    
    <div class="margin">
        <img class="radius" src="/images/samples/sample16.jpg">
    </div>
    
    @Html.Partial("BaseDescription")
    
    @Html.Partial("AboutPeople")



    <div class="table width100 margin">
        <div class="cell middle">
            <h3 class="margin0">Favorite sites</h3>
        </div>
        <div class="cell">
            @Html.Partial("Rating")
        </div>
    </div>
    <ul>
        <li>Colosseum one of the biggest ancient anphitheatre in the world</li>
        <li>Fori Imperiali, ancient complex of ruins and monuments from the roman empire</li>
        <li>Pantheon</li>
        <li>Fontana di Trevi</li>
        <li>Piazza di Spagna</li>
        <li>Vaticano and Piazza S. Pietro</li>
        <li>Piazza Navona</li>
    </ul>
    <p class="h4">Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations and photos, everything in one place and easy to share with friends. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking.</p>


    

    @Html.Partial("Photos")

    @Html.Partial("BlockWithBlue")

    @Html.Partial("BlockStandart")

    @Html.Partial("TextAndTable")

    @Html.Partial("DoDonts")

    @Html.Partial("PriceTable")

    @Html.Partial("Map")

    @Html.Partial("PlacesLinks")

    @Html.Partial("GeoLinks")

</section>
