@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model WikiCityViewModel

@{
    ViewBag.BodyClass = "page";
    //ViewBag.MenuGroup = "Planning";    
}

<script type="text/javascript" src="@Url.Content("~/js/Views/WikiPageView.js")"></script>

<style>
    /*todo: multiple duplicities in the app*/
     .photoButton input {
         width: 0.1px;
         height: 0.1px;
         opacity: 0;
         overflow: hidden;
         position: absolute;
         z-index: -1;
     }

    .photoButton label {
        cursor: pointer;
    }
</style>

@{
    string titleLink = "/images/samples/sample16.jpg";
    if (Model.Article.HasTitlePhoto)
    {
        titleLink = $"/wiki/ArticleTitlePhoto/{Model.Article.id}";
    }
}

@Html.Partial("AdminTemplates")

<style>
    .favItem {
        border: 1px solid #009DC4; 
        display: inline-block; 
        padding: 4px; 
        margin: 4px; 
        border-radius: 5px;
    }
</style>

<div class="blue-line margin"></div>

<section class="wrapper margin3">
    @if (Model.IsAdmin) { 
        <input id="adminMode" type="checkbox"><label for="adminMode" class="mright10">Admin mode</label>
    }

    @Html.Partial("Breadcrumb")
    <h2>@Model.Texts.Title</h2>
    @Html.Partial("Languages")

    <div class="titlePhoto margin">
        <img class="radius" src="@titleLink">
    </div>

    @Html.Partial("BaseDescription", Model.Section("Base"))

    @Html.Partial("StandardBlock", Model.Section("AboutPeople"))

    @Html.Partial("TagsBlock", Model.Sights())

    @Html.Partial("DoDont", Model.DoDonts())

    @Html.Partial("StandardBlock", Model.Section("NightLife"))
    @Html.Partial("Table3Block", Model.NightLifePrices())
    @Html.Partial("TagsBlock", Model.BarDistricts())

    @Html.Partial("Table1Block", Model.Restaurant())

    @Html.Partial("Table1Block", Model.Transport())

    @Html.Partial("Table1Block", Model.Accommodation())

    @Html.Partial("Photos")

</section>

<script>
	function onBodyLoad() {
	    currentView = new Views.WikiPageView('@Model.ArticleId');	 
	}

</script>