@using System.Threading.Tasks
@using Gloobster.DomainModels.Wiki
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model WikiCityViewModel

@{
    ViewBag.BodyClass = "page";
    //ViewBag.MenuGroup = "Planning";    
}

<script type="text/javascript" src="@Url.Content("~/js/Views/WikiPageView.js")"></script>

<style>
    /*todo: multiple duplicities in the app*/
     .photoButton input {
         width: 0.1px;
         height: 0.1px;
         opacity: 0;
         overflow: hidden;
         position: absolute;
         z-index: -1;
     }

    .photoButton label {
        cursor: pointer;
    }
</style>

<style>
    .favItem {
        border: 1px solid #009DC4; 
        display: inline-block; 
        padding: 4px; 
        margin: 4px; 
        border-radius: 5px;
    }
</style>


    @Html.Partial("PageAdmin")

    @Html.Partial("Breadcrumb")
    <h2>@Model.Texts.Title</h2>
    @Html.Partial("Languages")

    <div class="titlePhoto margin">
        <img class="radius" src="@Model.TitleLink">
    </div>

    @Html.Partial("BaseDescriptionCity", Model.Base())

    @Html.Partial("StandardBlock", Model.Section("AboutPeople"))

    @Html.Partial("TagsBlock", Model.Sights())

    @Html.Partial("DoDont", Model.DoDonts())

    @Html.Partial("StandardBlock", Model.Section("NightLife"))
    @Html.Partial("Table3Block", Model.NightLifePrices())
    @Html.Partial("TagsBlock", Model.BarDistricts())

    @Html.Partial("Table1Block", Model.Restaurant())

    @Html.Partial("Table1Block", Model.Transport())
    @*border: 1px solid red;*@ 
    <div style="min-height: 270px">
        @Html.Partial("Table1Block", Model.Accommodation())
    </div>

    <div id="photos" class="blue-border margin gallery-photos">
    @Html.Partial("ArticlePhotos", new PhotosVM
    {
        Photos = Model.Photos.Where(p => p.Confirmed).ToList(),
        ArticleId = Model.ArticleId,
        Admin = false,
        UserIsAdmin = Model.IsAdmin,
        B = Model
    })
    </div>

    @Html.Partial("GeoLinks")


    @Html.Partial("PageScripts")
