
@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model WikiCityViewModel

@{
    ViewBag.BodyClass = "page";
    //ViewBag.MenuGroup = "Planning";

    
}

<style>
    .favItem {
        border: 1px solid #009DC4; 
        display: inline-block; 
        padding: 4px; 
        margin: 4px; 
        border-radius: 5px;
    }
</style>

<div class="blue-line margin"></div>

<section class="wrapper margin3">
    @Html.Partial("Breadcrumb")
    <h2>@Model.Title</h2>
    @Html.Partial("Languages")
    
    <div class="margin">
        <img class="radius" src="/images/samples/sample16.jpg">
    </div>

    @Html.Partial("BaseDescriptionCity")

    @Html.Partial("StandardBlock", Model.Section("AboutPeople"))
    
    @Html.Partial("TagsBlock", Model.Sights())    

    @Html.Partial("DoDont", Model.DoDonts())

    @Html.Partial("StandardBlock", Model.Section("NightLife"))
    @Html.Partial("Table3Block", Model.NightLife())
    @Html.Partial("TagsBlock", Model.BarDistricts())

    @Html.Partial("Table1Block", Model.Restaurant())

    @Html.Partial("Table1Block", Model.Transport())

    @Html.Partial("Table1Block", Model.Accommodation())

</section>
