@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.ViewModels
@model WikiCountryViewModel

@{
    ViewBag.BodyClass = "wiki-page";
    ViewBag.MenuGroup = "Wiki";
    Layout = "_LayoutNew";
}

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/wikipage.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script type="text/javascript" src="/js/Views/WikiPageView.js"></script>
}




    @Html.Partial("PageAdmin")

    @Html.Partial("Breadcrumb")
    <h2 class="wrapper">@Model.Texts.Title</h2>
    @Html.Partial("Languages")

    <div class="wrapper titlePhoto">
        <img class="radius" src="@Model.TitleLink">
    </div>

    @Html.Partial("BaseDescriptionCountry", Model.Base())

    @Html.Partial("Table1Block", Model.Restaurant())

    @Html.Partial("StandardBlock", @Model.Section("Tipping"))

    @Html.Partial("Table3Block", Model.NightLifePrices())

    @Html.Partial("Table1Block", Model.Transport())

    @Html.Partial("StandardBlock", @Model.Section("Hitchhiking"))

    @Html.Partial("Table1Block", Model.Accommodation())

    @Html.Partial("StandardBlock", @Model.Section("AboutPeople"))

    @Html.Partial("DoDont", Model.DoDonts())

    @Html.Partial("StandardBlock", @Model.Section("Languages"))

    @Html.Partial("StandardBlock", @Model.Section("Safety"))

    @Html.Partial("StandardBlock", @Model.Section("Marihuana"))

    @Html.Partial("StandardBlock", @Model.Section("Gay"))


    @Html.Partial("StandardBlock", @Model.Section("Internet"))
    @Html.Partial("StandardBlock", @Model.Section("SimCards"))
    

    @Html.Partial("GeoLinks")

    @Html.Partial("PageScripts")
