@using Gloobster.Portal.ViewModels
@model WikiCountryViewModel

@{
    ViewBag.BodyClass = "page";
    //ViewBag.MenuGroup = "Planning";
}

<script type="text/javascript" src="@Url.Content("~/js/Views/WikiPageView.js")"></script>



<div class="blue-line margin"></div>

<section class="wrapper margin3">
    @Html.Partial("PageAdmin")

    @Html.Partial("Breadcrumb")
    <h2>@Model.Texts.Title</h2>
    @Html.Partial("Languages")

    <div class="margin">
        <img class="radius" src="@Model.TitleLink">
    </div>

    @Html.Partial("BaseDescriptionCountry", Model.Base())

    @Html.Partial("Table1Block", Model.Restaurant())
    @Html.Partial("Table3Block", Model.NightLifePrices())
    @Html.Partial("Table1Block", Model.Transport())
    @Html.Partial("Table1Block", Model.Accommodation())

    @Html.Partial("StandardBlock", @Model.Section("AboutPeople"))

    @Html.Partial("DoDont", Model.DoDonts())

    @Html.Partial("StandardBlock", @Model.Section("Languages"))

    @Html.Partial("StandardBlock", @Model.Section("Safety"))

    @Html.Partial("StandardBlock", @Model.Section("Marihuana"))

    @Html.Partial("StandardBlock", @Model.Section("Gay"))

    @Html.Partial("StandardBlock", @Model.Section("Transport"))

    @Html.Partial("StandardBlock", @Model.Section("Tipping"))

    @Html.Partial("StandardBlock", @Model.Section("Accommodation"))

    @Html.Partial("GeoLinks")

</section>

@Html.Partial("PageScripts")
