@using System.Threading.Tasks
@using Gloobster.Entities
@using Gloobster.Portal.ViewModels
@model DoDontsVM

<style>    
     .doDont button {
         border-radius: 5px;        
     }
</style>



<div class="does-donts wrapper doDont">
    
    <div class="block">
        <h3>@Model.B.W("TryThis")</h3>
        @foreach (DdVM item in Model.Dos)
        {
            <div data-id="@item.Id" data-t="do" class="item">
                @Html.Partial("PlusMinusDD", item)
                <span>@item.Text</span>
            </div>
        }
        <div class="admindo">
        </div>        
    </div>

    <div class="block">
        <h3>@Model.B.W("DontTryThat")</h3>
        @foreach (DdVM item in Model.Donts)
        {
            <div data-id="@item.Id" data-t="dont" class="item">
                @Html.Partial("PlusMinusDD", item)
                <span>@item.Text</span>
            </div>
        }
        <div class="admindont">
        </div>
    </div>
</div>