@using System.Threading.Tasks
@using Gloobster.Entities
@using Gloobster.Portal.ViewModels
@model DoDontsVM

<style>
    /*todo: fix in main script*/
     .doDont button {
         border-radius: 5px;        
     }
</style>

<div class="table row col2 margin doDont">
    
    <div class="cell places">
        <h3>Try this</h3>
        @foreach (DdVM item in Model.Dos)
        {
            <div data-id="@item.Id" data-t="do" class="place">
                @Html.Partial("PlusMinusDD", item)
                <span>@item.Text</span>
            </div>
        }
        <div class="admindo">
        </div>        
    </div>

    <div class="cell places">
        <h3>Don't try that</h3>
        @foreach (DdVM item in Model.Donts)
        {
            <div data-id="@item.Id" data-t="dont" class="place">
                @Html.Partial("PlusMinusDD", item)
                <span>@item.Text</span>
            </div>
        }
        <div class="admindont">
        </div>
    </div>
</div>