@using System.Linq;
@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Entities
@using Gloobster.Portal.ViewModels
@model WikiHomeViewModel
@{
    ViewBag.StopLayoutGenerate = true;
    ViewBag.MenuGroup = "Wiki";

    List<WikiTextsEntity> allItems = Model.Texts;
    if (GloobsterConfig.IsLocal && allItems.Count < 30)
    {
        while (allItems.Count < 30)
        {
            allItems.AddRange(Model.Texts);
        }
    }

    List<WikiTextsEntity> first10 = allItems.Take(10).ToList();
    var others = new List<WikiTextsEntity>();
    others.AddRange(allItems);
    others.RemoveRange(0,10);

    var othersBy3 = others.SplitBy(3);
}

<script type="text/javascript" src="@Url.Content("~/js/Views/WikiHomeView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/WikiSearchCombo.js")"></script>


<section class="wrapper margin2 tcenter">
    @if (Model.SocialNetworks.Count == 0)
    {
        @Html.Partial("_DialogJoinSoc")
        @Html.Partial("_DialogJoinEmail")
    }
     

    <h2>@Model.W("Title")</h2>    
    <div id="SearchCombo" class="dropdown large">
        <input class="inputed" type="text" placeholder="@Model.W("SearchPlaceholder")">
        <img class="loader" src="/images/loader-gray.gif" style="display: none" />
        <ul style="text-align: left"></ul>
    </div>
</section>
<section class="wiki-globe">
    <div class="wrapper">
        @foreach (var item in first10)
        {
            <a class="button" href="/wiki/@item.LinkName">@item.Title</a>
        }        
    </div>
</section>


<section class="tag-cloud">
    <h2>Recent articles</h2>
    <table>
        @foreach (var group in othersBy3)
        {
            <tr>
                @foreach (var item in group)
                {
                    <td><a href="/wiki/@item.LinkName">@item.Title</a></td>
                }
            </tr>
        }
    </table>
</section>

<script>
	function onBodyLoad() {
	    currentView = new Views.WikiHomeView();
	}

</script>