@using System.Linq;
@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Entities
@using Gloobster.Portal
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@using Microsoft.AspNet.Mvc.Rendering
@using Microsoft.Data.Entity.Metadata.Internal
@model WikiHomeViewModel
@{
    ViewBag.MenuGroup = "Wiki";
    ViewBag.BodyClass = "wiki";
    ViewData["Title"] = "gloobster.com - travel wiki";
    Layout = "_LayoutNew";    
}

@Html.Partial("GAnalytics")

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/wikihome-@(ScriptsVersion.Version).js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/js/Views/WikiHomeView.js" type="text/javascript"></script>
    <script src="/js/Views/WikiSearchCombo.js" type="text/javascript"></script>
}


<div class="wiki-search-header">

    <div class="picture-cont">

        <div class="picture">

        </div>

        <div class="background-circle">

        </div>

    </div>


    @*@Model.W("Title")*@
    <div class="title-block">
        <h1>Gloobster travel wiki</h1>
    </div>

    <div id="SearchCombo" class="dropdown search">
        <span class="icon-logo-pin"></span>
        <input class="inputed" type="text" placeholder="@Model.W("SearchPlaceholder")">
        <img class="loader" src="/images/loader-gray.gif" style="display: none" />
        <ul style="text-align: left"></ul>
    </div>

</div>

@*<div class="wiki-info-all collapsed">

        <div class="wiki-info-btn-cont">
           <span class="more-btn lbtn2 yellow-green">Read more about wiki</span>
        </div>

        <span class="icon-close-cross close"></span>

        <div class="wiki-info">

            <div class="block bl">
                <div class="ico">
                    <img class="svg-img" src="/images/n/pencil.svg" />
                </div>
                <div class="title">
                    <h2>@Model.W("MottoForTravelers")</h2>
                </div>
                <div class="text">
                    @Model.W("ForTravelersText")
                </div>
            </div>

            <div class="block br">
                <div class="ico">
                    <img class="svg-img" src="/images/n/guy.svg" />
                </div>
                <div class="title">
                    <h2>@Model.W("MottoHelpUs")</h2>
                </div>
                <div class="text">
                    @Model.W("HelpUsText")
                </div>
            </div>
        </div>


    </div>*@


<div class="wiki-articles-all">

    <div class="wrapper">

        <div class="wiki-articles">

            <div class="tbl">
                <div class="l i">
                    @Html.Partial("NewArticle", Model.Articles[0])
                </div>

                <div class="m i">
                    @Html.Partial("NewArticle", Model.Articles[1])
                </div>
                
                <div class="r i">
                    @Html.Partial("NewArticle", Model.Articles[2])
                </div>
            </div>

        </div>

    </div>

</div>

<div class="wrapper">

    <div class="wiki-stats-all">

        <div class="htbl">
            <div class="left">
                <h2 class="block-title">Visualized world statistics</h2>
            </div>
            <div class="right">
                @*<span class="lbtn2 yellow-green">See all statistics</span>*@
            </div>
        </div>

        <div class="tbl">

            <div class="i l">

                <a class="example" href="/stats/@StatisticPages.Pages[0].Link">
                    <img src="/images/n/stats.jpg" />                    
                </a>

            </div>

            <div class="i r">

                <div class="links">
                    
                    @{
                        var topStats = StatisticPages.Pages.Take(6);
                    }
                    
                    @foreach (var stat in topStats)
                    {
                        <a href="/stats/@stat.Link">@stat.Title</a>
                    }

                </div>
                <div class="btn-cont">

                </div>

            </div>

        </div>

    </div>

    <div class="wiki-quiz-all">

        <div class="htbl">
            <div class="left">
                <h2 class="block-title">Weekly Travel quiz</h2>
            </div>
            <div class="right">
                @*<span class="lbtn2 yellow-green">See all quizes</span>*@
            </div>
        </div>



        <div class="tbl">

            <div class="i l">

                @*<img src="/images/n/Quiz.png" />*@
                
                <div class="quiz-pic">
                    <span class="question-mark">?</span>
                </div>

            </div>

            <div class="i r">
                <a class="current-quiz" href="/quiz/@Model.Quiz.TitleUrl">
                    <div class="txt">@Model.Quiz.Title?</div>                    
                    
                    <span class="btn-start-quiz lbtn2 green-orange">Start the latest quiz</span>
                </a>
                
            </div>

        </div>

    </div>

</div>


<div class="counties">

    <h2>Learn more about countries</h2>

    <div class="wrapper">

        @foreach (var block in Model.GetCountryLinks())
        {
            <div class="block">
                @foreach (var item in block)
                {
                    <div class="item">
                        <a href="/wiki/@item.Link">@item.Title</a>
                    </div>
                }
            </div>
        }

    </div>
</div>

<script>
    function onBodyLoad() {
        currentView = new Views.WikiHomeView();
    }

</script>