@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model WikiModelBase

@{
    var area = Model.InfoByName("Area");
    area.AfterName = "(km²)";

    var mainLang = Model.InfoByName("Languages");
    var langs = mainLang.Value.Split(',').ToList();
    if (langs.Any())
    {
        mainLang.Value = langs[0];
    }    
}


<div class="info-block" id="lbInfoTable">
    <div class="header"><span class="title">@Model.W("About")</span></div>
    <div class="bcont padding">

        <table>
            @Html.Partial("TableItem", Model.InfoByName("Population"))
            @Html.Partial("TableItem", Model.InfoByName("CapitalName"))
            @Html.Partial("TableItem", area)
            @*@Html.Partial("TableItem", Model.InfoByName("HDI"))*@
            @*@Html.Partial("TableItem", Model.InfoByName("CallingCode"))*@
            @*@Html.Partial("TableItem", Model.InfoByName("DrivingRight"))*@
            @Html.Partial("TableItem", Model.InfoByName("CurrencyCode"))

            @Html.Partial("TableItem", mainLang)
            @{
                var otherLangs = Model.InfoByName("Languages");
                otherLangs.AfterName = " (Other)";
                if (langs.Count() > 1)
                {
                    langs.RemoveAt(0);
                    otherLangs.Value = string.Join(", ", langs);
                }
            }


            @Html.Partial("TableItem", otherLangs)

        </table>
        
    </div>
</div>

