@using System.Threading.Tasks
@using System.Linq
@using Gloobster.Portal.ViewModels
@model WikiCityViewModel

@{
    var confirmedPhotos = Model.Photos.Where(p => p.Confirmed).ToList();

    var photosGroups = Model.SplitBy(Model.Photos, 3);
}

    <div id="photos" class="blue-border margin">

        @foreach (var group in photosGroups)
        {
            <div class="table row col3 margin">

                @foreach (var photo in group)
                {
                    var thumbLink = $"/Wiki/ArticlePhotoThumb?photoId={photo.Id}&articleId={Model.Article.id}";
                    var link = $"/Wiki/ArticlePhoto?photoId={photo.Id}&articleId={Model.Article.id}";
                    
                    <div id="@photo.Id" class="cell @(photo.Confirmed ? string.Empty : "unconfirmedPhoto")" @(photo.Confirmed ? string.Empty : "style=display:none")>
                        <a href="@link" target="_blank"><img class="radius mhalf" src="@thumbLink"></a>
                        <span>By </span><a href="/PortalUser/Detail/@photo.OwnerId">@photo.OwnerName</a> 
                    </div>
                }
            </div>
        }

        @if (!confirmedPhotos.Any())
        {
            <div class="table row col3 margin">
                @Html.Partial("EmptyPhoto")
                @Html.Partial("EmptyPhoto")
                @Html.Partial("EmptyPhoto")
            </div>
        }

        <div class="tright">            
            <a id="recommendPhoto" class="button mleft10" href="#">Recommend a Photo</a>
        </div>

        <div id="photosForm" class="tright" style="display: none">            
            <input id="cid" class="isAdmin" type="checkbox" checked><label for="cid"><span>I understand </span></label>
            <a href="#">Terms and conditions for adding photos</a>
            <br/>
            <a href="#" class="button cancel">Cancel</a>

            <a class="photoButton" href="#">
                <input id="galleryInput" class="inputs" type="file"/>
                <label for="galleryInput">
                    <span class="button">Upload photo</span>                    
                </label>
            </a>
            
        </div>
    </div>

