@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model BlockVM

@{    
    bool? liked = Model.Liked;

    var likeClass = "icon-heart";
    var dislikeClass = "icon-nosmile";
    if (liked.HasValue)
    {
        if (liked.Value)
        {
            likeClass += "Red";
        }
        else
        {
            dislikeClass += "Red";
        }
    }

    var ratingStr = Model.Rating.ToString();
    var ratingCls = "";
    if (Model.Rating > 0)
    {
        ratingStr = $"+{Model.Rating}";
        ratingCls = "plus";
    }
    if (Model.Rating < 0)
    {
        ratingCls = "minus";
    }

}

<div data-id="@Model.SectionId" class="evaluate evaluate-open2 evaluate-right">
    <ul class="buttons table">
        <li><span title="@Model.B.W("RatingBalance")" class="sRating @ratingCls">@ratingStr</span></li>
        <li><a title="@Model.B.W("LikeSection")" class="@likeClass ratingBtn" data-like="true" href="#"></a></li>
        <li><a title="@Model.B.W("DontLikeSection")" class="@dislikeClass ratingBtn" data-like="false" href="#"></a></li>
        <li><a title="@Model.B.W("RecommendContent")" class="icon-flag" href="#"></a></li>
    </ul>
    <div class="bubble">
        <strong>@Model.B.W("ReportText")</strong>
        <input type="text" placeholder="@Model.B.W("TextPlaceholder")">
        <div class="tright">
            <a class="noneline mright20 cancel" href="#">@Model.B.W("Cancel", "layout")</a>
            <a class="button send" href="#">@Model.B.W("ReportSend")</a>            
        </div>
    </div>
</div>