@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model WikiPageBlock

<section class="block adminable-block" data-id="@Model.SectionId" data-at="@((int)Model.Type)">
    <div class="title-cont">
        <div class="left">
            <span class="icon-dropdown-arrow collapser hidden opened"></span> <h2>@Model.Title</h2> <span class="admin-btn-cont"></span>
        </div>
        <div class="right">
            @Html.Partial("NewArticleRating")
        </div>
    </div>
    
    <div class="content">
        @if (!string.IsNullOrEmpty(Model.PhotoId))
        {
            var link = $"/wiki/SectionPhoto?photoId={Model.PhotoId}&articleId={Model.ArticleId}";
            <div class="section-photo">
                <img src="@link" alt="@Model.Title" />
            </div>
        }


        @if (Model.IsEmpty)
        {
            <p class="text"></p>
            @Html.Partial("Empty")
        }
        else
        {
            <p class="text">@Model.Text</p>
        }
        
    </div>


</section>