@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model BlockVM

@*<div class="table width100 margin">
    <div data-id="@Model.SectionId" class="cell middle adminCase">
        <h3 class="margin0">@Model.Type</h3>
    </div>
    <div class="cell">
        @Html.Partial("Rating")
    </div>
</div>*@
@Html.Partial("BlockHeader")

<p id="text_@Model.SectionId" class="h4">@Model.Text</p>