@using System.Globalization
@using System.Threading.Tasks
@using Gloobster.Enums
@using Gloobster.Portal.ViewModels
@model BlockVM


@{
    var priceAdminClass = Model.ArticleType == ArticleType.City ? "priceItemAdmin" : string.Empty;
}

<div class="table width100 margin">
    <div class="cell middle">
        <h4 class="margin0">@Model.TranslatedType</h4>        
        <table class="margin2 width100">
            <tr>
                <th></th>
                <th colspan="2">@Model.Headers[0]</th>
                <th colspan="2">@Model.Headers[1]</th>
                <th colspan="2">@Model.Headers[2]</th>
            </tr>

            @foreach (var item in Model.TableItems)
            {
                <tr>
                    <td>@Model.B.W(item.Name)</td>
                    <td class="@priceAdminClass" data-id="@item.Id1">
                        €<span class="price">@item.Price1.ToString("0.00", CultureInfo.InvariantCulture)</span>                        
                    </td>
                    <td class="rate" data-id="@item.Id1">
                        @if (Model.ArticleType == ArticleType.City)
                        {
                            @Html.Partial("PlusMinus", item.Liked1);
                        }
                    </td>
                    <td class="@priceAdminClass" data-id="@item.Id2">
                        €<span class="price">@item.Price2.ToString("0.00", CultureInfo.InvariantCulture)</span>                        
                    </td>
                    <td class="rate" data-id="@item.Id2">
                        @if (Model.ArticleType == ArticleType.City)
                        {
                            @Html.Partial("PlusMinus", item.Liked2);
                        }
                    </td>
                    <td class="@priceAdminClass" data-id="@item.Id3">
                        €<span class="price">@item.Price3.ToString("0.00", CultureInfo.InvariantCulture)</span>                        
                    </td>
                    <td class="rate" data-id="@item.Id3">
                        @if (Model.ArticleType == ArticleType.City)
                        {
                            @Html.Partial("PlusMinus", item.Liked3);
                        }
                    </td>
                </tr>
            }
        </table>
       
    </div>
    <div class="cell">
        @Html.Partial("Rating")
    </div>
</div>
