@using System.Globalization
@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model BlockVM


<div class="table width100 margin">
    <div data-id="@Model.SectionId" class="cell middle adminCase">
        <h3 class="margin0">@Model.Type</h3>
    </div>
    <div class="cell">
        @Html.Partial("Rating")
    </div>
</div>

<table class="left mright20">
    
    @foreach (var item in Model.TableItems)
    {
        <tr id="tr_" class="priceItemAdmin" data-id="@item.Id">
            <td>@item.Name</td>
            <td>
                €<span class="price">@item.Price1.ToString("0.00", CultureInfo.InvariantCulture)</span>
                @Html.Partial("PlusMinus")
            </td>
        </tr>
    }
</table>
<p id="text_@Model.SectionId" class="h4">@Model.Text</p>