@using System.Globalization
@using System.Threading.Tasks
@using Gloobster.Enums
@using Gloobster.Portal.ViewModels
@model BlockVM


@Html.Partial("BlockHeader")

<table class="left mright20">
    
    @foreach (var item in Model.TableItems)
    {
        <tr>
            <td>@item.Name</td>
            <td class="@(Model.ArticleType == ArticleType.City ? "priceItemAdmin" : string.Empty) " data-id="@item.Id1">
                €<span class="price">@item.Price1.ToString("0.00", CultureInfo.InvariantCulture)</span>                
            </td>
             @if (Model.ShowButtons)
             {
                 <td class="rate" data-id="@item.Id1">
                     @if (Model.ArticleType == ArticleType.City)
                     {
                         @Html.Partial("PlusMinus", item.Liked1);
                     }
                 </td>
             }
        </tr>
    }
</table>
<p id="text_@Model.SectionId" class="h4">@Model.Text</p>