@using System.Threading.Tasks
@using Gloobster.Enums
@using Gloobster.Portal.ViewModels
@model BlockVM


@Html.Partial("BlockHeader")

<div id="Links_@Model.SectionId" data-category="@Model.Category">

    @if (!Model.LinkItems.Any())
    {
        <div class="empty-cont" data-sid="@Model.SectionId">@Html.Partial("Empty", new EmptyVM { B = Model.B })</div>
    }
    else
    {
        foreach (var item in Model.LinkItems)
        {
            <div id="faviItem_@item.Id" class="favItem" data-id="@item.Id" data-name="@item.Name">
                
                <span class="name">@item.Name</span>
                    
                @if (item.Links != null) {

                    foreach (var link in item.Links) {
                        <a class="ico-link" href="@Model.GetLink(link.Type, link.SourceId)" target="_blank">
                            <span class="@Model.GetLinkIco(link.Type)"></span>
                            @*<img data-type="@((int) link.Type)" data-id="@link.id.ToString()" data-sid="@link.SourceId" class="socLink">*@
                        </a>
                        
                    }
                }
                
            </div>
        }
    }
    
    
</div>