@using System.Threading.Tasks
@using Gloobster.Enums
@using Gloobster.Portal.ViewModels
@model BlockVM


@Html.Partial("BlockHeader")

<div class="wrapper" id="Links_@Model.SectionId" data-category="@Model.Category">

    @if (!Model.LinkItems.Any())
    {
        <div class="empty-cont" data-sid="@Model.SectionId">@Html.Partial("Empty", new EmptyVM { B = Model.B })</div>
    }
    else
    {
        foreach (var item in Model.LinkItems)
        {
            <div id="faviItem_@item.Id" class="favItem" data-id="@item.Id" data-name="@item.Name">
                <div class="cont">
                    <div class="cell">
                        <span class="name">@item.Name</span>
                    </div>
                    <div class="cell txt">
                        @if (item.Links != null)
                    {
                        foreach (var link in item.Links)
                        {
                                <a href="@Model.GetLink(link.Type, link.SourceId)" target="_blank"><img data-type="@((int) link.Type)" data-id="@link.id.ToString()" data-sid="@link.SourceId" class="socLink" src="/images/@(Model.GetLinkIco(link.Type)).png"></a>
                            }
                        }
                    </div>
                </div>

            </div>
        }
    }
    
    
</div>