@using System.Web.UI
@using Gloobster.Common
@using Microsoft.Data.Entity.Metadata.Internal

@model Gloobster.Portal.ViewModels.NewAdminViewModel

@{

    ViewData["Title"] = "Administration";
    ViewBag.BodyClass = "new-admin";
}

<script type="text/javascript" src="@Url.Content(" ~/js/Common/GNOnlineSearchBox.js")"></script>
<script type="text/javascript" src="@Url.Content(" ~/js/Views/WikiSearchCombo.js")"></script>
<script src="/js/views/NewAdmin/NewAdminView.js"></script>
<script src="/js/views/NewAdmin/QuizAdminPage.js"></script>
<script src="/js/views/NewAdmin/WikiAdminPage.js"></script>

@Html.Partial("QuizTemplates")

<div class="wrapper">

    <div id="mainTabs" class="main-tab">

    </div>

    <div class="page-cont">

    </div>

</div>

<script>

    function onBodyLoad() {
        currentView = new Views.NewAdminView();

        currentView.isMasterAdmin = @Model.IsMasterAdmin.ToString().ToLower();
        currentView.isSuperAdmin = @Model.IsSuperAdmin.ToString().ToLower();
        currentView.isAdminOfSomething = @Model.IsAdminOfSomething.ToString().ToLower();

        currentView.init();


    }

</script>

<script id="article-admins-mgmt-tmp" type="text/x-handlebars-template">

    <div class="articles-admins-mgmt">

        <div class="adding-form">
            <span class="title">Add new user</span>

            <div id="userCombo" class="dropdown">
                <input type="text" class="inputed" placeholder="Search user">
                <ul></ul>
            </div>
        </div>

        <div class="users-splitter">Users</div>

        <div class="users-cont"></div>

    </div>

</script>

<script id="article-admin-item-tmp" type="text/x-handlebars-template">

    <div class="user-item" data-uid="{{id}}">

        <div class="name-cont">
            <span class="name">{{name}}</span>
            <span class="icon-cross del"></span>
        </div>

        <div class="places">

        </div>

        <div class="adder">
            <span class="title">Add new place</span>
            <div class="dropdown article-combo">
                <input type="text" class="inputed" placeholder="Add Place">
                <ul></ul>
            </div>
        </div>
    </div>

</script>

<script id="place-item-tmp" type="text/x-handlebars-template">

    <div class="article-item" data-id="{{id}}">

        <span class="name">{{name}}</span>
        <span class="icon-cross del"></span>
    </div>

</script>

<script id="super-admins-mgmt-tmp" type="text/x-handlebars-template">

    <div class="super-admins-mgmt">

        <div class="cont">

        </div>

        <div id="userCombo" class="dropdown">
            <input type="text" class="inputed" placeholder="+ Add User">
            <ul></ul>
        </div>

    </div>

</script>

<script id="super-admin-item-tmp" type="text/x-handlebars-template">

    <div class="item" data-uid="{{id}}"><span class="name">{{name}}</span><span class="icon-cross del"></span></div>

</script>


<script id="task-base-tmp" type="text/x-handlebars-template">

    <div id="{{id}}" class="task-all">

        <div class="task-header">
            {{caption}} - {{articleTitle}}
        </div>

        <div class="task-inner">

            <div class="info-line"><span class="title">Created by: </span><span class="value">{{creatorName}}</span></div>


            {{#ifCond taskType 0}}

            <div>
                <a href="/Wiki/ArticlePhoto?photoId={{targetId}}&articleId={{articleId}}" target="_blank"><img class="" src="/Wiki/ArticlePhotoThumb?photoId={{targetId}}&articleId={{articleId}}"></a>
            </div>


            {{/ifCond}}

            {{#ifCond taskType 1}}

            <div class="info-line"><span class="title">Article link: </span><span class="value"><a target="_blank" href="/@RoutingConsts.WikiMenuName/{{data.Lang}}/{{link}}">Article</a></span></div>

            <div class="info-line"><span class="title">Section name: </span><span class="value">{{data.SectionName}}</span></div>
            <div class="info-line"><span class="title">Language: </span><span class="value">{{data.Lang}}</span></div>

            <div class="title">Report</div>
            <div class="white-txt line">{{data.Report}}</div>

            <div class="title">Current text</div>
            <div class="white-txt line">{{data.Text}}</div>



            {{/ifCond}}

        </div>

        <div class="actions">
            {{#each actions}}
            <a class="lbtn2 green-orange action-btn" href="#" data-action="{{name}}">{{caption}}</a>
            {{/each}}

        </div>


    </div>



</script>

<script id="menu-content-tmp" type="text/x-handlebars-template">

    <div class="sub-menu">

    </div>

    <div class="sub-content">

    </div>

</script>




<script id="sections-content-tmp" type="text/x-handlebars-template">

    <div class="sections-menu">

    </div>

    <div class="sections-content">
        <table id="sectionsTable"></table>

        <div class="new-section-cont">
            <input id="newSectionText" type="text" />
            <a id="newSectionBtn" class="lbtn2 green-orange " href="#">Create new</a>
        </div>
    </div>

</script>

<script id="add-city-tmp" type="text/x-handlebars-template">

    <div class="add-city">

        <div id="gnCombo" class="dropdown">
            <input type="text" class="inputed" placeholder="Search city">
            <ul></ul>
        </div>

        <table>
            <tr>
                <td><span>GID</span></td>
                <td><input id="txtGID" type="text" disabled /></td>
            </tr>
            <tr>
                <td><span>Population</span></td>
                <td><input id="txtPopulation" type="text" /></td>
            </tr>
            <tr>
                <td><span>Title</span></td>
                <td><input id="txtTitle" type="text" /></td>
            </tr>
        </table>

        <a href="#" class="lbtn2 green-orange " id="SendCity">Add city</a>

    </div>

</script>

<script id="section-item-tmp" type="text/x-handlebars-template">

    <tr data-t="{{type}}">
        <td>{{type}}</td>
        <td>
            <span class="icon-cross del-cross"></span>
        </td>
        <td>
            {{msg}}
        </td>
    </tr>

</script>

