



<div id="popup-joinMail" class="popup2 with-padding-right margin" style="display: none;">
    <div class="table width100">
        <div class="cell popcont-holder with-line">
            <h3 class="slim">@Model.W("MailJoin", "login")</h3>
        </div>
        <div class="cell middle">
            <div class="form margin">
                <label class="h4" for="email">@Model.W("Mail", "login")</label>
                <input id="email" type="text" placeholder="@Model.W("Mail", "login")">
                <label class="h4" for="password">@Model.W("Password", "login")</label>
                <input id="password" type="password">
                @*<p class="small">
                    By creating an account you accept the
                    <a href="#">Terms of service</a>
                </p>*@
                <button id="emailReg" class="right">@Model.W("JoinButton", "login")</button>
            </div>


        </div>
    </div>
    <a class="close" href="#">@Model.W("Close", "layout")</a>
</div>