
<div class="popup2 with-padding-right margin" id="popup-joinSoc" style="display: none;">
    <div class="table width100">
        <div class="cell popcont-holder with-line">            
            <p>@Model.W("JoinInfoMessage", "login")</p>
            <p class="small">
                @Model.W("ByJoining", "login")
                <a href="#">@Model.W("TermsOfService", "login")</a>
            </p>
        </div>
        <div class="cell middle">
            <div class="logins">
                <div class="margin">
                    <a id="fbBtnHome" class="facebook" href="#">@Model.W("FbButton1", "login")</a>
                    <a id="twitterBtnHome" class="twitter" href="#">@Model.W("TwButton1", "login")</a>
                    <a id="googleBtnHome" class="google" href="#">@Model.W("GoButton1", "login")</a>
                </div>
                <span>                    
                    <a id="emailJoin" href="#">@Model.W("EmailRedirectionLink", "login")</a>    
                </span>

            </div>


        </div>
    </div>
    <a class="close" href="#">@Model.W("Close", "layout")</a>
</div>