@using Gloobster.Common
@using System.Linq;
@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@using Newtonsoft.Json
@model ViewModelBase

<script>
    document["facebookId"] = "@GloobsterConfig.FacebookAppId";
    document["googleId"] = "@GloobsterConfig.GoogleClientId";    
</script>

<script src="https://apis.google.com/js/api:client.js"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/jquery-ui/jquery-ui.js"></script>
<script src="~/lib/js-cookie/src/js.cookie.js"></script>
<script src="~/js/pep.js"></script>

<script src="~/lib/lodash/lodash.js"></script>

<script src="~/lib/handlebars/handlebars.js"></script>
<script src="~/lib/dropzone/dist/dropzone.js"></script>

<script type="text/javascript" src="@Url.Content("~/js/Common/globals.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/ViewBase.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/DropDown.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/SocialButtons.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/GoogleButton.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/FacebookInit.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/registration/FacebookAuth.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Common/FileDaD.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/RequestSender.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CookieManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/FileUpload.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/PlaceSearchBox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/DelayedCallback.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/UserSearchBox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/ConfirmDialog.js")"></script>


<script id="hint-template" type="text/x-handlebars-template">
    <div class="hint margin">
        <span class="icon-amplion white middle mright5"></span>
        {{message}}
        <a class="close" href="#"></a>
    </div>
</script>

<script type="text/javascript">
        window["modules"] = @Html.Raw(JsonConvert.SerializeObject(Model.ClientModules));
</script>

<script id="placeItem-template" type="text/x-handlebars-template">				
		<li data-value="{{sourceId}}" data-type="{{sourceType}}"><span class="{{icoClass}} left mright10"></span>{{name}}<span class="color2">, {{countryCode}}</span></li>
</script>

<script id="userItem-template" type="text/x-handlebars-template">
		<li data-value="{{userId}}"><span class="thumbnail"><img src="{{photoUrl}}"></span>{{displayName}}</li>
</script>

<script id="confirmDialog-template" type="text/x-handlebars-template">
    <div class="popup" id="popup-confirm">
        <div>
            <h3>{{title}}</h3>
            <p class="h4 color1">{{text}}</p>
            <div class="tright">
                <a class="button border cancel" href="#">{{textCancel}}</a>
                <a class="button confirm" href="#">{{textOk}}</a>
            </div>
            <a class="close" href="#"></a>
        </div>
    </div>
</script>

<script id="infoDialog-template" type="text/x-handlebars-template">
    <div class="popup" id="popup-info">
        <div>
            <h3>{{title}}</h3>
            <p class="h4 color1">{{text}}</p>
            <div class="tright">
                <a class="button border cancel" href="#">@Model.W("Close", "layout")</a>                
            </div>
            <a class="close" href="#"></a>
        </div>
    </div>
</script>

<script id="inPorgressDialog-template" type="text/x-handlebars-template">
    <div class="popup2 margin infoPanel" style="display: block">
        <img style="vertical-align:middle" class="loader" src="/images/loader-gray.gif" />
        <span style="font-size: 20px">{{message}}</span>
    </div>
</script>



<script type="text/javascript">
    @*@if (Model.IsUserLogged)
    {*@
        @Html.Raw($"Views.ViewBase.currentUserId = '{Model.UserId}';")
    //}
    @{
        var nets = Model.SocialNetworks.Select(n => ((int) n).ToString());
        var netsStr = string.Join(",", nets);
    }
    @Html.Raw($"Views.ViewBase.nets = '{netsStr}';")

    @Html.Raw($"Views.ViewBase.fbt = '{Model.FbToken}';")


    var dd = new Common.DropDown();
    dd.init();

</script>


