
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>		

<script src="~/lib/lodash/lodash.js"></script>

<script src="~/lib/handlebars/handlebars.js"></script>
<script src="~/lib/dropzone/dist/dropzone.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<script src="https://apis.google.com/js/api:client.js"></script>

<script type="text/javascript" src="@Url.Content("~/js/globals.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/ViewBase.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/ShareDialogView.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/LoginManager.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/GoogleButton.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/FacebookInit.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/CreateUserBase.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/registration/CreateUserGoogle.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/registration/CreateUserFacebook.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/registration/CreateUserLocal.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/registration/CreateUserTwitter.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Common/RequestSender.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CookieManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/FileUpload.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/PlaceSearchBox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/DelayedCallback.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/UserSearchBox.js")"></script>

<script id="placeItem-template" type="text/x-handlebars-template">				
		<li data-value="{{sourceId}}" data-type="{{sourceType}}"><span class="{{icoClass}} left mright10"></span>{{name}}<span class="color2">, {{countryCode}}</span></li>
</script>

<script id="userItem-template" type="text/x-handlebars-template">
		<li data-value="{{userId}}"><span class="thumbnail"><img src="{{photoUrl}}"></span>{{displayName}}</li>
</script>

