@using Gloobster.Common
@using System.Linq;
@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model ViewModelBase

<script>
	document["facebookId"] = "@GloobsterConfig.FacebookAppId";
</script>

<script src="https://apis.google.com/js/api:client.js"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>		

<script src="~/lib/lodash/lodash.js"></script>

<script src="~/lib/handlebars/handlebars.js"></script>
<script src="~/lib/dropzone/dist/dropzone.js"></script>

<script type="text/javascript" src="@Url.Content("~/js/Common/globals.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/ViewBase.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/SocialButtons.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/GoogleButton.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/registration/FacebookInit.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/registration/FacebookAuth.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Common/FileDaD.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/RequestSender.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CookieManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/FileUpload.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/PlaceSearchBox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/DelayedCallback.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/UserSearchBox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/ConfirmDialog.js")"></script>


<script id="hint-template" type="text/x-handlebars-template">
    <div class="hint margin">
        <span class="icon-amplion white middle mright5"></span>
        {{message}}
        <a class="close" href="#"></a>
    </div>
</script>



<script id="placeItem-template" type="text/x-handlebars-template">				
		<li data-value="{{sourceId}}" data-type="{{sourceType}}"><span class="{{icoClass}} left mright10"></span>{{name}}<span class="color2">, {{countryCode}}</span></li>
</script>

<script id="userItem-template" type="text/x-handlebars-template">
		<li data-value="{{userId}}"><span class="thumbnail"><img src="{{photoUrl}}"></span>{{displayName}}</li>
</script>

<script id="confirmDialog-template" type="text/x-handlebars-template">
    <div class="popup" id="popup-confirm">
        <div>
            <h3>{{title}}</h3>
            <p class="h4 color1">{{text}}</p>
            <div class="tright">
                <a class="button border cancel" href="#">{{textCancel}}</a>
                <a class="button confirm" href="#">{{textOk}}</a>
            </div>
            <a class="close" href="#"></a>
        </div>
    </div>
</script>

<script type="text/javascript">

        @if (Model.IsUserLogged)
        {
            @Html.Raw($"Views.ViewBase.currentUserId = '{Model.User.User_id}';")
        }
        @{
            var nets = Model.SocialNetworks.Select(n => ((int) n).ToString());
            var netsStr = string.Join(",", nets);
        }
        @Html.Raw($"Views.ViewBase.nets = '{netsStr}';")

        @Html.Raw($"Views.ViewBase.fbt = '{Model.FbToken}';")
</script>
