@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelBase

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Gloobster</title>

	@*<link rel="shortcut icon" href="images/favicon.html">*@
    
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">*@
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700">

    @*<link href="http://ga.cz/2015/gloobster/css/style.css" rel="stylesheet">*@
    <link href="~/css/style.css" rel="stylesheet">
    
    <link href="~/lib/jquery-ui/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
	
	@Html.Partial("_GlobalScripts")

</head>
<body onload="onBodyLoad()" class="@ViewBag.BodyClass" id="top">
<header class="header">


    <div class="wrapper">
        <h1><a asp-controller="Home" asp-action="Index" class="logo-header">Gloobster</a></h1>

        <div class="menu-holder">
            <div class="tright mhalf">
                <div class="dropdown">
                    <span class="selected">English</span>
                    <ul>
                        <li>English</li>                        
                    </ul>
                    <input type="hidden">
                </div>                
                @if (Model.IsUserLogged)
                {                    
                        @Html.Partial("_UserMenu")                    
                }                
            </div>
            @Html.Partial("_Menu")            
        </div>

        <a class="hamburger" data-target="#menu" href="#"><span></span></a>
    </div>


</header>


@RenderBody()




@Html.Partial("_Footer")
@Html.Partial("_DialogLogin")
@Html.Partial("_DialogRegister")


<script src="http://ga.cz/2015/gloobster/js/jquery.countto.js"></script>

<script type="text/javascript" src="@Url.Content("~/js/script.js")"></script>

<script type="text/javascript">
    Reg.LoginManager.currentUserId = null;

    @if (Model.IsUserLogged)
    {
        @Html.Raw($"Reg.LoginManager.currentUserId = '{Model.PortalUser.id}';")
    }
</script>

</body>
</html>







		                
	         

