@using System.Linq;
@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.ViewModels
@using Microsoft.Data.Entity.Metadata.Internal
@using Newtonsoft.Json
@model ViewModelBase


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	<title>Gloobster</title>

    
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="~/lib/jquery-ui/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>

    

    @*@Html.Partial("_GlobalTemplates")*@
    @Html.Partial("_GlobalScripts")

</head>
<body onload="onBodyLoad()" class="@ViewBag.BodyClass" id="top">

<header class="header">



    <div class="menu_all">

        <div class="logo_all">
            <a href="#">
                <img src="/images/n/logo.svg"/>
            </a>
        </div>

        <div class="links">
            <div>
                <a href="#">Dashboard</a>
            </div>
            <div>
                <a href="#">Fly Tickets</a>
            </div>
            <div>
                <a href="#">Travel Buddy</a>
            </div>
            <div>
                <a href="#">Travel Organizer</a>
            </div>
            <div>
                <a href="#">Travel map</a>
            </div>
            <div>
                <a href="#">Travel WIKI</a>
            </div>
        </div>

        <div class="icons_all">
            <div class="icons">

                <a href="#">
                    <img src="/images/n/logout.svg"/>
                </a>

                <a href="#">
                    <img src="/images/n/friends.svg"/>
                </a>
                <a href="#">
                    <img src="/images/n/globe.svg"/>
                </a>

            </div>
        </div>

    </div>
    

        @*<div class="wrapper">
                <h1><a asp-controller="Home" asp-action="Index" class="logo-header">Gloobster</a>
                </h1>

                <div class="menu-holder">
                    <div id="ddMenus" class="tright mhalf">
                        @Html.Partial("_LangMenu")

                        @if (Model.User != null)
                        {
                            @Html.Partial("_UserMenu")
                        }

                    </div>
                    @Html.Partial("_Menu")
                </div>

                <a class="hamburger" data-target="#menu" href="#"><span></span></a>
            </div>*@


</header>

<div id="fb-root"></div>


<section class="wrapper margin3">
    @*@if (!Model.SocialNetworks.Any())
    {
        @Html.Partial("_DialogJoinSoc")
        @Html.Partial("_DialogJoinEmail")
    }*@
    @RenderBody()
</section>


@*@Html.Partial("_Footer")*@

<script>

    var name = "@ViewBag.MenuGroup";
    $(".Menu" + name).addClass("active");
</script>

</body>
</html>







		                
	         

