@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelBase

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Gloobster</title>

	@*<link rel="shortcut icon" href="images/favicon.html">*@
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">

    <link href="http://ga.cz/2015/gloobster/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/test2.css">
		@*<link href="~/css/style.css" rel="stylesheet">*@
	<link href="~/lib/jquery-ui/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>

		<link href="~/lib/dropzone/dist/dropzone.css" rel="stylesheet" />
		<link href="~/lib/dropzone/dist/basic.css" rel="stylesheet" />

	<link rel="stylesheet" href="~/css/site.css"/>

	@Html.Partial("_GlobalScripts")

</head>
<body onload="onBodyLoad()" class="@ViewBag.BodyClass" id="top">
<header class="header">
	<div class="wrapper">
		<h1><a asp-controller="Home" asp-action="Index" class="logo-header">Gloobster</a>
		</h1>
		<div class="menu-holder table">
			<div class="cell">
				@Html.Partial("_Menu")
			</div>		    
            @if (Model.IsUserLogged)
            {
                <div class="cell">
                    <div id="userMenu" class="dropdown">
                        <span class="selected">@Model.PortalUser.DisplayName, @Model.SocialNetwork</span>				    
                        @if (Model.NotificationCount > 0)
                        {
                            <span class="notification">@Model.NotificationCount</span>
                        }
                        <ul>
                            <li data-value="logout">Logout</li>
                            <li data-value="settings">Settings</li>
                            <li data-value="notifications">Notifications
                                @if (Model.NotificationCount > 0)
                                {
                                    <span class="notification">@Model.NotificationCount</span>
                                }
                            </li>
                        </ul>
                        <input type="hidden">
                    </div>
                </div>
            }
            else
            {
                <div class="cell" id="loginSection" style="display: none">
                    <ul class="menu-header separator table">
                        <li><a class="popup-target" data-target="#popup-login" href="#">Login</a></li>
                        <li><a class="popup-target" data-target="#popup-join" href="#">Join</a></li>
                    </ul>
                </div>
            }
		</div>
		<a href="#" class="hamburger" data-target="#menu"><span></span></a>
	</div>
</header>


@RenderBody()




@Html.Partial("_Footer")
@Html.Partial("_DialogLogin")
@Html.Partial("_DialogRegister")


<script src="http://ga.cz/2015/gloobster/js/jquery.countto.js"></script>
<script src="http://ga.cz/2015/gloobster/js/script.js"></script>
@*@RenderSection("scripts", required: false)*@

<script type="text/javascript">

    $("#userMenu li").click((e) => {

        var value = $(e.target).data("value");

        if (value === "logout") {
            currentView.loginManager.logout();
        }

        if (value === "settings") {
            window.location = "/PortalUser/Settings";
        }

        if (value === "notifications") {
            window.location = "/PortalUser/Notifications";
        }
    });

    Reg.LoginManager.currentUserId = null;

    @if (Model.IsUserLogged)
    {
        @Html.Raw($"Reg.LoginManager.currentUserId = '{Model.PortalUser.id}';")
    }


</script>

</body>
</html>







		                
	         

