@using System.Linq;
@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelBase


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Gloobster</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700">

    <link href="~/css/style.css" rel="stylesheet">
    
    <link href="~/lib/jquery-ui/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
	
	@Html.Partial("_GlobalScripts")

</head>
<body onload="onBodyLoad()" class="@ViewBag.BodyClass" id="top">
<header class="header">


    <div class="wrapper">
        <h1><a asp-controller="Home" asp-action="Index" class="logo-header">Gloobster</a></h1>

        <div class="menu-holder">
            <div class="tright mhalf">
                @Html.Partial("_LangMenu")

                @if (Model.User != null)
                {
                    @Html.Partial("_UserMenu")
                }

            </div>
            @Html.Partial("_Menu")            
        </div>

        <a class="hamburger" data-target="#menu" href="#"><span></span></a>
    </div>


</header>

@if (ViewBag.StopLayoutGenerate == null)
{
    <div class="blue-line margin"></div>
    <section class="wrapper margin3">
        @if (!Model.SocialNetworks.Any())
        {
            @Html.Partial("_DialogJoinSoc")
            @Html.Partial("_DialogJoinEmail")
        }
        @RenderBody()
    </section>
}
else
{
    @RenderBody()
}

@Html.Partial("_Footer")

    <script src="http://ga.cz/2015/gloobster/js/jquery.countto.js"></script>

    <script type="text/javascript" src="@Url.Content("~/js/script.js")"></script>

    <script type="text/javascript">
        Reg.LoginManager.currentUserId = null;

        @if (Model.IsUserLogged)
        {
            @Html.Raw($"Reg.LoginManager.currentUserId = '{Model.User.id}';")
        }
        @{
            var nets = Model.SocialNetworks.Select(n => ((int) n).ToString());
            var netsStr = string.Join(",", nets);
        }
        @Html.Raw($"Views.ViewBase.nets = '{netsStr}';")



    </script>

</body>
</html>







		                
	         

