@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal
@using Gloobster.Portal.ViewModels;
@model ViewModelBase

<div class="menu_all">

    <div class="wrapper menu-wrapper">

        <div class="logo_all">
            <a href="/">
                <img src="/images/n/logo.svg"/>
            </a>
        </div>

        <div class="icons_all">
            <div class="icons">

                <div class="icon ver-switch" style="display: none">
                    <a id="switchVersion" title="switch between full and demo version" class="" href="#"></a>
                </div>

                @if (Model.IsUserLogged)
                {

                    <div class="icon">
                        <a class="icon-my-data" title="my profile" href="/@RoutingConsts.UserDetailMenuName"></a>
                    </div>

                    <div class="icon">
                        <a class="icon-friends" title="friends" href="/@RoutingConsts.FriendsMenuName"></a>
                    </div>

                    <div class="icon">
                        <a class="icon-message" title="messages" href="/@RoutingConsts.MessagesMenuName"></a>

                        @if (Model.UnreadMessagesCount > 0)
                        {
                            <div class="notif">@Model.UnreadMessagesCount</div>
                        }
                    </div>

                    <div class="icon">
                        <a class="icon-envelope" title="notifications" href="/@RoutingConsts.NotifsMenuName"></a>

                        @if (Model.NotificationCount > 0)
                        {
                            <div class="notif">@Model.NotificationCount</div>
                        }

                    </div>

                    if (Model.HasAnyWikiPermissions || Model.CanManageArticleAdmins)
                     {
                         <div class="icon">
                             <a id="admin-btn" title="administration" class="icon-user-tie" href="#"></a>

                             <div class="admin-menu-all" style="display: none">
                                 @if (Model.HasAnyWikiPermissions)
                                 {
                                     <a href="/WikiAdmin/List">Wiki admin</a>
                                 }
                                 @if (Model.CanManageArticleAdmins)
                                 {
                                     <a href="/imagedb/list">Image DB</a>
                                     <a href="/git/issues">GIT issues</a>
                                     <a href="/wiki/permissions">Wiki permissions</a>
                                     <a href="/mylog/index">Logs</a>
                                     <a href="/mylog/stats">DB stats</a>
                                     <a href="/mylog/userstodelete">Accounts clean</a>
                                     <a href="/travelb/management">TravelB management</a>
                                 }
                             </div>
                         </div>

                     }

                    <div class="icon">
                        <a id="logoutUser" title="logout" class="icon-switch" href="#"></a>
                    </div>

                }

            </div>
        </div>


        <div class="links_all">
            <nav class="links">

            @if (Model.IsDemo)
            {
                <a href="#">Dashboard</a>

                <a href="/Destination/planning">Travel deals</a>
            }

                <a class="MenuTravelB" href="/@RoutingConsts.TravelBuddyMenuName">@Model.W("MenuTB", "layout")</a>
            
                <a class="MenuTrip" href="/@RoutingConsts.PlannerMenuName/grid">@Model.W("MenuTrips", "layout")</a>

                <a class="MenuPins" href="/@RoutingConsts.PinsMenuName">@Model.W("MenuPins", "layout")</a>

                <a class="MenuWiki" href="/@RoutingConsts.WikiMenuName">@Model.W("MenuWiki", "layout")</a>

            </nav>
        </div>

    </div>
</div>




