@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal
@using Gloobster.Portal.ViewModels;
@model ViewModelBase

<div class="menu_all">

    <div class="wrapper">

        <div class="logo_all">
            @*/*@
            <a href="/">
                <img src="/images/n/logo.svg"/>
            </a>
        </div>

        <nav class="links">
            <div>
                <a href="#">Dashboard</a>
            </div>
            <div>
                <a href="/Destination/planning">Fly Tickets</a>
            </div>
            <div>
                <a href="/TravelB/home">Travel Buddy</a>
            </div>
            <div>
                <a href="/@RoutingConsts.PlannerMenuName/grid">@Model.W("MenuTrips", "layout")</a>
            </div>
            <div>                
                <a class="MenuPins" href="@RoutingConsts.PinsMenuName">@Model.W("MenuPins", "layout")</a>
            </div>
            <div>                
                <a class="MenuWiki" href="@RoutingConsts.WikiMenuName">@Model.W("MenuWiki", "layout")</a>
            </div>
        </nav>

      
        <div class="icons_all">
            <div class="icons">

                
                <a href="/@RoutingConsts.UserDetailMenuName">
                    <span class="icon-my-data"></span>
                </a>
                <a href="/@RoutingConsts.FriendsMenuName">
                    <span class="icon-friends"></span>                    
                </a>
                <a href="/@RoutingConsts.NotifsMenuName">
                    <span class="icon-envelope"></span>                    
                </a>
                <a href="#">
                    <span id="logoutUser" class="icon-logout"></span>
                </a>

            </div>
        </div>

    </div>
</div>




