@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal
@using Gloobster.Portal.ViewModels
@using Microsoft.Data.Entity.Metadata.Internal
@model ViewModelBase



<div id="userMenu" class="dropdown">
    <span class="selected">@Model.User.DisplayName    
    </span>
    @if (Model.NotificationCount > 0)
    {
        <span class="notification">@Model.NotificationCount</span>
    }
    <ul>
        <li><a id="logoutUser" href="#">@Model.W("Logout", "layout")</a></li>
        <li><a href="/@RoutingConsts.UserDetailMenuName">@Model.W("UserSettings", "layout")</a></li>
        <li><a href="/@RoutingConsts.FriendsMenuName">@Model.W("Friends", "layout")</a></li>
        <li>
            @if (Model.NotificationCount > 0)
            {
                <span class="notification">@Model.NotificationCount</span>
            }
            <a href="/@RoutingConsts.NotifsMenuName">@Model.W("Notifications", "layout")</a>
        </li>

        @if (Model.HasAnyWikiPermissions)
        {
            <li><a href="/WikiAdmin/List">Wiki admin</a></li>
        }
        @if (Model.CanManageArticleAdmins)
        {
            <li><a href="/wiki/permissions">Wiki permissions</a></li>
            <li><a href="/mylog/index">Logs</a></li>
        }
    </ul>
    <input type="hidden">
</div>