@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model ViewModelBase



<div id="userMenu" class="dropdown">
    <span class="selected">@Model.User.DisplayName    
    </span>
    @if (Model.NotificationCount > 0)
    {
        <span class="notification">@Model.NotificationCount</span>
    }
    <ul>
        <li><a id="logoutUser" href="#">@Model.W("Logout")</a></li>
        <li><a href="/PortalUser/Settings">@Model.W("UserSettings")</a></li>
        <li><a href="/Friends/List">@Model.W("Friends")</a></li>
        <li>
            @if (Model.NotificationCount > 0)
            {
                <span class="notification">@Model.NotificationCount</span>
            }
            <a href="/PortalUser/Notifications">@Model.W("Notifications")</a>
        </li>

        @if (Model.HasAnyWikiPermissions)
        {
            <li><a href="/WikiAdmin/List">Wiki admin</a></li>
        }
        @if (Model.CanManageArticleAdmins)
        {
            <li><a href="/wiki/permissions">Wiki permissions</a></li>
        }
    </ul>
    <input type="hidden">
</div>