
@using Gloobster.Portal.ViewModels
@model InfoBlockResult

<div class="title-table">
    <div class="left">
        @foreach (var b in Model.LinkSteps)
        {
            <a href="@b.Link">@b.Txt</a> @(">")
        }
        

        <h1>@Model.BaseModel.W("Title")</h1>
    </div>

    <div class="right">
        
        <span title="@(Model.IsVisible ? Model.BaseModel.W("HideTitleInfo", "layout") : Model.BaseModel.W("ShowTitleInfo", "layout"))" class="@(Model.IsVisible ? "icon-close-cross" : "icon-info") info-btn showHide" data-ts="@Model.BaseModel.W("ShowTitleInfo", "layout")" data-th="@Model.BaseModel.W("HideTitleInfo", "layout")"></span>
    </div>

</div>