@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.ViewModels
@model NotificationsViewModel

@{
    ViewData["Title"] = "gloobster.com - notifications";
    ViewBag.BodyClass = "notif";
}

@Html.Partial("GAnalytics")

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/notifications.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script type="text/javascript" src="/js/Views/NotificationsView.js"></script>
}


<div class="info-block-bck collapsed">

    <div class="wrapper">

        <div class="title-table">
            <div class="left">
                <h1>@Model.W("Title")</h1>
            </div>

            <div class="right">
                @if (Model.Notifications.Notifications.Any())
                {
                    <a id="deleteAll" class="lbtn del-btn" href="#">@Model.W("DeleteAll")</a>
                }
            </div>

        </div>

    </div>
</div>

    @foreach (var notif in Model.Notifications.Notifications)
    {
        <div class="notif_item wrapper" id="@notif.id">
            <a data-notifId="@notif.id" class="notif_delete" href="#"><span class="icon-bin"></span></a>
            <div class="msg">
                <h3>@notif.Title</h3>
                <p>
                    <span class="date">@notif.Created.ToShortDateString()</span> — @notif.Content
                </p>
                <div class="srv">
                    @if (!string.IsNullOrEmpty(notif.Link))
                    {
                        <a class="lbtn link" href="@GloobsterConfig.Protocol://@GloobsterConfig.Domain/@notif.Link">@notif.LinkText</a>
                    }

                </div>
            </div>
            
        </div>
    }

    <div id="noNotifs" style="display: none">@Model.W("NoNewNotifs")</div>


<script>
	function onBodyLoad() {
		currentView = new Views.NotificationsView();
	}
</script>
