@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.ViewModels
@model NotificationsViewModel


@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/notifications.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script type="text/javascript" src="/js/Views/NotificationsView.js"></script>
}

    <div class="table margin width100">
        <div class="cell middle">
            <h2>@Model.W("Title")</h2>
        </div>
        <div class="cell middle tright">
            @if (Model.Notifications.Notifications.Any())
            {
                <a id="deleteAll" class="button blue-trans" href="#">@Model.W("DeleteAll")</a>
            }
        </div>
    </div>

    @foreach (var notif in Model.Notifications.Notifications)
    {
        <div class="blue-border table width100 margin notif_item" id="@notif.id">
            <div class="cell middle last-child">
                <h3>@notif.Title</h3>
                <p>
                    <span class="color2">@notif.Created.ToShortDateString()</span> — @notif.Content
                </p>
            </div>
            <div class="cell middle tright">
                @if (!string.IsNullOrEmpty(notif.Link))
                {
                    <a class="button h4 middle" href="@GloobsterConfig.Protocol://@GloobsterConfig.Domain/@notif.Link">@notif.LinkText</a>
                }
                <a data-notifId="@notif.id" class="notif_delete button border middle" href="#"><span class="icon-trash middle"></span></a>
            </div>
        </div>
    }

    <div id="noNotifs" style="display: none">@Model.W("NoNewNotifs")</div>


<script>
	function onBodyLoad() {
		currentView = new Views.NotificationsView();
	}
</script>
