@using Gloobster.Portal.ViewModels
@using System.Linq
@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Enums
@using Newtonsoft.Json
@model SettingsViewModel

@{
    Layout = "_LayoutNew";
    ViewBag.BodyClass = "user-settings";
}

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/userSettings.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/js/Views/SettingsView.js"></script>
    <script src="/js/Views/SettingsUtils.js"></script>
    <script src="/js/Planning/TaggingField.js"></script>
    <script src="/js/TravelB/CategoryTagger.js"></script>
    <script src="/js/TravelB/Tabs.js"></script>
    <script src="/js/TravelB/TravelBUtils.js"></script>
}

<link href="~/css/chat.css" rel="stylesheet" />

<h1>@Model.W("Settings")</h1>

    <div class="wrapper">
        <img id="avatar" class="avatar" src="@Model.AvatarLink" />
        <br />
        <a class="photo-button" href="#">
            <input type="file" id="avatarFile" />

            <label for="avatarFile">
                <span>@Model.W("ChangePhoto")</span>
            </label>
        </a>
    </div>

<div class="wrapper">
    <table class="controls">
        <tr>
            <td colspan="2">
                <h2>Base data</h2>
            </td>
        </tr>
        <tr>
            <td>
                <span class="titleName">@Model.W("DisplayName")</span>
            </td>
            <td>
                <input id="displayName" type="text" value="@Model.DisplayName" />
            </td>
        </tr>
        <tr>
            <td colspan="2">                
                <h2>Travel Buddy min</h2>
            </td>
        </tr>
        <tr>
            <td>
                <span class="titleName">First name</span>
            </td>
            <td>
                <input id="firstName" type="text" value="@Model.FirstName" />
            </td>
        </tr>
        <tr>
            <td>
                <span class="titleName">Last name</span>
            </td>
            <td>
                <input id="lastName" type="text" value="@Model.LastName" />
            </td>
        </tr>

        <tr>
            <td>
                <span class="titleName">BirthYear</span>
            </td>
            <td>
                <input id="birthYear" type="number" value="@Model.BirthYear" placeholder="eg 1983" />
            </td>
        </tr>
        <tr>
            <td>
                <span class="titleName">@Model.W("Gender")</span>
            </td>
            <td>
                <div id="gender" class="dropdown left">
                    <span class="selected">@Model.Gender</span>
                    <ul>
                        <li data-value="1">@Model.W("Male", "layout")</li>
                        <li data-value="2">@Model.W("Female", "layout")</li>
                    </ul>
                    <input type="hidden" value="0">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="titleName">Status</span>
            </td>
            <td>
                <div id="familyStatus" class="dropdown left">
                    <span class="selected">@Model.FamilyStatus</span>
                    <ul>
                        <li data-value="1">Single</li>
                        <li data-value="2">InRelationship</li>
                    </ul>
                    <input type="hidden" value="0">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="titleName">Languages</span>
            </td>
            <td>
                <div id="langsTagging" class="tags">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="titleName">Interests</span>
            </td>
            <td>
                @*class="tags"*@
                <div id="intersTagging">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="titleName">@Model.W("HomeCity")</span>
            </td>
            <td>
                <div id="homeCity" class="dropdown left">
                    <input class="inputed" type="text" placeholder="City name" value="@Model.HomeLocation">
                    <ul></ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="titleName">@Model.W("CurrentCity")</span>
            </td>
            <td>
                <div id="currentCity" class="dropdown left">
                    <input class="inputed" type="text" placeholder="City name" value="@Model.CurrentLocation">
                    <ul></ul>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <span class="titleName">Short description</span>
            </td>
            <td>
                <textarea id="shortDescription">@Model.ShortDescription</textarea>
            </td>
        </tr>

    </table>
</div>


     <div class="logins pairing">
        @if (!Model.HasSocNet(SocialNetworkType.Facebook))
        {
            <a id="fbBtnPair" class="facebook" href="#">@Model.W("FbButtonPair", "login")</a>
        }

        @if (!Model.HasSocNet(SocialNetworkType.Twitter))
        {
            <a id="twitterBtnPair" class="twitter" href="#">@Model.W("TwButtonPair", "login")</a>
        }

        @if (!Model.HasSocNet(SocialNetworkType.Google))
        {
            <a id="googleBtnPair" class="google" href="#">@Model.W("GoButtonPair", "login")</a>
        }       
    </div>


<script>
    function onBodyLoad() {
        currentView = new Views.SettingsView();

        currentView.langs = @Html.Raw(JsonConvert.SerializeObject(Model.Languages));        
        currentView.inters = @Html.Raw(JsonConvert.SerializeObject(Model.Interests));
        
        currentView.init();
    }
</script>
