
@model Gloobster.Portal.ViewModels.TravelBViewModel

<div class="not-registered-info">@Model.W("NotRegisteredInfo")</div>

<div class="standard-form req-settings @(Model.User == null ? "hidden" : "")">
    @*<span class="icon-cross form-close"></span>*@
    <div class="ribbon"></div>
    <div class="form-cont-all">
        <div class="form-title">@Model.W("RequiredInfo")</div>
        
        <div class="form-caption">@Model.W("RequiredPropsTitle") <a href="/legal/TermsAndConds">@Model.W("TermsOfUse")</a></div>

        <div class="form-cont">
            
            <div class="lr-table">
                
                <div class="l">
                    
                    <div class="photo-title">@Model.W("ProfilePhoto")</div>
                    
                    <div class="photo-cont">

                        <img id="avatar" src="/PortalUser/ProfilePicture" />
                        
                        @{                            
                            var hasProfileImage = Model.User == null ? "false" : Model.User.HasProfileImage.ToString().ToLower();
                        }

                        <a class="photo-edit" href="#">
                            <input type="file" id="avatarFile" data-valid="@hasProfileImage" />

                            <label for="avatarFile">
                                <span class="icon-edit-pencil"></span>
                            </label>
                        </a>

                    </div>

                </div>
                
                <div class="r">
                    
                    <div class="photo-title">@Model.W("UserDataFormTitle")</div>

                    <div class="double-row-item">
                        
                        <div class="item gap">
                            <input id="firstName" type="text" placeholder="@Model.W("FirstNamePlaceholder")" value="@(Model.User == null ? "" : Model.User.FirstName)" />
                        </div>
                        
                        <div class="item">
                            <input id="lastName" type="text" placeholder="@Model.W("LastNamePlaceholder")" value="@(Model.User == null ? "" : Model.User.LastName)" />
                        </div>

                    </div>
                    
                    <div class="single-row-item">
                        <div id="langsTagging" class="tags"></div>    
                    </div>

                    <div class="double-row-item">

                        <div class="item gap">
                            <div id="homeCity" class="dropdown">
                                <input class="inputed" type="text" placeholder="@Model.W("CityBornPlaceholder")" />
                                <ul></ul>
                            </div>
                        </div>

                        <div class="item">
                            <div id="currentCity" class="dropdown">
                                <input class="inputed" type="text" placeholder="@Model.W("CityLivingPlaceholder")" />
                                <ul></ul>
                            </div>
                        </div>

                    </div>
                    
                    <div class="double-row-item">

                        <div class="item gap">
                            <input id="birthYear" type="number" max="2002" placeholder="@Model.W("BirthYearPlaceholder")" value="@(Model.User == null ? 0 : Model.User.BirthYear)" />
                        </div>

                        <div class="item">
                            <div id="gender" class="dropdown">
                                <span class="selected">@Model.GenderStr</span>
                                <ul>
                                    <li data-value="1">@Model.W("Male")</li>
                                    <li data-value="2">@Model.W("Female")</li>
                                </ul>
                                <input type="hidden" value="@(Model.User == null ? 0 : (int)Model.User.Gender)">
                            </div>
                        </div>

                    </div>
               
                    <div class="all-valid info" style="display: none">
                        @Model.W("PropsFinalMessage")
                        <a id="doneClose" class="lbtn2" href="#">@Model.W("CloseDialog")</a>
                    </div>

                </div>

            </div>
            

            
            

        </div>

    </div>
</div>
