@using System.Threading.Tasks
@using Newtonsoft.Json

@model Gloobster.Portal.ViewModels.TravelBViewModel

@{
    ViewBag.MenuGroup = "TravelB";
    Layout = "_LayoutNew";
    ViewBag.BodyClass = "travelb-home";
}

<link href="/lib/mapbox.js/mapbox.css" rel="stylesheet" />
<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet" />

<script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>

<script src="@Url.Content("~/js/Views/TravelBView.js")"></script>
<script src="@Url.Content("~/js/Views/SettingsUtils.js")"></script>
<script src="@Url.Content("~/js/TravelB/EmptyProps.js")"></script>
<script src="@Url.Content("~/js/TravelB/CategoryTagger.js")"></script>
<script src="@Url.Content("~/js/TravelB/Chat.js")"></script>
<script src="@Url.Content("~/js/TravelB/Filter.js")"></script>
<script src="@Url.Content("~/js/TravelB/NotifRefresh.js")"></script>
<script src="@Url.Content("~/js/TravelB/ChatRefresh.js")"></script>
<script src="@Url.Content("~/js/TravelB/CheckinReacts.js")"></script>
<script src="@Url.Content("~/js/TravelB/DateUtils.js")"></script>
<script src="@Url.Content("~/js/TravelB/CheckinWin.js")"></script>
<script src="@Url.Content("~/js/TravelB/NowTab.js")"></script>
<script src="@Url.Content("~/js/TravelB/CityTab.js")"></script>
<script src="@Url.Content("~/js/TravelB/Status.js")"></script>
<script src="@Url.Content("~/js/TravelB/TravelBMap.js")"></script>
<script src="@Url.Content("~/js/TravelB/MapCheckins.js")"></script>
<script src="@Url.Content("~/js/TravelB/Tabs.js")"></script>
<script src="@Url.Content("~/js/TravelB/TravelBUtils.js")"></script>

<script src="@Url.Content("~/js/Maps/MapsCreatorMapBox2D.js")"></script>

<script src="@Url.Content("~/js/Planning/TaggingField.js")"></script>

<script src="//js.maxmind.com/js/geoip.js" type="text/javascript"></script>

<div class="info-block-bck">

    <div class="wrapper">

        <div class="info-block">
            <div class="block">

                <div class="block-inner">
                    <div class="img-all">
                        <img src="/images/n/checkin-now.svg"/>
                    </div>

                    <div class="txt">
                        Checkin right here right now and find your instant travel buddies. Simply pick activities you are interested in and browse among people around you.
                    </div>
                </div>

            </div>

            <div class="block">

                <div class="block-inner">
                    <div class="img-all">
                        <img src="/images/n/checkin-city.svg"/>
                    </div>

                    <div class="txt">
                        Are you planning and trip ? Would you like to meet with other single travelers or join a group of others ? Share you schedule and interests with other travelers.
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="wrapper">

    <div id="notifCont" class="notifs">

    </div>

    <div class="checkin-row" style="display: none">
        <a id="checkin" href="#" class="icon-location now-checkin-btn"><span class="lato"> Checkin to meet somebody</span></a>
    </div>

    <div class="main-menu">
        <div class="tbl">

        </div>
    </div>

    <div id="map" class="map">
        <div id="searchCity" class="dropdown">
            <input class="inputed" type="text" placeholder="Search your location">
            <img class="loader" src="/images/loader-gray.gif" style="display: none"/>
            <ul></ul>
        </div>
    </div>

    <div class="results">

        <div class="tbl">
            <div class="people">
                <div class="title">People</div>

            </div>    

            <div class="meeting-points">
                <div class="title">Meeting points</div>


            </div>
            
        </div>

    </div>


    <div id="testCont">

        </div>

        <div id="reqPropCont" style="display: none;">

        </div>

        <div class="filter">

        </div>

    </div>


<div class="nchat-all">
    <div class="service">

        <span class="chat-with">Chat with <span class="name">John Myland</span></span>

        <a class="min icon-minus" title="minimize" href="#"></a>
    </div>
    <div class="people">


        <div class="person">

            <div class="wrap">
                <div class="photo-cont">
                    <div class="thumb-cont border">
                        <img src="/PortalUser/ProfilePicture_s"/>
                    </div>
                </div>
                <div class="name-cont">
                    <span class="name">John Myland</span>    
                </div>
                <div class="icon-cont">
                    <a href="#" title="user actions" class="icon-auction actions"></a>
                </div>
                <div class="icon-cont">
                    <a href="#" title="close/stop conversation" class="icon-cross close"></a>
                </div>
            </div>
        </div>


        <div class="person">

            <div class="wrap">
                <div class="photo-cont">
                    <div class="thumb-cont border">
                        <img src="/PortalUser/ProfilePicture_s" />
                    </div>
                </div>
                <div class="name-cont">
                    <a href="#" class="name-active">John Staward</a>
                </div>
                <div class="icon-cont">
                    <a href="#" title="user actions" class="icon-auction actions"></a>
                </div>
                <div class="icon-cont">
                    <a href="#" title="close/stop conversation" class="icon-cross close"></a>
                </div>
            </div>
        </div>

    </div>
    <div class="messages">

        <div class="message">
            <div class="data l">
                <span class="name">Vaclav Mikeska</span>
                <span class="time">16:45</span>
            </div>
            <div class="tbl">
                <div class="photo">
                    <div class="thumb-cont xs border">
                        <img src="/PortalUser/ProfilePicture_xs"/>
                    </div>
                </div>
                <div class="txt padding-r">
                    <span class="msg">Hi mate, how is it going ? Are you still there ?</span>
                </div>
            </div>
        </div>

        <div class="message">
            <div class="data r">
                <span class="name">Vaclav Mikeska</span>
                <span class="time">16:45</span>
            </div>
            <div class="tbl">
                <div class="txt r padding-l">
                    <span class="msg">Well, it's going quite well...</span>
                </div>
                <div class="photo">
                    <div class="thumb-cont xs border">
                        <img src="/PortalUser/ProfilePicture_xs"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="message">
            <div class="data l">
                <span class="name">Vaclav Mikeska</span>
                <span class="time">16:45</span>
            </div>
            <div class="tbl">
                <div class="photo">
                    <div class="thumb-cont xs border">
                        <img src="/PortalUser/ProfilePicture_xs"/>
                    </div>
                </div>
                <div class="txt padding-r">
                    <span class="msg">Would you like to meet, I have nothing to do. Would you like to meet, I have nothing to do. Would you like to meet, I have nothing to do. Would you like to meet, I have nothing to do.</span>
                </div>
            </div>
        </div>

        <div class="message">
            <div class="data r">
                <span class="name">Vaclav Mikeska</span>
                <span class="time">16:45</span>
            </div>
            <div class="tbl">
                <div class="txt r padding-l">
                    <span class="msg">Well, it's going quite well...</span>
                </div>
                <div class="photo">
                    <div class="thumb-cont xs border">
                        <img src="/PortalUser/ProfilePicture_xs"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="new-message">
        <input placeholder="Type a message..." type="text"/>
        @*<div class="tbl">
            <div class="txt">
                <textarea></textarea>
            </div>
            <div class="btn">
                <a href="#">
                    <span class="icon-envelop"></span>
                    <br/>
                    <span>Send</span>
                </a>
            </div>
        </div>*@

    </div>


</div>

<script>
    function onBodyLoad() {
        currentView = new Views.TravelBView();
        currentView.defaultLangs = @Html.Raw(JsonConvert.SerializeObject(Model.Languages));        
        currentView.emptyProps = @Html.Raw(JsonConvert.SerializeObject(Model.EmptyProps));

        currentView.init();
    }
</script>

@Html.Partial("Templates")