
@using Gloobster.Common
@using Newtonsoft.Json
@using System.Linq;
@using Microsoft.AspNet.Mvc.Rendering

@model Gloobster.Portal.ViewModels.TravelBViewModel

@{
    ViewBag.MenuGroup = "TravelB";
    Layout = "_LayoutNew";
    ViewBag.BodyClass = "travelb-home";
}

@Html.Partial("GAnalytics")

<link href="/lib/mapbox.js/mapbox.css" rel="stylesheet"/>
@*<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet" />*@

<link href="/lib/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet" />
<link href="/lib/leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet" />

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/tb.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>    
    <script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>
    <script type="text/javascript" src="/lib/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

    <script type="text/javascript" src="/js/Views/TravelBView.js"></script>
    <script type="text/javascript" src="/js/Views/SettingsUtils.js"></script>
    <script type="text/javascript" src="/js/TravelB/EmptyProps.js"></script>
    <script type="text/javascript" src="/js/TravelB/CategoryTagger.js"></script>
    <script type="text/javascript" src="/js/TravelB/Chat.js"></script>
    <script type="text/javascript" src="/js/TravelB/Filter.js"></script>
    <script type="text/javascript" src="/js/TravelB/NotifRefresh.js"></script>
    <script type="text/javascript" src="/js/TravelB/ChatRefresh.js"></script>
    <script type="text/javascript" src="/js/TravelB/CheckinReacts.js"></script>
    <script type="text/javascript" src="/js/TravelB/DateUtils.js"></script>
    <script type="text/javascript" src="/js/TravelB/CheckinWin.js"></script>
    <script type="text/javascript" src="/js/TravelB/NowTab.js"></script>
    <script type="text/javascript" src="/js/TravelB/CityTab.js"></script>
    <script type="text/javascript" src="/js/TravelB/Status.js"></script>
    <script type="text/javascript" src="/js/TravelB/TravelBMap.js"></script>
    <script type="text/javascript" src="/js/TravelB/MapCheckins.js"></script>
    <script type="text/javascript" src="/js/TravelB/Tabs.js"></script>
    <script type="text/javascript" src="/js/TravelB/TravelBUtils.js"></script>
    <script type="text/javascript" src="/js/TravelB/UserLocation.js"></script>
    <script type="text/javascript" src="/js/TravelB/CityCheckinsMgmt.js"></script>
    <script type="text/javascript" src="/js/TravelB/CheckinMenu.js"></script>
    <script type="text/javascript" src="/js/TravelB/FormValidations.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsCreatorMapBox2D.js"></script>
    <script type="text/javascript" src="/js/Planning/TaggingField.js"></script>

    
}

@{
    var showText = "show info";
    var hideText = "hide info";
    var infoCss = Model.InfoBlockVisible("info-travelb");
    var infoBtnTxt = infoCss == string.Empty ? hideText : showText;
}

<div class="info-block-bck" id="info-travelb">

    <div class="wrapper">

        <div class="title-table">
        <div class="left">
            <h1>@Model.W("Title")</h1>
        </div>

            <div class="right">
                <a class="showHide" data-ts="@showText" data-th="@hideText" href="#">@infoBtnTxt</a>
            </div>

    </div>

    <div class="info-block" style="@infoCss">
        <div class="block">

            <div class="block-inner">
                <div class="img-all">
                    <img src="/images/n/checkin-now.svg"/>
                </div>

                <div class="txt">
                    @Model.W("InfoNow")
                </div>
            </div>

        </div>

        <div class="block">

            <div class="block-inner">
                <div class="img-all">
                    <img src="/images/n/checkin-city.svg"/>
                </div>

                <div class="txt">
                    @Model.W("InfoCity")
                </div>
            </div>
        </div>

    </div>

    </div>
</div>


<div class="wrapper">

    @if (Model.EmptyProps.Any())
    {
        @Html.Partial("EmptyProps")
    }

</div>

<div class="wrapper">

    <div id="notifCont" class="notifs">

    </div>

    <div class="main-menu">

    </div>

    <div class="main-menu-cont">

        <div class="checkin-row" style="display: none">
            <a id="checkin" href="#" data-t="check" class="icon-location now-checkin-btn"><span class="lato"> @Model.W("CheckinBtn")</span></a>

            <a id="cityCheckins" href="#" data-t="manage" class="icon-file-text city-checkins-btn" style="display: none"><span class="lato"> @Model.W("ManageCheckinsBtn")</span></a>
        </div>

        <div class="checkin-win" style="display: none">
            <a class="close icon-cross" href="#"></a>

            <div class="cont">

            </div>

        </div>

    </div>

    <div class="no-location-perm" style="display: none">
        @Model.W("NoLocationPermissions")
    </div>

    

    <div class="map-wrap">
        <div id="map" class="map"></div>

        <div class="search-city">
            <div id="searchCity" class="dropdown">
                <input class="inputed" type="text" placeholder="@Model.W("SearchLocationPlaceholder")">
                <img class="loader" src="/images/loader-gray.gif" style="display: none"/>
                <ul></ul>
            </div>
        </div>

        <div class="entities-filter">
            <input id="fShowPeople" type="checkbox" checked/>
            <label for="fShowPeople">@Model.W("People")</label>
            <br/>
            <input id="fPoints" type="checkbox"/>
            <label for="fPoints">@Model.W("MeetingPoints")</label>
        </div>
    </div>

    <div class="city-chck-cnt">
        <span class="cnt" id="cityCount"></span> @Model.W("MorePeopleInCity") <a class="city-link" href="#">@Model.W("City")</a>
    </div>

    <div class="filter-date" id="filterDateCont" style="display: none">
        <div class="title">@Model.W("FilterDatesTitle")</div>
        <input id="fromDateFilter" type="text"/>
        <span class="split">-</span>
        <input id="toDateFilter" type="text"/>
    </div>

    <div class="filter-menu">

        <div id="cbUseFilter" class="checkbox-all">
            <div class="checker-all">
                <div class="checker"></div>
            </div>
            <div class="label">
                @Model.W("UseFilter")
            </div>
        </div>

        <div id="cbAllCheckins" class="checkbox-all">
            <div class="checker-all">
                <div class="checker"></div>
            </div>
            <div class="label">
                @Model.W("ShowAllCheckinsFilter")
            </div>
        </div>

    </div>

    <div class="filter" style="display: none">

    </div>

    <div class="results">

        <div class="tbl">
            <div class="people">
                <div class="title">@Model.W("PeopleTitle")</div>

                <div class="no-people-all">
                    <div class="img">

                    </div>
                    <div class="txt">
                        @Model.W("NoPeoplePlaceholder")
                    </div>
                </div>

            </div>

            <div class="meeting-points">
                <div class="title">@Model.W("MeetingPointsTitle")</div>

                <div class="no-mp-all">
                    <div class="img">

                    </div>
                    <div class="txt">
                        @Model.W("NoMeetingPointsPlaceholder")
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>


<script>
    function onBodyLoad() {
        currentView = new Views.TravelBView();
        currentView.defaultLangs = @Html.Raw(JsonConvert.SerializeObject(Model.User.Languages));
        currentView.emptyProps = @Html.Raw(JsonConvert.SerializeObject(Model.EmptyProps));

        @if (Model.User.HomeLocation != null)
        {
            @Html.Raw($"currentView.homeLocation = '{Model.User.HomeLocation.City}';")
        }

        currentView.init();
    }
</script>

@Html.Partial("Templates")