@using System.Threading.Tasks
@using Newtonsoft.Json

@model Gloobster.Portal.ViewModels.TravelBViewModel

@{
    ViewBag.MenuGroup = "TravelB";
    Layout = "_LayoutNew";
    ViewBag.BodyClass = "travelb-home";
}

<link href="/lib/mapbox.js/mapbox.css" rel="stylesheet" />
<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet"/>

<script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>

<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />


<script src="@Url.Content("~/js/Views/TravelBView.js")"></script>
<script src="@Url.Content("~/js/Views/SettingsUtils.js")"></script>
<script src="@Url.Content("~/js/TravelB/EmptyProps.js")"></script>
<script src="@Url.Content("~/js/TravelB/CategoryTagger.js")"></script>
<script src="@Url.Content("~/js/TravelB/Chat.js")"></script>
<script src="@Url.Content("~/js/TravelB/Filter.js")"></script>
<script src="@Url.Content("~/js/TravelB/NotifRefresh.js")"></script>
<script src="@Url.Content("~/js/TravelB/ChatRefresh.js")"></script>
<script src="@Url.Content("~/js/TravelB/CheckinReacts.js")"></script>
<script src="@Url.Content("~/js/TravelB/DateUtils.js")"></script>
<script src="@Url.Content("~/js/TravelB/CheckinWin.js")"></script>
<script src="@Url.Content("~/js/TravelB/NowTab.js")"></script>
<script src="@Url.Content("~/js/TravelB/CityTab.js")"></script>
<script src="@Url.Content("~/js/TravelB/Status.js")"></script>
<script src="@Url.Content("~/js/TravelB/TravelBMap.js")"></script>
<script src="@Url.Content("~/js/TravelB/MapCheckins.js")"></script>
<script src="@Url.Content("~/js/TravelB/Tabs.js")"></script>
<script src="@Url.Content("~/js/TravelB/TravelBUtils.js")"></script>
<script src="@Url.Content("~/js/TravelB/UserLocation.js")"></script>
<script src="@Url.Content("~/js/TravelB/CityCheckinsMgmt.js")"></script>
<script src="@Url.Content("~/js/TravelB/CheckinMenu.js")"></script>

<script src="@Url.Content("~/js/Maps/MapsCreatorMapBox2D.js")"></script>

<script src="@Url.Content("~/js/Planning/TaggingField.js")"></script>


@{
    var showText = "show info";
    var hideText = "hide info";
    var infoCss = Model.InfoBlockVisible("info-travelb");
    var infoBtnTxt = infoCss == string.Empty ? hideText : showText;
}

<div class="info-block-bck" id="info-travelb">

    <div class="wrapper">

        <div class="title-table">
            <div class="left">                
                <h1>Find a travel buddy</h1>    
            </div>

            <div class="right">
                <a class="showHide" data-ts="@showText" data-th="@hideText" href="#">@infoBtnTxt</a>    
            </div>
            
        </div>

        <div class="info-block" style="@infoCss">
            <div class="block">

                <div class="block-inner">
                    <div class="img-all">
                        <img src="/images/n/checkin-now.svg"/>
                    </div>

                    <div class="txt">
                        Checkin right here right now and find your instant travel buddies. Simply pick activities you are interested in and browse among people around you.
                    </div>
                </div>

            </div>

            <div class="block">

                <div class="block-inner">
                    <div class="img-all">
                        <img src="/images/n/checkin-city.svg"/>
                    </div>

                    <div class="txt">
                        Are you planning and trip ? Would you like to meet with other single travelers or join a group of others ? Share you schedule and interests with other travelers.
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="wrapper">

    <div id="notifCont" class="notifs">

    </div>

    <div class="checkin-row" style="display: none">
        <a id="checkin" href="#" data-t="check" class="icon-location now-checkin-btn"><span class="lato"> Check-in</span></a>

        <a id="cityCheckins" href="#" data-t="manage" class="icon-file-text city-checkins-btn" style="display: none"><span class="lato"> Manage check-ins</span></a>
    </div>

    <div class="checkin-win" style="display: none">
        <a class="close icon-cross" href="#"></a>

        <div class="cont">
            
        </div>

    </div>

    <div class="main-menu">
        <div class="tbl">

        </div>
    </div>

    <div class="no-location-perm" style="display: none">
        Seems you didn't grant us location permissions, so we cannot show your exact location. Once you change your mind, you must go to your browser Location settings and allow it.
    </div>

    <div id="map" class="map">
        <div id="searchCity" class="dropdown">
            <input class="inputed" type="text" placeholder="Search location">
            <img class="loader" src="/images/loader-gray.gif" style="display: none"/>
            <ul></ul>
        </div>
        
        <div class="entities-filter">
            <input id="fShowPeople" type="checkbox" checked />
            <label for="fShowPeople">People</label>
            <br/>
            <input id="fPoints" type="checkbox"/>
            <label for="fPoints">Meeting points</label>
        </div>
    </div>

    <div class="filter-date" id="filterDateCont" style="display: none">
        <div class="title">Show checkins between following dates</div>
        <input id="fromDateFilter" type="text"/>
        <span class="split">-</span>
        <input id="toDateFilter" type="text"/>
    </div>

    <div class="filter-menu">

        <div id="cbUseFilter" class="checkbox-all">
            <div class="checker-all">
                <div class="checker"></div>
            </div>
            <div class="label">
                Use filter
            </div>
        </div>

        <div id="cbAllCheckins" class="checkbox-all">
            <div class="checker-all">
                <div class="checker"></div>
            </div>
            <div class="label">
                Show all checkins
            </div>
        </div>

    </div>

    <div class="filter" style="display: none">

    </div>

    <div class="results">

        <div class="tbl">
            <div class="people">
                <div class="title">People</div>

                <div class="no-people-all">                    
                    <div class="img">

                    </div>
                    <div class="txt">
                        Sorry, no people here right now, but you can visit one of our popular Meeting Points and check in.
                    </div>
                </div>
                
            </div>    

            <div class="meeting-points">
                <div class="title">Meeting points</div>

                <div class="no-mp-all">
                    <div class="img">

                    </div>
                    <div class="txt">
                        Sorry, no Meeting Points, we are not yet active in this area.
                    </div>
                </div>

            </div>
            
        </div>

    </div>


    <div id="testCont">

        </div>

        <div id="reqPropCont" style="display: none;">

        </div>

        

    </div>


<script>
    function onBodyLoad() {
        currentView = new Views.TravelBView();
        currentView.defaultLangs = @Html.Raw(JsonConvert.SerializeObject(Model.Languages));        
        currentView.emptyProps = @Html.Raw(JsonConvert.SerializeObject(Model.EmptyProps));

        currentView.init();
    }
</script>

@Html.Partial("Templates")