
@using Gloobster.Common
@using Newtonsoft.Json
@using System.Linq;
@using Microsoft.AspNet.Mvc.Rendering

@model Gloobster.Portal.ViewModels.TravelBViewModel

@{
    ViewBag.MenuGroup = "TravelB";
    ViewBag.BodyClass = "travelb-home";
    ViewData["Title"] = "gloobster.com - find your travel buddy";
}

@Html.Partial("GAnalytics")

<link href="/lib/mapbox.js/mapbox.css" rel="stylesheet"/>
@*<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet" />*@

<link href="/lib/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet" />
<link href="/lib/leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet" />

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/tb.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>    
    <script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>
    <script type="text/javascript" src="/lib/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

    <script type="text/javascript" src="/js/Views/TravelBView.js"></script>
    <script type="text/javascript" src="/js/Views/SettingsUtils.js"></script>
    <script type="text/javascript" src="/js/TravelB/EmptyProps.js"></script>
    <script type="text/javascript" src="/js/TravelB/CategoryTagger.js"></script>
    <script type="text/javascript" src="/js/TravelB/Chat.js"></script>
    <script type="text/javascript" src="/js/Common/CustomCheckbox.js"></script>
    <script type="text/javascript" src="/js/TravelB/Filter.js"></script>
    <script type="text/javascript" src="/js/TravelB/NotifRefresh.js"></script>
    <script type="text/javascript" src="/js/TravelB/ChatRefresh.js"></script>
    <script type="text/javascript" src="/js/TravelB/CheckinReacts.js"></script>
    <script type="text/javascript" src="/js/TravelB/DateUtils.js"></script>
    <script type="text/javascript" src="/js/TravelB/CheckinWin.js"></script>
    <script type="text/javascript" src="/js/TravelB/NowTab.js"></script>
    <script type="text/javascript" src="/js/TravelB/CityTab.js"></script>
    <script type="text/javascript" src="/js/TravelB/Status.js"></script>
    <script type="text/javascript" src="/js/TravelB/TravelBMap.js"></script>
    <script type="text/javascript" src="/js/TravelB/MapCheckins.js"></script>
    <script type="text/javascript" src="/js/TravelB/Tabs.js"></script>
    <script type="text/javascript" src="/js/TravelB/TravelBUtils.js"></script>
    <script type="text/javascript" src="/js/TravelB/UserLocation.js"></script>
    <script type="text/javascript" src="/js/TravelB/CityCheckinsMgmt.js"></script>
    <script type="text/javascript" src="/js/TravelB/CheckinMenu.js"></script>
    <script type="text/javascript" src="/js/TravelB/FormValidations.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsCreatorMapBox2D.js"></script>
    <script type="text/javascript" src="/js/deals/TaggingField.js"></script>

    
}


@{
    var infoBlock = Model.InfoBlock("info-travelb");
}

<div class="info-block-bck @infoBlock.Class" id="info-travelb">

    <div class="wrapper">

        @Html.Partial("TitleBlock", infoBlock)

        <div class="info-block info-block2" style="@infoBlock.Css">

            <div class="info-inner-table">

                <div class="block">
                    <img class="svg-img" src="/images/n/guy.svg">
                    <p class="txt">
                        @Model.W("InfoNow")
                    </p>
                </div>

                <div class="block">
                    <img class="svg-img" src="/images/n/yellow-ico-calendar.svg">
                    <p class="txt">
                        @Model.W("InfoCity")
                    </p>
                </div>

            </div>

        </div>

    </div>
</div>


<div class="wrapper">

    @if (Model.EmptyProps.Any())
    {
        @Html.Partial("EmptyProps")
    }

</div>

<div class="wrapper">

    <div id="notifCont" class="notifs">

    </div>

    <div class="main-menu">

    </div>

    

    <div class="no-location-perm" style="display: none">
        @Model.W("NoLocationPermissions")
    </div>

    
    <div class="map-wrap-all">
        
        <div class="main-menu-cont">

            <div class="checkin-row" style="display: none">
                <a id="checkin" href="#" data-t="check" class="now-checkin-btn">@Model.W("CheckinBtn")</a>

                <a id="cityCheckins" href="#" data-t="manage" class="city-checkins-btn" style="display: none">@Model.W("ManageCheckinsBtn")</a>
            </div>

            <div class="checkin-win" style="display: none">
                <a class="close icon-cross" href="#"></a>

                <div class="cont">

                </div>

            </div>

        </div>

        <div class="map-wrap">
            <div id="map" class="map"></div>

            <div class="search-city">
                <div id="searchCity" class="dropdown place-combo">
                    <input class="inputed" type="text" placeholder="@Model.W("SearchLocationPlaceholder")">
                    <img class="loader" src="/images/loader-gray.gif" style="display: none"/>
                    <span class="icon-logo-pin"></span>
                    <ul></ul>
                </div>
            </div>

            <div class="entities-filter">
                <input id="fShowPeople" type="checkbox" checked/>
                <label for="fShowPeople">@Model.W("People")</label>
                <br/>
                <input id="fPoints" type="checkbox"/>
                <label for="fPoints">@Model.W("MeetingPoints")</label>
            </div>
        </div>
        
        <div class="city-chck-cnt">
            <span class="cnt" id="cityCount"></span> @Model.W("MorePeopleInCity") <a class="city-link" href="#">@Model.W("City")</a>
        </div>

        <div class="filter-date" id="filterDateCont" style="display: none">
            <div class="title">@Model.W("FilterDatesTitle")</div>
            
            <div id="fromDateFilterCont"></div>
            <span class="split">-</span>
            <div id="toDateFilterCont"></div>
            
        </div>

        <div class="results">

            <div class="tbl">
                <div class="people">
                    <div class="title">@Model.W("PeopleTitle")
                    
                        <div class="filter-menu">

                            <div id="cbUseFilter" class="checkbox-all">
                                <div class="checker-all">
                                    <div class="checker"></div>
                                </div>
                                <div class="label">
                                    @Model.W("UseFilter")
                                </div>
                            </div>

                            <div id="cbAllCheckins" class="checkbox-all">
                                <div class="checker-all">
                                    <div class="checker"></div>
                                </div>
                                <div class="label">
                                    @Model.W("ShowAllCheckinsFilter")
                                </div>
                            </div>

                        </div>

                    </div>
                    
                    <div class="filter" style="display: none">

                    </div>

                    <div class="no-people-all">
                        <div class="img">

                        </div>
                        <div class="txt">
                            @Model.W("NoPeoplePlaceholder")
                        </div>
                    </div>

                </div>
                
                <div class="split">
                    
                </div>

                <div class="meeting-points">
                    <div class="title">@Model.W("MeetingPointsTitle")</div>

                    <div class="no-mp-all">
                        <div class="img">

                        </div>
                        <div class="txt">
                            @Model.W("NoMeetingPointsPlaceholder")
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    

</div>


<script>
    function onBodyLoad() {
        currentView = new Views.TravelBView();


        
        @if (Model.User != null) {
            @Html.Raw("currentView.userExisted = true;")
        }

        currentView.defaultLangs =
            @(Model.User != null && Model.User.Languages != null ? Html.Raw(JsonConvert.SerializeObject(Model.User.Languages)) : Html.Raw("[]"));


        currentView.emptyProps = @Html.Raw(JsonConvert.SerializeObject(Model.EmptyProps));

        @if (Model.User != null && Model.User.HomeLocation != null)
        {
            @Html.Raw($"currentView.homeLocation = '{(Model.User == null ? string.Empty : Model.User.HomeLocation.City)}';")
        }

        @if (Model.User != null && Model.User.CurrentLocation != null)
        {
            @Html.Raw($"currentView.currentLocation = '{Model.User.CurrentLocation.City}';")
        }

        currentView.init();
    }
</script>

@Html.Partial("Templates")