@using Gloobster.Common
@using Microsoft.AspNet.Mvc.Rendering


<script id="city-checkin-mgmt-item-template" type="text/x-handlebars-template">
    
    <div class="checkin-mgmt-item" data-id="{{cid}}">
        
        <div class="title">
            {{waitingAtText}} 
            <a href="#" class="icon-bin delete"></a>
            <a href="#" class="icon-edit-pencil edit"></a>
        </div>

        <div class="date">{{fromDate}} - {{toDate}}</div>

        <div class="data-cont">
            @Html.Partial("WantMeet")
            <span class="years">({{fromAge}} - {{toAge}} @Model.W("Years"))</span>

            {{#each wantDos}}
            <span class="itag">{{this}}</span>
            {{/each}}
        </div>
        <div class="msg">{{message}}</div>
        
    </div>

</script>

<script id="status-template" type="text/x-handlebars-template">

    <div class="status-row">
        <img class="pin svg-img" src="/images/n/logo-pin.svg" />
        
        <div class="place">            
            <a href="{{placeLink}}">{{placeName}}</a>            
            <a href="#" class="icon-edit-pencil edit"></a>
            <a href="#" class="icon-bin delete"></a>
        </div>
        <div class="data">
            <div class="item">                
                <div class="cont" id="wantMeetCont">                   
                    @Html.Partial("WantMeet")                     
                </div>
            </div>
            <div class="item">                
                <div class="cont" id="wantDoCont">
                    {{#each wantDos}}
                        <span class="itag">{{this}}</span>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>


</script>



<script id="checkinDialog-template" type="text/x-handlebars-template">

    <div class="checkinCont">

        <div id="dlgSpec">

        </div>
         
        <div>
            <div class="title">@Model.W("WantDo")</div>

            <div id="wantDoCont">

            </div>
        </div>

        <div class="double-tbl">
            <div class="cell">
                <div class="title">@Model.W("WantMeet")</div>

                <span class="multi">
                    <input id="wantMeetMan" type="radio" name="wantMeet" value="0"><label for="wantMeetMan">@Model.W("ManOnly")</label>
                </span>
                <span class="multi">
                    <input id="wantMeetWoman" type="radio" name="wantMeet" value="1"><label for="wantMeetWoman">@Model.W("WomanOnly")</label>
                </span>
                <span class="multi">
                    <input id="wantMeetAnybody" type="radio" name="wantMeet" value="2" checked><label for="wantMeetAnybody">@Model.W("AnyGender")</label>
                </span>
                <span class="multi">
                    <input id="multiPeopleAllowed" type="checkbox" />
                    <label for="multiPeopleAllowed">@Model.W("MultiPeopleAllowed")</label>
                </span>
            </div>

            <div class="cell">
                <div class="title">@Model.W("AgeRange")</div>

                <div id="fromAge" class="dropdown">
                    <span class="selected">18</span>
                    <ul>
                        <li data-value="18">18</li>
                        <li data-value="20">20</li>
                        <li data-value="25">25</li>
                        <li data-value="30">30</li>
                        <li data-value="35">35</li>
                        <li data-value="40">40</li>
                        <li data-value="50">50</li>
                        <li data-value="60">60</li>
                    </ul>
                    <input type="hidden" value="18">
                </div>

                <div id="toAge" class="dropdown">
                    <span class="selected">35</span>
                    <ul>
                        <li data-value="18">20</li>
                        <li data-value="25">25</li>
                        <li data-value="30">30</li>
                        <li data-value="35">35</li>
                        <li data-value="40">40</li>
                        <li data-value="50">50</li>
                        <li data-value="60">60</li>
                        <li data-value="100">100</li>
                    </ul>
                    <input type="hidden" value="35">
                </div>
            </div>
        </div>

        <div>
            <div class="title">@Model.W("CheckinMessage")</div>

            <textarea id="chckMsg" placeholder="Type a short message"></textarea>
        </div>
        
        <div class="confirm-cont">
            <a id="submitCheckin" class="lbtn2 confirm" href="#">{{sumbitText}}</a>
        </div>

    </div>
    
    
</script>


<script id="dlgNow-template" type="text/x-handlebars-template">
    
    <div class="double-tbl">
        <div class="cell">
            <div class="title">@Model.W("MeetingPlace")</div>

            <div id="placeCombo" class="dropdown">
                <input class="inputed" type="text" placeholder="@Model.W("PlaceNamePlaceholder")">
                <img class="loader" src="/images/loader-gray.gif" style="display: none" />
                <ul></ul>
            </div>
        </div>
        <div class="cell">
            <div class="title">@Model.W("WaitingTime")</div>

            <div id="minsWaiting" class="dropdown">
                <span class="selected">1h</span>
                <ul>
                    <li data-value="30">0.5h</li>
                    <li data-value="60">1h</li>
                    <li data-value="90">1.5h</li>
                    <li data-value="120">2h</li>
                    <li data-value="150">2.5h</li>
                    <li data-value="180">3h</li>                    
                    <li data-value="240">4h</li>
                </ul>
                <input type="hidden" value="60">
            </div>
        </div>
    </div>

</script>

<script id="dlgCity-template" type="text/x-handlebars-template">
    <div class="title">@Model.W("MeetingCity")</div>

    
        <div id="placeCombo" class="dropdown">
            <input class="inputed" type="text" placeholder="@Model.W("CityNamePlaceholder")">
            <img class="loader" src="/images/loader-gray.gif" style="display: none" />
            <ul></ul>
        </div>

        <br />
        <br />

        <div class="title">@Model.W("VisitingDates")</div>
    
        <div id="fromDateCont"></div>
        -
        <div id="toDateCont"></div>
        

</script>

<script id="meetingPointItem-template" type="text/x-handlebars-template">
    
    <div class="meeting-point">
        <div class="photo-cont">
            <img class="photo" src="{{photoUrl}}" />
        </div>
        <div class="cont">
            <a href="{{link}}">{{name}}</a>
            <br />
            {{#each categories}}
                <span class="type">{{this}}</span>{{#unless @Html.Raw("@")last}}, {{/unless}}
            {{/each}}
 
            <div class="people-met">{{peopleMet}} @Model.W("PeopleMetCount")</div>
        </div>
        <div class="btn-cont">
            {{#if distance}}
            <img class="pin svg-img" src="/images/n/logo-pin.svg">
            @*<span class="icon-location"></span>*@
            <span class="distance-n">{{distance}}</span> km
            
            {{/if}}
            
        </div>
    </div>

</script>

<script id="checkinNowItem-template" type="text/x-handlebars-template">
    
    <div class="person" data-uid="{{uid}}">
        <div class="data">

            <div class="photo-cont">

                <div class="photo-all">
                    <img class="photo" src="/PortalUser/ProfilePicture_s/{{uid}}" />                    
                </div>

            </div>
            <div class="cont">
                <div class="first">
                    <a class="name" target="_blank" href="/@RoutingConsts.UserDetailMenuName/{{uid}}">{{name}}</a> - <span class="years">{{age}}</span> @Model.W("Years")
                    
                    <img class="c-flag" src="/images/n/flags/{{homeCountry}}.svg" title="born" />

                    {{#if livesOtherCountry}}
                    <img class="c-flag" src="/images/n/flags/{{livesCountry}}.svg" title="lives" />
                    {{/if}}

                    {{#each languages}}
                    <span class="lang-tag" title="speaks {{this}}">{{this}}</span>
                    {{/each}}                     
                </div>
                <div class="second">
                    <a class="place" target="_blank" href="{{waitingLink}}">{{waitingAtText}}</a>
                </div>
                <div class="third">
                    
                    {{#each wantDos}}
                    <span class="itag-big">{{this}}</span>
                    {{/each}}

                    @Html.Partial("WantMeet")
                    <span class="years">({{fromAge}} - {{toAge}} @Model.W("Years"))</span>

                </div>




            </div>
            <div class="btn-cont">
                <a class="lbtn2 chat-btn" href="#">@Model.W("AskForChatBtn")</a>
            </div>

        </div>
        <div class="message">            
            {{message}}            
        </div>
    </div>

</script>




<script id="checkinCityItem-template" type="text/x-handlebars-template">
    
    <div class="person" data-uid="{{uid}}">
        <div class="data">

            <div class="photo-cont">

                <div class="photo-all">
                    <img class="photo" src="/PortalUser/ProfilePicture_s/{{uid}}" />                    
                </div>

            </div>
            <div class="cont">
                <div class="first">
                    <a href="/@RoutingConsts.UserDetailMenuName/{{uid}}">{{name}}</a> - <span class="years">{{age}}</span> @Model.W("Years")
                    
                    <img class="c-flag" src="/images/n/flags/{{homeCountry}}.svg" title="born" />

                    {{#if livesOtherCountry}}
                    <img class="c-flag" src="/images/n/flags/{{livesCountry}}.svg" title="lives" />
                    {{/if}}

                    {{#each languages}}
                    <span class="lang-tag" title="speaks {{this}}">{{this}}</span>
                    {{/each}}
                </div>
                <div class="second">
                    <strong>{{waitingAtText}}, </strong>
                    <span>{{fromDate}} - {{toDate}}</span>
                    
                    @Html.Partial("WantMeet")
                    <span class="years">({{fromAge}} - {{toAge}} @Model.W("Years"))</span>
                    
                    {{#each wantDos}}
                    <span class="itag">{{this}}</span>
                    {{/each}}
                </div>



            </div>
            <div class="btn-cont">                
                <a class="lbtn2 chat-btn" href="#" data-uid="{{uid}}">@Model.W("Message")</a>
            </div>
            
        </div>
        <div class="message-all">
            <div class="pointer"></div>
            <div class="message">
                {{message}}
            </div>
        </div>
    </div>
    
</script>

<script id="filterNow-template" type="text/x-handlebars-template">
    
    <div class="tit">@Model.W("InterestedActivitesFitler")</div>
    <div id="filterCont"></div>
    
    <div class="tit">@Model.W("LanguagesFilter")</div>
    <div id="langsFilter" class="langs-filter"></div>

</script>

<script id="filterCity-template" type="text/x-handlebars-template">
        
    <div class="title">@Model.W("InterestedActivitesFitler")</div>
    <div id="filterCont"></div>
    
    <div class="title">@Model.W("LanguagesFilter")</div>
    <div id="langsFilter" class="langs-filter"></div>    

</script>



<script id="hereAndNowTabCont-template" type="text/x-handlebars-template">

    <div id="hereTabs" class="myTabs">

    </div>

    <div id="listCont">

    </div>

</script>

<script id="userPopupNow-template" type="text/x-handlebars-template">

    <div class="user-popup" data-cid="{{cid}}" data-uid="{{uid}}">
        
        <div class="top">
            <div class="left">
                <div class="photo">
                    <img src="/PortalUser/ProfilePicture_s/{{uid}}">
                </div>
            </div>
            <div class="right">
                <a href="/@RoutingConsts.UserDetailMenuName/{{uid}}" target="_blank">{{name}}</a>, {{age}} @Model.W("Years")
                <div class="line">
                    {{interests}}
                </div>                    
                <div class="line">
                     
                    <img class="c-flag" src="/images/n/flags/{{homeCountry}}.svg" title="@Model.W("BornCountry")" />

                    {{#if livesOtherCountry}}
                    <img class="c-flag" src="/images/n/flags/{{livesCountry}}.svg" title="@Model.W("LivesCountry")" />
                    {{/if}}

                    {{#each languages}}                    
                    <span class="lang-tag" title="@Model.W("Speaks") {{this}}">{{this}}</span>
                    {{/each}}
                </div>    
                
                   
            </div>
        </div>
        <div class="checkin">
            <div class="line">  
                <a target="_blank" href="{{waitingLink}}">{{waitingAtText}}</a>
                           
                @Html.Partial("WantMeet")
                <span class="years">({{fromAge}} - {{toAge}} @Model.W("Years"))</span>   
                
                {{#each wantDos}}
                <span class="itag">{{this}}</span>
                {{/each}}
            </div>

            <div class="line">
                <span class="title">@Model.W("StillWaiting")</span>: {{waitingStr}}
            </div>
            
        </div>

        <div class="msg">
            {{message}}
        </div>        
        
        {{#unless isYou}}
        <div class="bottom-cont">
            <a class="chat-btn chat-btn-popup" href="#">
                <span class="icon-bubbles2"></span>
                <span class="txt">@Model.W("AskForChatBtn")</span>
            </a>
        </div>
        {{/unless}}
    </div>

</script>



<script id="mpPopup-template" type="text/x-handlebars-template">
    
    <div class="mp-popup">
        
        <div class="photo-frame">
            <img src="{{photoUrl}}" />
        </div>
        <div class="txt">
            <div class="name">
                <a href="{{link}}">{{name}}</a>
            </div>
            <div class="cats">
                {{#each categories}}
                <span>{{this}}</span>{{#unless @Html.Raw("@")last}}, {{/unless}}
                {{/each}}
            </div>

            <div class="people-met">{{peopleMet}} @Model.W("PeopleMetCount")</div>
        </div>
    </div>
    
</script>

<script id="userPopupCity-template" type="text/x-handlebars-template">
    
    <div class="user-popup">

        <div class="top">
            <div class="left">
                <div class="photo">
                    <img src="/PortalUser/ProfilePicture_s/{{uid}}">
                </div>
            </div>
            <div class="right">
                <a href="/@RoutingConsts.UserDetailMenuName/{{uid}}" target="_blank">{{name}}</a>, {{age}} @Model.W("Years")
                <div class="line">
                    {{interests}}
                </div>
                <div class="line">
                    
                    <img class="c-flag" src="/images/n/flags/{{homeCountry}}.svg" title="@Model.W("BornCountry")" />

                    {{#if livesOtherCountry}}
                    <img class="c-flag" src="/images/n/flags/{{livesCountry}}.svg" title="@Model.W("LivesCountry")" />
                    {{/if}}

                    {{#each languages}}
                    <span class="lang-tag" title="@Model.W("Speaks") {{this}}">{{this}}</span>
                    {{/each}}
                </div>   
            </div>
        </div>
        <div class="checkin">
            <div class="line">
                @Html.Partial("WantMeet")
                <span class="years">({{fromAge}} - {{toAge}} @Model.W("Years"))</span>
               
                {{#each wantDos}}
                <span class="itag">{{this}}</span>
                {{/each}}
            </div>

            <div class="line">
                <span class="title">@Model.W("StayingDates")</span>: {{fromDate}} - {{toDate}}                
            </div>

        </div>

        <div class="msg">
            {{message}}
        </div>
        
        <div class="bottom-cont">
            <a class="chat-btn" href="#" data-uid="{{uid}}">                
                <span class="txt">@Model.W("Message")</span>
            </a>
        </div>
    </div>

</script>





<script id="notif-base-template" type="text/x-handlebars-template">

    <div id="notif_{{id}}" data-id="{{id}}" class="notif">
        <div class="notif-body">
            <div class="ico"><span class="icon-bell"></span></div>
            <div class="cont"></div>
            <div class="acts"></div>
        </div>
    </div>

</script>

<script id="chat-request-body-template" type="text/x-handlebars-template">

    <div class="chat-request">
        <a data-uid="{{uid}}" href="/user/{{uid}}">{{name}}</a><br />@Model.W("ChatRequestMsg")
    </div>

</script>

<script id="stopWin-template" type="text/x-handlebars-template">
    
    <div class="chat-stop-win">
        
        <div class="main-info">@Model.W("StopChatInfo")</div>
        
        <div class="ln"> 
            <label for="cbBlockPerson"><span class="icon-eye-blocked"></span> @Model.W("StopChatBlock")</label>
            <input id="cbBlockPerson" type="checkbox" />
        </div>
        
        <div class="ln">
            <label for="cbReportPerson"><span class="icon-stop2"></span> @Model.W("StopChatReport")</label>
            <input id="cbReportPerson" type="checkbox" />
        </div>

        <a href="#" class="lbtn exec">@Model.W("StopChatBtn")</a>
        <a href="#" class="lbtn cancel">@Model.W("CancelChatBtn")</a>

    </div>

</script>



@*chat templates*@

<script id="chat-action-template" type="text/x-handlebars-template">
    <div class="row">
        <a href="#" data-act="{{action}}">{{name}}</a>
    </div>
</script>

    <script id="chat-person-title-template" type="text/x-handlebars-template">

        <div class="person" data-rid="{{rid}}">

            <div class="wrap">
                <div class="photo-cont">
                    <div class="thumb-cont border">
                        <img src="/PortalUser/ProfilePicture_s/{{uid}}" />
                    </div>
                </div>
                <div class="name-cont">

                    <span class="name" style="display: none">{{name}}</span>
                    <a href="#" class="name-active" style="display: none">{{name}}</a>

                </div>
                <div class="icon-cont">
                    <a href="#" title="@Model.W("UserActions")" class="icon-auction actions"></a>
                    <div class="actions-cont" style="display: none">
                        
                    </div>
                </div>
                <div class="icon-cont">
                    <a href="#" title="@Model.W("StopChatCross")" class="icon-cross stop"></a>
                </div>
            </div>

            <div class="msg-storage" style="display: none;"></div>
        </div>

    </script>

    <script id="chat-msg-l-template" type="text/x-handlebars-template">

        <div class="message" data-uid="{{userId}}">
            <div class="data l">
                <span class="name">{{name}}</span>
                <span class="time">{{time}}</span>
            </div>
            <div class="tbl">
                <div class="photo">
                    <div class="thumb-cont xs border">
                        <img src="/PortalUser/ProfilePicture_xs/{{userId}}" />
                    </div>
                </div>
                <div class="txt padding-r">
                    <span class="msg">{{text}}</span>
                </div>
            </div>
        </div>

    </script>

    <script id="chat-msg-r-template" type="text/x-handlebars-template">

        <div class="message" data-uid="{{userId}}">
            <div class="data r">
                <span class="name">{{name}}</span>
                <span class="time">{{time}}</span>
            </div>
            <div class="tbl">
                <div class="txt r padding-l">
                    <span class="msg">{{text}}</span>
                </div>
                <div class="photo">
                    <div class="thumb-cont xs border">
                        <img src="/PortalUser/ProfilePicture_xs/{{userId}}" />
                    </div>
                </div>
            </div>
        </div>

    </script>

    <script id="chat-layout-template" type="text/x-handlebars-template">

        <div class="nchat-all">
            <div class="service">
                <span class="chat-with">@Model.W("ChatWith") <span class="name">{{initChatName}}</span></span>
                <a id="minimize" class="min icon-minus" title="minimize" href="#"></a>
            </div>

            <div class="people"></div>

            <div class="messages"></div>

            <div class="new-message">
                <input id="msgBox" placeholder="@Model.W("WriteMsgPlaceholder")" type="text" />
            </div>

        </div>

    </script>

