

            {{#if wmMan}}
            <span class="g-icon icon-male" title="@Model.W("WantMeetMan")"></span>
            {{/if}}

            {{#if wmWoman}}
            <span class="g-icon icon-female" title="@Model.W("WantMeetWoman")"></span>
            {{/if}}

            {{#if wmWomanGroup}}
            <span class="g-icon g-icon-group" title="@Model.W("WantMeetGroupWomen")"><span class="g-icon icon-female"></span><span class="g-icon icon-female"></span></span>
            {{/if}}

            {{#if wmManGroup}}
            <span class="g-icon g-icon-group" title="@Model.W("WantMeetGroupMan")"><span class="g-icon icon-male"></span><span class="g-icon icon-male"></span></span>
            {{/if}}

            {{#if wmMixGroup}}
            <span class="g-icon g-icon-group" title="@Model.W("WantMeetGroupMixed")"><span class="g-icon icon-female"></span><span class="g-icon icon-male"></span></span>
            {{/if}}           
