@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Enums
@using Newtonsoft.Json

@using Gloobster.Portal.ViewModels
@model PinBoardViewModel

@{
    ViewBag.MenuGroup = "Pins";
    ViewData["Title"] = "New pins";
    Layout = "_LayoutNew";
}

<link href="/lib/mapbox.js/mapbox.css" rel="stylesheet" />
<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet" />

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/pins.js" type="text/javascript" data-notbuild="true"></script>
}
else
{

    <link href="~/css/main.css" rel="stylesheet" />

    <script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
    <script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>

    <script type="text/javascript" src="/lib/leaflet-heat.js"></script>

    <script type="text/javascript" src="/js/Maps/MapsInterfaces.js"></script>

    <script type="text/javascript" src="/js/common/ShareButtons.js"></script>

    <script type="text/javascript" src="/js/Common/CountryShapes.js"></script>
    <script type="text/javascript" src="/js/Common/UsStates.js"></script>
    <script type="text/javascript" src="/js/Common/CountryCodes.js"></script>
    <script type="text/javascript" src="/js/Common/FacebookPermissions.js"></script>

    <script type="text/javascript" src="/js/Maps/BaseMapsOperation3D.js"></script>
    <script type="text/javascript" src="/js/Maps/BaseMapsOperation2D.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsOperations.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsCreatorGlobe3D.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsCreatorMapBox2D.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsManager.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsDataLoader.js"></script>

    <script type="text/javascript" src="/js/Views/PinBoardView.js"></script>
    <script type="text/javascript" src="/js/Views/ShareDialogPinsView.js"></script>
    <script type="text/javascript" src="/js/Views/PeopleFilter.js"></script>
    <script type="text/javascript" src="/js/Views/AggregatedCountries.js"></script>
    <script type="text/javascript" src="/js/Views/PinBoardBadges.js"></script>
}

@Html.Partial("PinBoardTemplates")

@{
    var topCitiesStr = $"[{string.Join(",", Model.TopCities)}]";
    var countryCodesStr = $"['{string.Join("','", Model.CountryCodes)}']";
    var stateCodesStr = $"['{string.Join("','", Model.StateCodes)}']";
}

<h1>Your travel map</h1>

<p>
    Pis dunt que ium aspere pelissint undaecto bla voluptas eliquam, sunt event. odicti veribernam
    quoditi rem volupta voluptatiora sim endunt, conseditas por autemod eos aut lam estis
    entibea tusdae occatur moditatin porro maxime sequam dolessimus mo ende vendita tiatia
    sam as aspelen diorem. Nam excernatur. Pis dunt que ium aspere pelissint undaecto bla voluptas eliquam, sunt event. odicti veribernam
    quoditi rem volupta voluptatiora sim endunt, conseditas por autemod eos aut lam estis
    entibea tusdae occatur moditatin porro maxime sequam dolessimus mo ende vendita tiatia
    sam as aspelen diorem. Nam excernatur
</p>

<div class="icons_all wrapper">
    <div class="block">
        <div class="ico_all pr">
            <div class="ico">
                <a href="#"><span class="icon-city"></span></a>
            </div>
            <div class="txt">
                CITIES
            </div>
        </div>
        <div class="ico_all pr">
            <div class="ico">
                <a class="active" href="#"><span class="icon-country"></span></a>
            </div>
            <div class="txt">
                COUNTRIES
            </div>
        </div>
        <div class="ico_all">
            <div class="ico">
                <a href="#"><span class="icon-places"></span></a>
            </div>
            <div class="txt">
                PLACES
            </div>
        </div>
    </div>

    <div class="block">
        <div class="ico_all pr">
            <div class="ico">
                <a href="#"><span class="icon-my-data"></span></a>
            </div>
            <div class="txt">
                MY DATA
            </div>
        </div>
        <div class="ico_all pr">
            <div class="ico">
                <a href="#"><span class="icon-friends-data"></span></a>
            </div>
            <div class="txt">
                FRIENDS
            </div>
        </div>
        <div class="ico_all">
            <div class="ico">
                <a href="#"><span class="icon-everybody-data"></span></a>
            </div>
            <div class="txt">
                EVERYBODY
            </div>
        </div>
    </div>
</div>

@Html.Partial("ShareDialog")

<div id="map">
    
    <div class="place-search">
        <input id="citiesInput" class="inputed" type="text" placeholder="@Model.W("PlaceName")">
        <img class="loader" src="/images/loader-gray.gif" style="display: none" />
        <div class="results" style="display: none;">

            <div class="base-cont">
                <ul class="ul-city"></ul>
                <ul class="ul-country"></ul>
            </div>

            <a class="search-soc" href="#">@Model.W("SearchOnSoc")</a>
            <div class="soc-nets"></div>

        </div>
    </div>


    <div id="mapType" class="map-type dropdown">
        <span class="selected">2D map</span>
        <ul>
            <li data-value="1">2D map</li>
            <li data-value="0">3D map</li>
        </ul>
        <input id="mapTypeValue" type="hidden" value="1">
    </div>
    
    <div class="share">
        <span id="share-btn" class="icon-share"></span>
    </div>
</div>

<div class="wrapper stats">
    <table>
        <tr>
            <td>
                <div>
                    <strong id="CitiesCount" class="countto" data-from="0" data-to="132">133</strong>
                    <br/>
                    Cities
                </div>
            </td>
            <td>
                <div class="bor">
                    <strong id="CountriesCount" class="countto" data-from="0" data-to="36">36</strong>
                    <br/>
                    Countries
                </div>
            </td>
            <td>
                <div class="bor">
                    <strong>
                        <span id="TraveledPercent" class="countto" data-from="0" data-to="18">18</span>%
                    </strong>
                    <br />
                    of the World
                </div>
            </td>
            <td>
                <div class="bor">
                    <strong id="StatesCount" class="countto" data-from="0" data-to="10">10</strong>
                    <br />
                    US States
                </div>
            </td>
        </tr>
    </table>

</div>


@*citiesCont*@
<div class="badges">
    <div class="badge_all">
        <div class="icon">
            <img src="../images/badges/africa.png"/>
        </div>
        <div class="txt">
            3/54 <strong>Africa</strong>
        </div>
    </div>
    <div class="badge_all">
        <div class="icon">
            <img src="../images/badges/europe.png"/>
        </div>
        <div class="txt">
            3/54 <strong>Africa</strong>
        </div>
    </div>
    <div class="badge_all">
        <div class="icon">
            <img src="../images/badges/australia.png"/>
        </div>
        <div class="txt">
            3/54 <strong>Africa</strong>
        </div>
    </div>
    <div class="badge_all">
        <div class="icon">
            <img src="../images/badges/north-amecica.png"/>
        </div>
        <div class="txt">
            3/54 <strong>Africa</strong>
        </div>
    </div>
    <div class="badge_all">
        <div class="icon">
            <img src="../images/badges/south-america.png"/>
        </div>
        <div class="txt">
            3/54 <strong>Africa</strong>
        </div>
    </div>
    <div class="badge_all">
        <div class="icon">
            <img src="../images/badges/states-eu.png"/>
        </div>
        <div class="txt">
            3/54 <strong>Africa</strong>
        </div>
    </div>
    <div class="badge_all">
        <div class="icon">
            <img src="../images/badges/states-us.png"/>
        </div>
        <div class="txt">
            3/54 <strong>Africa</strong>
        </div>
    </div>
</div>

<div class="cities_all">
<div class="continent">
    <h2 class="title">North America</h2>
    <div class="cities">
        <table>
            <tr>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

  
<div class="continent">
        <h2 class="title">North America</h2>
        <div class="cities">
            <table>
                <tr>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png"/>
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png"/>
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png"/>
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png"/>
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png"/>
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png"/>
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png"/>
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png"/>
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png"/>
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="continent">
        <h2 class="title">North America</h2>
        <div class="cities">
            <table>
                <tr>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<div class="continent">
    <h2 class="title">North America</h2>
    <div class="cities">
        <table>
            <tr>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="continent">
    <h2 class="title">North America</h2>
    <div class="cities">
        <table>
            <tr>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
                <td>
                    <div class="badge_all">
                        <div class="icon">
                            <img src="../images/badges/new-york.png"/>
                        </div>
                        <div class="txt">
                            New York
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

    <div class="continent">
        <h2 class="title">North America</h2>
        <div class="cities">
            <table>
                <tr>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge_all">
                            <div class="icon">
                                <img src="../images/badges/new-york.png" />
                            </div>
                            <div class="txt">
                                New York
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



<script>

    function onBodyLoad() {
        currentView = new Views.PinBoardView();

        currentView.initialize();

        currentView.pinBoardBadges.cities = @Html.Raw(topCitiesStr);
        currentView.pinBoardBadges.countries = @Html.Raw(countryCodesStr);
        currentView.pinBoardBadges.states = @Html.Raw(stateCodesStr);

        var gidToTitle = @Html.Raw(JsonConvert.SerializeObject(Model.GidToTitle));
        currentView.pinBoardBadges.gidToTitle = gidToTitle;

        var friends = @Html.Raw(JsonConvert.SerializeObject(Model.Friends));
        var f = _.map(friends, function(i) { return {id: i.Id, displayName: i.DisplayName};});
        currentView.peopleFilter.initFriends(f);

        //Model.ShowFacebookPermissionsDialog &&
        @if (Model.HasSocNet(SocialNetworkType.Facebook))
        {
            @Html.Raw("currentView.initFb();")
        }

        currentView.setShareText(@Model.Cities, @Model.Countries);
    }

</script>