@{
		ViewBag.MenuGroup = "PinBoard";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.PinBoardViewModel

@*<script src='../../../api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
		<link href='../../../api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />*@

@*<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>*@
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet'/>

<script src="http://www.webglearth.com/v2/api.js"></script>

@*<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />*@
@*<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>*@

@*<link rel="stylesheet" href="@Url.Content("~/lib/leaflet/dist/leaflet.css")" />
<script type="text/javascript" src="@Url.Content("~/lib/leaflet/dist/leaflet-src.js")"></script>*@


<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsInterfaces.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/common/ShareButtons.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Common/CountryShapes.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CountryCodes.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Maps/BaseMapsOperation3D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/BaseMapsOperation2D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsOperations.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorGlobe3D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorMapBox2D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsDataLoader.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Views/PinBoardView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/ShareDialogPinsView.js")"></script>

<script>
	function onBodyLoad() {
		
		currentView = new Views.PinBoardView();
		currentView.initialize();

	}
</script>

<div class="blue-line margin2"></div>

<!-- MapBox -->
<section class="wrapper margin3">
	<div class="table row col2 margin">
		<div class="cell">
			<div class="table row">
				<div class="cell middle">
					<h2>Pin Board</h2>
				</div>
				<div class="cell middle">
					<div id="mapType" class="dropdown">
						<span class="selected">2D map</span>
						<ul>
							<li data-value="1">2D map</li>
							<li data-value="0">3D map</li>
						</ul>
						<input id="mapTypeValue" type="hidden">
					</div>
				</div>
			</div>
		</div>
		<div class="cell middle tright">
			<a class="noneline strong" href="#">Invite Friends</a>
			&nbsp;
			<span class="color2">&bull;</span>
			&nbsp;
				@*<a class="button share popup-target" data-target="#popup-share" href="#">Share trip</a>*@
			<a id="shareMap" class="noneline strong popup-target" data-target="#popup-share" href="#">Share map</a>
		</div>
	</div>

	<form class="blue-form" action="#" method="post">
		<div id="cities" class="dropdown left">
			<input id="citiesInput" class="inputed" type="text" placeholder="Place name">
				<ul>
				</ul>
		</div>
		
		<div id="pluginType" class="dropdown right">
			<span class="selected">My places</span>
			<ul>
				<li data-value="0">My places</li>
				<li data-value="1">My friends</li>				
			</ul>
			<input type="hidden" value="0">
		</div>
		<div id="projectionType" class="dropdown right">
			<span class="selected">Cities</span>
			<ul>
				<li data-value="0">Cities</li>
				<li data-value="1">Countries</li>
				<li data-value="2">Heat map</li>								
			</ul>
			<input type="hidden" value="0">
		</div>
	</form>

	<div class="map margin" id="map">
			<div class="legend">
					<a class="icon-tosee textnohide" href="#">To See</a>
					<a class="icon-visited textnohide" href="#">Visited</a>
					<a class="icon-favorite textnohide" href="#">Favorite</a>
			</div>
	</div>

	<div class="squares table row margin2">
		<div class="cell">
			<div class="square"><strong id="CitiesCount" class="countto" data-from="0" data-to="@Model.Cities">0</strong> Cities
			</div>
		</div>
		<div class="cell">
			<div class="square"><strong id="CountriesCount" class="countto" data-from="0" data-to="@Model.Countries">0</strong> Countries
			</div>
		</div>
		<div class="cell">
			<div class="square">
				<strong>
					<span id="TraveledPercent" class="countto" data-from="0" data-to="@Model.WorldTraveled">0</span>
					%
				</strong> of the World
			</div>
		</div>
		<div class="cell">
			<div class="square"><strong id="BadgesCount" class="countto" data-from="0" data-to="@Model.Badges">0</strong> Badges
			</div>
		</div>
		<div class="cell">
			<div class="square"><strong id="FriendsCount" class="countto" data-from="0" data-to="0">0</strong> Friends
			</div>
		</div>
		<div class="cell">
			<div class="square"><strong id="DistanceLength" class="countto" data-from="0" data-to="@Model.TotalDistanceTraveled">0</strong> Miles total
			</div>
		</div>
	</div>

	@*<div class="table row col2 margin">
		<div class="cell baseline">
				<h3>Collected badges</h3>
		</div>
		<div class="cell baseline tright">
				<a class="" href="#">Show all badges</a>
		</div>
</div>
<div class="badges grid margin2">
		<div class="cell"><a class="badge active" href="#"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Asia<span class="icon-visited"></span></a></div>
		<div class="cell"><a class="badge active" href="#"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Australia<span class="icon-visited"></span></a></div>
		<div class="cell"><a class="badge active" href="#"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Africa<span class="icon-favorite"></span></a></div>
		<div class="cell"><a class="badge" href="#"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Europe<span class="icon-visited"></span></a></div>
		<div class="cell"><a class="badge" href="#"><span class="thumbnail"><img src="images/samples/sample11.png"></span>New York<span class="icon-favorite"></span></a></div>
		<div class="cell"><a class="badge" href="#"><span class="thumbnail"><img src="images/samples/sample11.png"></span>South America<span class="icon-visited"></span></a></div>
		<div class="cell"><a class="badge" href="#"><span class="thumbnail"><img src="images/samples/sample11.png"></span>North America<span class="icon-visited"></span></a></div>
		<div class="cell"><a class="badge" href="#"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Antarctica<span class="icon-visited"></span></a></div>
		<div class="cell"><a class="badge" href="#"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Beijing</a></div>
		<div class="cell"><span class="badge"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Mexico City</span></span></div>
		<div class="cell"><span class="badge"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Prague</span></span></div>
		<div class="cell"><span class="badge"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Paris</span></span></div>
		<div class="cell"><span class="badge"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Berlin</span></span></div>
		<div class="cell"><span class="badge"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Prague</span></span></div>
		<div class="cell"><span class="badge"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Moscow</span></span></div>
		<div class="cell"><span class="badge"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Lisbon</span></span></div>
		<div class="cell"><span class="badge"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Madrid</span></span></div>
		<div class="cell"><span class="badge"><span class="thumbnail"><img src="images/samples/sample11.png"></span>Barcelona</span></span></div>
</div>*@
</section>


@Html.Partial("ShareDialogPins")