@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Enums
@using Newtonsoft.Json

@using Gloobster.Portal.ViewModels
@model PinBoardViewModel

@{
    ViewBag.MenuGroup = "Pins";
    ViewData["Title"] = "Travel map";
    Layout = "_LayoutNew";
    ViewBag.BodyClass = "pins";
}

@Html.Partial("GAnalytics")

<link href="/lib/mapbox.js/mapbox.css" rel="stylesheet" />
<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet" />

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/pins.js" type="text/javascript" data-notbuild="true"></script>
}
else
{   
     
    <script type="text/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
    <script type="text/javascript" src="/lib/mapbox.js/mapbox.js"></script>

    <script type="text/javascript" src="/lib/leaflet-heat.js"></script>

    <script type="text/javascript" src="/js/Maps/MapsInterfaces.js"></script>

    <script type="text/javascript" src="/js/common/ShareButtons.js"></script>
    <script type="text/javascript" src="/js/Common/CountriesGroup.js"></script>

    <script type="text/javascript" src="/js/Common/CountryShapes.js"></script>
    <script type="text/javascript" src="/js/Common/UsStates.js"></script>
    <script type="text/javascript" src="/js/Common/CountryCodes.js"></script>
    <script type="text/javascript" src="/js/Common/FacebookPermissions.js"></script>

    <script type="text/javascript" src="/js/Maps/BaseMapsOperation3D.js"></script>
    <script type="text/javascript" src="/js/Maps/BaseMapsOperation2D.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsOperations.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsCreatorGlobe3D.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsCreatorMapBox2D.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsManager.js"></script>
    <script type="text/javascript" src="/js/Maps/MapsDataLoader.js"></script>

    <script type="text/javascript" src="/js/Views/PinBoardView.js"></script>
    <script type="text/javascript" src="/js/pins/Switcher.js"></script>
    <script type="text/javascript" src="/js/pins/ShareDialogPinsView.js"></script>
    <script type="text/javascript" src="/js/pins/PeopleFilter.js"></script>
    <script type="text/javascript" src="/js/pins/AggregatedCountries.js"></script>
    <script type="text/javascript" src="/js/pins/PinBoardBadges.js"></script>
}

@{
    var topCitiesStr = $"[{string.Join(",", Model.TopCities)}]";
    var countryCodesStr = $"['{string.Join("','", Model.CountryCodes)}']";
    var stateCodesStr = $"['{string.Join("','", Model.StateCodes)}']";
}

@{        
    var infoBlock = Model.InfoBlock("info-travelmap");
}

<div class="info-block-bck @infoBlock.Class" id="info-travelmap">

    <div class="wrapper">

        @Html.Partial("TitleBlock", infoBlock)

        <div class="info-block info-block2" style="@infoBlock.Css">

            <div class="info-inner-table">

                <div class="block">
                    <img class="svg-img" src="/images/n/fly-pin.svg">
                    <p class="txt">
                        @Model.W("InfoBlock1")
                    </p>
                </div>

                <div class="block">
                    <img class="svg-img" src="/images/n/guy.svg">
                    <p class="txt">
                        @Model.W("InfoBlock2")
                    </p>
                </div>

            </div>

        </div>

    </div>
</div>


<div class="head-icons-all wrapper">
    <div class="block data-type">
        <div class="ico_all pr">
            <div class="ico">
                <a data-gv="0" href="#"><span class="icon-city"></span></a>
            </div>
            <div class="txt">
                @Model.W("Cities")
            </div>
        </div>
        <div class="ico_all pr">
            <div class="ico">
                <a data-gv="1" href="#"><span class="icon-country"></span></a>
            </div>
            <div class="txt">
                @Model.W("Countries")
            </div>
        </div>
        <div class="ico_all">
            <div class="ico">
                <a data-gv="2" href="#"><span class="icon-places"></span></a>
            </div>
            <div class="txt">
                @Model.W("Places")
            </div>
        </div>
    </div>

    <div class="block data-set">
        <div class="ico_all pr">
            <div class="ico">
                <a data-gv="0" href="#"><span class="icon-my-data"></span></a>
            </div>
            <div class="txt">
                @Model.W("MyData")
            </div>
        </div>
        <div class="ico_all pr">
            <div class="ico">
                <a data-gv="1" href="#"><span class="icon-friends-data"></span></a>
            </div>
            <div class="txt">
                <div class="cmb_all">
                    <a id="friendsCmb" class="cmb" href="#">@Model.W("Friends") <span class="icon-dropdown-arrow"></span></a>
                    <div class="list" style="display: none">
                        <div class="clear" style="display: none">
                            <a href="#">@Model.W("FilterReset")</a>
                        </div>
                        <div class="cont">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ico_all">
            <div class="ico">
                <a data-gv="2" href="#"><span class="icon-everybody-data"></span></a>
            </div>
            <div class="txt">
                @Model.W("Everybody")
            </div>
        </div>
    </div>
</div>

@Html.Partial("ShareDialog")
@Html.Partial("FbCheckinsDialog")

<div class="wrapper">
    <div id="map"></div>
</div>

<div class="wrapper stats">
    <table>
        <tr>
            <td>
                <div>
                    <strong id="CitiesCount" class="countto" data-from="0" data-to="@Model.Cities">0</strong>
                    <br/>
                    @Model.W("StatCities")
                </div>
            </td>
            <td>
                <div class="bor">
                    <strong id="CountriesCount" class="countto" data-from="0" data-to="@Model.Countries">0</strong>
                    <br/>
                    @Model.W("StatCountries")
                </div>
            </td>
            <td>
                <div class="bor">
                    <strong>
                        <span id="TraveledPercent" class="countto" data-from="0" data-to="@Model.WorldTraveled">0</span>%
                    </strong>
                    <br />
                    @Model.W("WorldTraveled")
                </div>
            </td>
            <td>
                <div class="bor">
                    <strong id="StatesCount" class="countto" data-from="0" data-to="@Model.UsStates">0</strong>
                    <br />
                    @Model.W("UsStates")
                </div>
            </td>
        </tr>
    </table>

</div>

<div id="overview" class="badges">
    
</div>

<div id="cities" class="cities_all wrapper">


</div>

@Html.Partial("PinBoardTemplates")

<script>

    function onBodyLoad() {
        currentView = new Views.PinBoardView();

        currentView.initialize();

        currentView.pinBoardBadges.cities = @Html.Raw(topCitiesStr);
        currentView.pinBoardBadges.countries = @Html.Raw(countryCodesStr);
        currentView.pinBoardBadges.states = @Html.Raw(stateCodesStr);

        var gidToTitle = @Html.Raw(JsonConvert.SerializeObject(Model.GidToTitle));
        currentView.pinBoardBadges.gidToTitle = gidToTitle;

        var friends = @Html.Raw(JsonConvert.SerializeObject(Model.Friends));
        var f = _.map(friends, function(i) { return {id: i.Id, displayName: i.DisplayName};});
        currentView.peopleFilter.initFriends(f);

        //Model.ShowFacebookPermissionsDialog &&
        @if (Model.HasSocNet(SocialNetworkType.Facebook))
        {
            @Html.Raw("currentView.initFb();")
        }

        currentView.setShareText(@Model.Cities, @Model.Countries);
    }

</script>
