@using System.Threading.Tasks
@using Gloobster.Enums
@using Gloobster.Portal.ViewModels
@using Newtonsoft.Json
@model PinBoardViewModel

@{
    ViewBag.MenuGroup = "PinBoard";
}

@*<script src='../../../api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
		<link href='../../../api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />*@

@*<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>*@
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet'/>

<script src="http://www.webglearth.com/v2/api.js"></script>

@*<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />*@
@*<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>*@

@*<link rel="stylesheet" href="@Url.Content("~/lib/leaflet/dist/leaflet.css")" />
<script type="text/javascript" src="@Url.Content("~/lib/leaflet/dist/leaflet-src.js")"></script>*@


<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsInterfaces.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/common/ShareButtons.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Common/CountryShapes.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/UsStates.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CountryCodes.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/FacebookPermissions.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Maps/BaseMapsOperation3D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/BaseMapsOperation2D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsOperations.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorGlobe3D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorMapBox2D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsDataLoader.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Views/PinBoardView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/ShareDialogPinsView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/PeopleFilter.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/AggregatedCountries.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/PinBoardBadges.js")"></script>

@Html.Partial("PinBoardTemplates")

@{
    var topCitiesStr = $"[{string.Join(",", Model.TopCities)}]";
    var countryCodesStr = $"['{string.Join("','", Model.CountryCodes)}']";
    var stateCodesStr = $"['{string.Join("','", Model.StateCodes)}']";
}

<script>
    function onBodyLoad() {

        currentView = new Views.PinBoardView();
        
        currentView.initialize();

        currentView.pinBoardBadges.cities = @Html.Raw(topCitiesStr);
        currentView.pinBoardBadges.countries = @Html.Raw(countryCodesStr);
        currentView.pinBoardBadges.states = @Html.Raw(stateCodesStr);

        var friends = @Html.Raw(JsonConvert.SerializeObject(Model.Friends));
        var f = _.map(friends, function(i) { return {id: i.Id, displayName: i.DisplayName};});
        currentView.peopleFilter.initFriends(f);

        @if (Model.ShowFacebookPermissionsDialog && Model.HasSocNet(SocialNetworkType.Facebook))
        {
            @Html.Raw("currentView.initFb();")
        }

        currentView.setShareText(@Model.Cities, @Model.Countries);
    }

    function deletePin(gid) {
        currentView.deletePin(gid);
    }

</script>

<div class="table row col2 margin">
        <div class="cell">
            <div class="table row">
                <div class="cell middle">
                    <h2>@Model.W("Title")</h2>
                </div>
                <div class="cell middle">
                    <div id="mapType" class="dropdown">
                        <span class="selected">@Model.W("Map2D")</span>
                        <ul>
                            <li data-value="1">@Model.W("Map2D")</li>
                            <li data-value="0">@Model.W("Map3D")</li>
                        </ul>
                        <input id="mapTypeValue" type="hidden" value="1">
                    </div>
                </div>
            </div>
        </div>
        <div class="cell middle tright">
            <a id="share-btn" class="icon-share textnohide noneline strong" href="#">@Model.W("ShareMap")</a>
        </div>
    </div>
    @Html.Partial("ShareDialog")

    @if (Model.ShowFacebookPermissionsDialog)
    {
        @Html.Partial("FbCheckinsDialog")    
    }

    <div class="form blue-form" action="#" method="post">
        <div id="cities" class="dropdown left">
            <input id="citiesInput" class="inputed" type="text" placeholder="@Model.W("PlaceName")">
            <img class="loader" src="/images/loader-gray.gif" style="display: none" />
            <ul>
            </ul>
        </div>

        @Html.Partial("PeopleFilterComponent")

        <div id="dataType" class="dropdown right">
            <span class="selected">@Model.W("Visited")</span>
            <ul>
                <li id="dt0" data-value="0">@Model.W("Visited")</li>
                @*<li id="dt1" data-value="1">@Model.W("Interested")</li>*@
            </ul>
            <input type="hidden" value="0">
        </div>
        <div id="projectionType" class="dropdown right">
            <span class="selected">@Model.W("Cities")</span>
            <ul>
                <li id="pt0" data-value="0">@Model.W("Cities")</li>
                <li id="pt1" data-value="1">@Model.W("Countries")</li>
                <li id="pt2" data-value="2">@Model.W("HeatMap")</li>
            </ul>
            <input type="hidden" value="0">
        </div>        
    </div>

<div class="map margin" id="map">
    @Html.Partial("CountriesLegend")
</div>

<div id="infoPanel" class="popup2 margin infoPanel" style="display: block;">
    <div style="display: none" class="infoMessage" id="messageCitiesVisited">@Model.W("MessageCitiesVisited")</div>
    <div style="display: none" class="infoMessage" id="messageCountriesVisited">@Model.W("MessageCountriesVisited")</div>
    <div style="display: none" class="infoMessage" id="messageCitiesInterested">@Model.W("MessageCitiesInterested")</div>
    <div style="display: none" class="infoMessage" id="messageCountriesInterested">@Model.W("MessageCountriesInterested")</div>
    <div style="display: none" class="infoMessage" id="messagePlaces">@Model.W("MessagePlaces")</div>
    
    <a class="close" href="#">@Model.W("Close", "layout")</a>
</div>

    <div class="squares table row margin2">
        <div class="cell">
            <div class="square"><strong id="CitiesCount" class="countto" data-from="0" data-to="@Model.Cities">0</strong> @Model.W("StatCities")
            </div>
        </div>
        <div class="cell">
            <div class="square"><strong id="CountriesCount" class="countto" data-from="0" data-to="@Model.Countries">0</strong> @Model.W("StatCountries")
            </div>
        </div>
        <div class="cell">
            <div class="square">
                <strong>
                    <span id="TraveledPercent" class="countto" data-from="0" data-to="@Model.WorldTraveled">0</span>
                    %
                </strong> @Model.W("WorldTraveled")
            </div>
        </div>
        @*<div class="cell">
        <div class="square">            
            <strong id="TopCitiesCount">0</strong> Top cities
        </div>
    </div>*@
        <div class="cell">
            <div class="square"><strong id="StatesCount" class="countto" data-from="0" data-to="@Model.UsStates">0</strong> @Model.W("UsStates")
            </div>
        </div>
    </div>

<div id="bdgs" class="badges2"></div>