@{
		ViewBag.MenuGroup = "PinBoard";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@using Newtonsoft.Json
@using Microsoft.AspNet.Mvc.ViewFeatures
@model Gloobster.Portal.ViewModels.PinBoardViewModel

@*<script src='../../../api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
		<link href='../../../api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />*@

@*<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>*@
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet'/>

<script src="http://www.webglearth.com/v2/api.js"></script>

@*<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />*@
@*<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>*@

@*<link rel="stylesheet" href="@Url.Content("~/lib/leaflet/dist/leaflet.css")" />
<script type="text/javascript" src="@Url.Content("~/lib/leaflet/dist/leaflet-src.js")"></script>*@


<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsInterfaces.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/common/ShareButtons.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Common/CountryShapes.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/UsStates.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CountryCodes.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/FacebookPermissions.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Maps/BaseMapsOperation3D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/BaseMapsOperation2D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsOperations.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorGlobe3D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorMapBox2D.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsDataLoader.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Views/PinBoardView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/ShareDialogPinsView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/PeopleFilter.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/AggregatedCountries.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/PinBoardBadges.js")"></script>

@Html.Partial("PinBoardTemplates")

<script>
	function onBodyLoad() {
		
		currentView = new Views.PinBoardView();
		currentView.initialize();

		var friends = @Html.Raw(JsonConvert.SerializeObject(Model.Friends));
		var f = _.map(friends, function(i) { return {id: i.Id, displayName: i.DisplayName};});
		currentView.peopleFilter.initFriends(f);
	}

	function getTaggedPlacesPermissions() {
	    currentView.getTaggedPlacesPermissions();
	}

	function deletePin(gid) {
	    currentView.deletePin(gid);
	}

</script>

<style>
    .infoPanel {
        height: 100px; 
        border: 1px solid black; 
        margin-bottom: 10px;
        padding: 4px;
    }
</style>

<div class="blue-line margin2"></div>

<!-- MapBox -->
<section class="wrapper margin3">
<div class="table row col2 margin">
    <div class="cell">
        <div class="table row">
            <div class="cell middle">
                <h2>Pin Board</h2>
            </div>
            <div class="cell middle">
                <div id="mapType" class="dropdown">
                    <span class="selected">2D map</span>
                    <ul>
                        <li data-value="1">2D map</li>
                        <li data-value="0">3D map</li>
                    </ul>
                    <input id="mapTypeValue" type="hidden" value="1">
                </div>
            </div>
        </div>
    </div>
    <div class="cell middle tright">
        @*<a class="noneline strong" href="#">Invite Friends</a>
			&nbsp;
			<span class="color2">&bull;</span>
			&nbsp;*@
        @*<a class="button share popup-target" data-target="#popup-share" href="#">Share trip</a>*@
        <a id="shareMap" class="noneline strong popup-target" data-target="#popup-share" href="#">Share map</a>
    </div>
</div>

<div id="taggedPlacesPerm" class="table row col2 margin" style="border-top: 1px solid black; border-bottom: 1px solid black; padding: 3px; display: none;">
    <div class="cell margin3">
        <div id="fb-root"></div>

        <button onclick="getTaggedPlacesPermissions()">Import checkins</button>
    </div>

    <div class="cell middle tright">
        <strong>Authorize us to import your facebook checked in places and pair your tagged places with your local account</strong>
    </div>
</div>

<form class="blue-form" action="#" method="post">
    <div id="cities" class="dropdown left">
        <input id="citiesInput" class="inputed" type="text" placeholder="Place name">
        <ul>
        </ul>
    </div>

    @Html.Partial("PeopleFilterComponent")

    <div id="dataType" class="dropdown right">
        <span class="selected">Visited</span>
        <ul>
            <li id="dt0" data-value="0">Visited</li>
            @*<li id="dt1" data-value="1">Interested</li>*@
        </ul>
        <input type="hidden" value="0">
    </div>
    <div id="projectionType" class="dropdown right">
        <span class="selected">Cities</span>
        <ul>
            <li id="pt0" data-value="0">Cities</li>
            <li id="pt1" data-value="1">Countries</li>
            <li id="pt2" data-value="2">Heat map</li>
        </ul>
        <input type="hidden" value="0">
    </div>
</form>

<div class="map margin" id="map">   
    @Html.Partial("CountriesLegend")
</div>

    <div class="infoPanel">
        <span style="display: none" class="infoMessage" id="messageNotLogged"><a class="popup-target" data-target="#popup-join" href="#">Join us</a> and keep your personal travel statistics. Invite you friends to create your own travel community. Currently only statistics from from users overall are being displayed. See most popular places what people visited or would like to visit.</span>
        <span style="display: none" class="infoMessage" id="messageCitiesVisited">Keep track of cities you've visited. See cities your friends have visited.</span>
        <span style="display: none" class="infoMessage" id="messageCountriesVisited">Keep track of countries you've visited. See countries your friends have visited. See what countries are being visited mostly.</span>
        <span style="display: none" class="infoMessage" id="messageCitiesInterested">See cities people are most interested in.</span>
        <span style="display: none" class="infoMessage" id="messageCountriesInterested">See countries people are most interested in.</span>
        <span style="display: none" class="infoMessage" id="messagePlaces">See most favourite locations over the world what people like you like to visit. See most favourite locations of your friends.</span>
    </div>

    <div class="squares table row margin2">
    <div class="cell">
        <div class="square"><strong id="CitiesCount" class="countto" data-from="0" data-to="@Model.Cities">0</strong> Cities
        </div>
    </div>
    <div class="cell">
        <div class="square"><strong id="CountriesCount" class="countto" data-from="0" data-to="@Model.Countries">0</strong> Countries
        </div>
    </div>
    <div class="cell">
        <div class="square">
            <strong>
                <span id="TraveledPercent" class="countto" data-from="0" data-to="@Model.WorldTraveled">0</span>
                %
            </strong> of the World
        </div>
    </div>
    @*<div class="cell">
        <div class="square">            
            <strong id="TopCitiesCount">0</strong> Top cities
        </div>
    </div>*@    
    <div class="cell">
        <div class="square"><strong id="StatesCount" class="countto" data-from="0" data-to="@Model.UsStates">0</strong> US States
        </div>
    </div>
</div>

    <div id="bdgs"></div>
</section>


@Html.Partial("ShareDialogPins")