@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@using Microsoft.Data.Entity.Metadata.Internal
@using Newtonsoft.Json
@model PinBoardViewModel


    <div class="popup2 margin" id="popup-share">
        <h3>@Model.W("ShareTitle")</h3>
        <textarea id="message" class="margin" placeholder="@Model.W("Message", "layout")..."></textarea>
        <span class="color1 mright20"><strong>@Model.W("ShareButtons", "layout")</strong></span>
        <div class="table width100">
            <div id="shareCont" class="cell middle">
            </div>
            <div class="cell middle tright">
                <a id="share" class="button" href="#">
                    @Model.W("Share", "layout") <span></span>
                </a>
            </div>
        </div>
        <a class="close" href="#">@Model.W("Close", "layout")</a>
    </div>
