@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model ViewModelTwitterAuthCallback
@{
    Layout = "";
}

@Html.Partial("_GlobalScripts")
<script type="text/javascript" src="@Url.Content("~/js/Views/TwitterAuthView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/registration/SocialButtons.js")"></script>

<script>
    function onload() {
        var response = {
            "userId": "@Model.UserId",
            "accessToken": "@Model.AccessToken",            
            "tokenSecret": "@Model.TokenSecret"
        };

        var view = new Views.TwitterAuthView();
        view.onResponse(response);
    }
</script>

<body onload="onload()">
Redirecting...
</body>