@model Gloobster.Portal.Controllers.TwitterResponse
@{
    Layout = "";
}

@Html.Partial("_GlobalScripts")
<script type="text/javascript" src="@Url.Content("~/js/Views/TwitterAuthView.js")"></script>

<script>
    function onload() {
        var response = {
            "userId": "@Model.userId",
            "accessToken": "@Model.accessToken",
            "expiresAt": "@Model.expiresAt",
            "mail": "@Model.mail",
            "tokenSecret": "@Model.tokenSecret"
        };

        var view = new Views.TwitterAuthView();
        view.handleRoughResponse(response);
    }
</script>

<body onload="onload()">
</body>