@using System.Threading.Tasks
@using Gloobster.Common

@model Gloobster.Portal.Controllers.TwitterResponse
@{
    Layout = "";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery.cookie/jquery.cookie.js"></script>

<script type="text/javascript" src="@Url.Content("~/js/Common/globals.js")"></script>

<script type="text/javascript" src="@Url.Content("~/js/Views/TwitterAuthView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/registration/SocialButtons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/CookieManager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Common/RequestSender.js")"></script>

<script>    
    document["mydomain"] = "@GloobsterConfig.Domain";
</script>

<script>
    function onload() {
        var response = {
            "userId": "@Model.userId",
            "accessToken": "@Model.accessToken",            
            "tokenSecret": "@Model.tokenSecret"
        };

        var view = new Views.TwitterAuthView();
        view.onResponse(response);
    }
</script>

<body onload="onload()">
Redirecting...
</body>