@using Gloobster.Portal.ViewModels
@using System.Linq
@model ViewModelHome

@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="google-site-verification" content="oYdKq1oUoqxCaM5HbFMH1m9V2SGm8j6WxX0mcvDu9Is" />
    <!-- custom meta -->
    @*<meta name="google-signin-client_id" content="430126253289-14tdcfe4noqm6p201jrugpi9dsies2at.apps.googleusercontent.com">*@
    <!-- custom meta end -->

    <title>Gloobster</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="@Url.Content("~/js/script.js")"></script>

    <link href="~/css/style.css" rel="stylesheet">
    
    <style>
        .homepage .maskots {
            background: transparent url("../images/globe3.png") center top no-repeat;
            color: #fff;
            height: 200px;
        }

        .homepage .maskots .logins { 
            top: 100px;
        }
    </style>    
</head>
<body onload="onBodyLoad()" class="homepage" id="top">
<header class="header">
    <div class="wrapper">
        <h1><a href="." class="logo-header">Gloobster</a>
        </h1>

        <div class="menu-holder">
            <div class="tright mhalf">
                @Html.Partial("_LangMenu")
            </div>
            @Html.Partial("_Menu")
        </div>

        <a class="hamburger" data-target="#menu" href="#"><span></span></a>
    </div>

    @Html.Partial("_GlobalScripts")
    <script type="text/javascript" src="@Url.Content("~/js/Views/HomePageView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/registration/FacebookAuth.js")"></script>


</header>

<div id="fb-root"></div>

<div class="maskots margin">
    <div class="wrapper">
        <h1>@Model.W("Motto1")</h1>

        @if (!Model.SocialNetworks.Any())
        {
            <div id="preloader" style="display: none; text-align: center">
                <img src="/images/redirecting.gif" style="height: 100px; border-radius: 5px;" />
            </div>
            <div class="logins">
                <div class="margin">                    
                    <a id="fbBtnHome" class="facebook" href="#">@Model.W("FbButton", "login")</a>
                    <a id="twitterBtnHome" class="twitter" href="#">@Model.W("TwButton", "login")</a>
                    <a id="googleBtnHome" class="google" href="#">@Model.W("GoButton", "login")</a>
                </div>                
            </div>
        }
    </div>
</div>
<section class="wrapper margin3">

    <h2 class="h3 tcenter margin3">@Model.W("Motto2")</h2>
    <div class="table row col3 margin2">
        <div class="cell">
            <div class="box plan tcenter">
                <h3>@Model.W("BoxPinsTitle")</h3>
                <p class="tleft">@Model.W("BoxPinsBody")</p>
                <a class="button" href="/pinboard/pins">@Model.W("BoxPinsLink")</a>
            </div>
        </div>
        <div class="cell">
            <div class="box green plan tcenter">
                <h3>@Model.W("BoxTripsTitle")</h3>
                <p class="tleft">@Model.W("BoxTripsBody")</p>
                <a class="button" href="/trip/list">@Model.W("BoxTripsLink")</a>
            </div>
        </div>
        <div class="cell">
            <div class="box orange share tcenter">
                <h3>@Model.W("BoxWikiTitle")</h3>
                <p class="tleft">@Model.W("BoxWikiBody")</p>
                <a class="button" href="/wiki">@Model.W("BoxWikiLink")</a>
            </div>
        </div>
    </div>


</section>

@Html.Partial("_Footer")

<script>

    function onBodyLoad()
    {
        currentView = new Views.HomePageView();
    }

</script>
</body>
</html>

@*<div onlogin="currentView.loginManager.facebookUserCreator.registerOrLogin()"
         class="fb-login-button"
         data-scope="publish_actions,user_location,user_hometown,public_profile,user_friends,email"
         data-max-rows="1"
         data-size="xlarge"
         data-show-faces="false"
         data-auto-logout-link="false">
        Facebook
    </div>*@