@{
    ViewData["Title"] = "Home Page";
}



<div class="row">

		<script src="https://apis.google.com/js/platform.js?onload=onGoogleScriptsLoaded" async defer></script>

	<script type="text/javascript" src="@Url.Content("~/js/registration/FacebookInit.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/js/registration/GoogleInit.js")"></script>

	<script type="text/javascript" src="@Url.Content("~/js/registration/registration.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/js/registration/CreateUserGoogle.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/js/registration/CreateUserFacebook.js")"></script>
		


	
	<script type="text/javascript" src="@Url.Content("~/js/Common/RequestSender.js")"></script>

		<script type="text/javascript" src="@Url.Content("~/js/Views/ViewBase.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/js/Views/HomePageView.js")"></script>

	<script>


		currentView = new HomePageView();

		function onGoogleScriptsLoaded() {
			currentView.googleInit.initialize();
		}


	</script>


	<div>

			@*<div class="fb-login-button" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>*@
		<fb:login-button scope="user_tagged_places,user_likes,publish_actions,user_location,user_hometown,email,user_status,user_friends" onlogin="currentView.facebookUserCreator.registerOrLogin()">
		</fb:login-button>

		<div id="registerUserForm" style="border: 1px solid black">

			<div>
				<label for="inputMail">Mail</label>
				<input id="inputMail" type="text" name="mail" value=""/>
			</div>

			<div>
				<label for="inputPass">Password</label>
				<input id="inputPass" type="text" name="password" value=""/>
			</div>

			<button onclick="currentView.registerNormal($('#inputMail').val(), $('#inputPass').val())">Register</button>
		</div>

	</div>


		<meta name="google-signin-client_id" content="430126253289-14tdcfe4noqm6p201jrugpi9dsies2at.apps.googleusercontent.com">


		<div id="my-signin2"></div>
		<script>
			//function onSuccess(googleUser) {
			//		console.log('Logged in as: ' + googleUser.getBasicProfile().getName());

			//		currentView.googleUserLogged(googleUser);
			//}
			//function onFailure(error) {
			//  console.log(error);
			//}
			//function renderButton() {
			//  gapi.signin2.render('my-signin2', {
			//    'scope': 'https://www.googleapis.com/auth/plus.login',
			//    'width': 200,
			//    'height': 50,
			//    'longtitle': true,
			//    'theme': 'dark',
			//    'onsuccess': onSuccess,
			//    'onfailure': onFailure
			//  });
			//}

			


		</script>

		


</div>
