@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>



<head>
		<script src="http://www.webglearth.com/v2/api.js"></script>

		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css"/>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>

		<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />


	<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsInterfaces.js")"></script>

		<script type="text/javascript" src="@Url.Content("~/js/Common/RequestSender.js")"></script>

	<script type="text/javascript" src="@Url.Content("~/js/CountryShapes.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/CountryCodes.js")"></script>




		<script type="text/javascript" src="@Url.Content("~/js/Maps/BaseMapsOperation3D.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/js/Maps/BaseMapsOperation2D.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsOperations.js")"></script>

		<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorGlobe3D.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsCreatorMapBox2D.js")"></script>
		
		<script type="text/javascript" src="@Url.Content("~/js/Maps/MapsManager.js")"></script>


		<script type="text/javascript" src="@Url.Content("~/js/Views/ViewBase.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/js/Views/PinBoardView.js")"></script>


	<style>
		
	</style>


	<script>

		var pinBoardView;

		function initialize() {
			pinBoardView = new PinBoardView();
			pinBoardView.initialize();

			$("#countriesAutocomplet").on("input", function() {
				var placeName = $("#countriesAutocomplet").val();

				var url = '/api/place?placeName=' + placeName;

				makeApiCall(url, function(response) {

						$("#countriesResult").show();
					var htmlContent = '';
					response.forEach(function(item) {

						//if (item.population > 0) {
							htmlContent += getItemHtml(item);
						//}
					});

					$("#countriesResult").html(htmlContent);
					$(".cityMenuItem").unbind();
					$(".cityMenuItem").click(function(item) {
						var geoId = $(item.currentTarget).data('id');

						var dataRecord = _.find(response, { 'geonameId': geoId });

						//pinBoardView.mapsManager.mapsOperations.setView(dataRecord.lat, dataRecord.lng, 5);

						var newPlaceRequest = {
								"CountryCode": dataRecord.countryCode,
								"City":  dataRecord.name,
								"PlaceLatitude": dataRecord.lat,
								"PlaceLongitude": dataRecord.lng,
								"SourceId": dataRecord.geonameId,
								"SourceType": "GeoNames"
						};

						$("#countriesResult").hide();

						pinBoardView.saveNewPlace(newPlaceRequest);
					});

				});


			});


		}

		function getItemHtml(item) {
			return '<div class="cityMenuItem" data-id="' + item.geonameId + '">' + item.name + ', ' + item.countryName + ' (pop: ' + item.population + ')' + '</div>';
		}

		function makeApiCall(url, callback) {
			$.ajax({
				type: 'GET',
				url: url,
				success(response) {
					callback(response);
				},
				error(res) {

					//todo: some universal error handler
					alert(JSON.stringify(res));
				}
			});
		}


		//tabs -----


		function buttonClicked(viewType) {
				pinBoardView.mapsManager.switchToView(viewType);
		}


	</script>
</head>
<body onload="initialize()">

		<input type="text" id="countriesAutocomplet"/>
		<div id="countriesResult" style="border: 1px solid red"></div>

		<div class="tabMenu">
			<button class="tabMenu_button" type="button" onclick="buttonClicked(Maps.ViewType.D3)">3D</button>
			<button class="tabMenu_button" type="button" onclick="buttonClicked(Maps.ViewType.D2)">2D</button>
			<button class="tabMenu_button" type="button" onclick="buttonClicked(Maps.ViewType.D1)">1D</button>
		</div>
<div class="tabContent">
		<div id="map" style="width: 800px; height: 600px; border: 1px solid black;"></div>
</div>

		
</body>
